<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>561</integer>
	<key>capHeight</key>
	<integer>535</integer>
	<key>copyright</key>
	<string>Copyright (c) 2016, Erin McLaughlin (hello@erinmclaughlin.com). Digitized data copyright 2016, Google Corporation.</string>
	<key>descender</key>
	<integer>-191</integer>
	<key>familyName</key>
	<string>Hubballi</string>
	<key>openTypeHeadCreated</key>
	<string>2016/03/30 09:59:32</string>
	<key>openTypeNameDesigner</key>
	<string>Erin McLaughlin</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.erinmclaughlin.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1.</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Hubballi</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>22</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>GOOG</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-193</integer>
		<integer>-191</integer>
		<integer>-9</integer>
		<integer>26</integer>
		<integer>390</integer>
		<integer>396</integer>
		<integer>454</integer>
		<integer>457</integer>
		<integer>531</integer>
		<integer>544</integer>
		<integer>559</integer>
		<integer>562</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Hubballi-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>462</integer>
		<integer>471</integer>
		<integer>634</integer>
		<integer>635</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>392</integer>
</dict>
</plist>
