<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>Lcommaaccent</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>at</string>
		<string>copyright</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk</string>
		<string>degree</string>
		<string>onesuperior</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>registered</string>
		<string>threesuperior</string>
		<string>trademark</string>
		<string>twosuperior</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_exclam</key>
	<array>
		<string>colon</string>
		<string>exclam</string>
		<string>guilsinglleft</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>divide</string>
		<string>emdash</string>
		<string>endash</string>
		<string>greater</string>
		<string>guilsinglright</string>
		<string>hyphen</string>
		<string>minus</string>
		<string>plus</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_knBHA</key>
	<array>
		<string>be-kannada</string>
		<string>bhe-kannada</string>
		<string>bhi-kannada</string>
		<string>bha-kannada</string>
		<string>bi-kannada</string>
	</array>
	<key>@MMK_L_knCA</key>
	<array>
		<string>ca-kannada</string>
		<string>ce-kannada</string>
		<string>ci-kannada</string>
	</array>
	<key>@MMK_L_knCHA</key>
	<array>
		<string>cha-kannada</string>
		<string>fa-kannada</string>
		<string>che-kannada</string>
		<string>chi-kannada</string>
		<string>fi-kannada</string>
	</array>
	<key>@MMK_L_knDA</key>
	<array>
		<string>da-kannada</string>
		<string>dda-kannada</string>
		<string>ddha-kannada</string>
		<string>dha-kannada</string>
		<string>tha-kannada</string>
		<string>dde-kannada</string>
		<string>ddhe-kannada</string>
		<string>ddhi-kannada</string>
		<string>ddi-kannada</string>
		<string>de-kannada</string>
		<string>dhe-kannada</string>
		<string>dhi-kannada</string>
		<string>di-kannada</string>
		<string>thi-kannada</string>
		<string>the-kannada</string>
	</array>
	<key>@MMK_L_knGA</key>
	<array>
		<string>ga-kannada</string>
		<string>ge-kannada</string>
		<string>gi-kannada</string>
	</array>
	<key>@MMK_L_knGHA</key>
	<array>
		<string>ghi-kannada</string>
		<string>gha-kannada</string>
		<string>ghe-kannada</string>
	</array>
	<key>@MMK_L_knHA</key>
	<array>
		<string>he-kannada</string>
		<string>hi-kannada</string>
		<string>ha-kannada</string>
	</array>
	<key>@MMK_L_knJA</key>
	<array>
		<string>ja-kannada</string>
		<string>je-kannada</string>
		<string>ji-kannada</string>
		<string>o-kannada</string>
		<string>oo-kannada</string>
		<string>au-kannada</string>
		<string>nga-kannada</string>
	</array>
	<key>@MMK_L_knKA</key>
	<array>
		<string>ka-kannada</string>
		<string>ke-kannada</string>
		<string>ki-kannada</string>
	</array>
	<key>@MMK_L_knKHA</key>
	<array>
		<string>khe-kannada</string>
		<string>khi-kannada</string>
	</array>
	<key>@MMK_L_knLA</key>
	<array>
		<string>la-kannada</string>
		<string>le-kannada</string>
		<string>li-kannada</string>
		<string>a-kannada</string>
		<string>anusvara-kannada</string>
	</array>
	<key>@MMK_L_knLLA</key>
	<array>
		<string>lla-kannada</string>
		<string>lle-kannada</string>
		<string>lli-kannada</string>
	</array>
	<key>@MMK_L_knNA</key>
	<array>
		<string>na-kannada</string>
		<string>ne-kannada</string>
		<string>ni-kannada</string>
	</array>
	<key>@MMK_L_knNNA</key>
	<array>
		<string>ai-kannada</string>
		<string>nna-kannada</string>
		<string>nne-kannada</string>
		<string>nni-kannada</string>
	</array>
	<key>@MMK_L_knNYA</key>
	<array>
		<string>nya-kannada</string>
	</array>
	<key>@MMK_L_knPA</key>
	<array>
		<string>pa-kannada</string>
		<string>pha-kannada</string>
		<string>phe-kannada</string>
		<string>pe-kannada</string>
	</array>
	<key>@MMK_L_knPI</key>
	<array>
		<string>phi-kannada</string>
		<string>pi-kannada</string>
		<string>si-kannada</string>
		<string>ssi-kannada</string>
	</array>
	<key>@MMK_L_knRA</key>
	<array>
		<string>ra-kannada</string>
		<string>re-kannada</string>
		<string>ri-kannada</string>
		<string>tthi-kannada</string>
		<string>ttha-kannada</string>
		<string>tthe-kannada</string>
	</array>
	<key>@MMK_L_knSA</key>
	<array>
		<string>sa-kannada</string>
		<string>se-kannada</string>
	</array>
	<key>@MMK_L_knSHA</key>
	<array>
		<string>ssa-kannada</string>
		<string>sse-kannada</string>
	</array>
	<key>@MMK_L_knSSA</key>
	<array>
		<string>sha-kannada</string>
		<string>she-kannada</string>
		<string>shi-kannada</string>
	</array>
	<key>@MMK_L_knSub</key>
	<array>
		<string>ga-kannada.below</string>
		<string>da-kannada.below</string>
		<string>dda-kannada.below</string>
		<string>ddha-kannada.below</string>
		<string>dha-kannada.below</string>
		<string>tha-kannada.below</string>
		<string>ca-kannada.below</string>
		<string>ha-kannada.below</string>
		<string>ja-kannada.below</string>
		<string>jha-kannada.below</string>
		<string>la-kannada.below</string>
		<string>fa-kannada.below</string>
		<string>nga-kannada.below</string>
		<string>nna-kannada.below</string>
		<string>nya-kannada.below</string>
		<string>ta-kannada.below</string>
		<string>ttha-kannada.below</string>
		<string>va-kannada.below</string>
	</array>
	<key>@MMK_L_knSubTall</key>
	<array>
		<string>ba-kannada.below</string>
		<string>bha-kannada.below</string>
		<string>cha-kannada.below</string>
		<string>gha-kannada.below</string>
		<string>ka-kannada.below</string>
		<string>kha-kannada.below</string>
		<string>lla-kannada.below</string>
		<string>ma-kannada.below</string>
		<string>na-kannada.below</string>
		<string>pa-kannada.below</string>
		<string>pha-kannada.below</string>
		<string>ra-kannada.below</string>
		<string>sa-kannada.below</string>
		<string>sha-kannada.below</string>
		<string>ssa-kannada.below</string>
		<string>tta-kannada.below</string>
		<string>ya-kannada.below</string>
		<string>ba-kannada.below.following</string>
		<string>bha-kannada.below.following</string>
		<string>cha-kannada.below.following</string>
		<string>gha-kannada.below.following</string>
		<string>ka-kannada.below.following</string>
		<string>kha-kannada.below.following</string>
		<string>lla-kannada.below.following</string>
		<string>ma-kannada.below.following</string>
		<string>na-kannada.below.following</string>
		<string>pa-kannada.below.following</string>
		<string>pha-kannada.below.following</string>
		<string>ra-kannada.below.following</string>
		<string>sa-kannada.below.following</string>
		<string>sha-kannada.below.following</string>
		<string>ssa-kannada.below.following</string>
		<string>tta-kannada.below.following</string>
		<string>ya-kannada.below.following</string>
		<string>rVocalicMatra-kannada</string>
		<string>rrVocalicMatra-kannada</string>
		<string>ailength-kannada</string>
		<string>ka_ssa-kannada.below.following</string>
		<string>ka_ssa-kannada.below</string>
		<string>rVocalicMatra-kannada.following</string>
		<string>rrVocalicMatra-kannada.following</string>
		<string>ailength-kannada.following</string>
		<string>ta_ra-kannada.below</string>
		<string>ta_ra-kannada.below.following</string>
	</array>
	<key>@MMK_L_knSubfollowing</key>
	<array>
		<string>ca-kannada.below.following</string>
		<string>da-kannada.below.following</string>
		<string>dda-kannada.below.following</string>
		<string>ddha-kannada.below.following</string>
		<string>dha-kannada.below.following</string>
		<string>ga-kannada.below.following</string>
		<string>ja-kannada.below.following</string>
		<string>jha-kannada.below.following</string>
		<string>nga-kannada.below.following</string>
		<string>nna-kannada.below.following</string>
		<string>nya-kannada.below.following</string>
		<string>ta-kannada.below.following</string>
		<string>tha-kannada.below.following</string>
		<string>ttha-kannada.below.following</string>
		<string>fa-kannada.below.following</string>
		<string>ha-kannada.below.following</string>
		<string>la-kannada.below.following</string>
		<string>va-kannada.below.following</string>
	</array>
	<key>@MMK_L_knTA</key>
	<array>
		<string>ti-kannada</string>
		<string>ta-kannada</string>
		<string>te-kannada</string>
	</array>
	<key>@MMK_L_knTTA</key>
	<array>
		<string>tta-kannada</string>
		<string>tte-kannada</string>
		<string>tti-kannada</string>
	</array>
	<key>@MMK_L_knVA</key>
	<array>
		<string>e-kannada</string>
		<string>ee-kannada</string>
		<string>va-kannada</string>
		<string>ve-kannada</string>
		<string>vi-kannada</string>
	</array>
	<key>@MMK_L_knsignAA</key>
	<array>
		<string>baa-kannada</string>
		<string>bhaa-kannada</string>
		<string>caa-kannada</string>
		<string>chaa-kannada</string>
		<string>daa-kannada</string>
		<string>ddaa-kannada</string>
		<string>ddhaa-kannada</string>
		<string>faa-kannada</string>
		<string>gaa-kannada</string>
		<string>ghaa-kannada</string>
		<string>haa-kannada</string>
		<string>jhaa-kannada</string>
		<string>kaa-kannada</string>
		<string>khaa-kannada</string>
		<string>laa-kannada</string>
		<string>llVocalic-kannada</string>
		<string>llaa-kannada</string>
		<string>maa-kannada</string>
		<string>naa-kannada</string>
		<string>ngaa-kannada</string>
		<string>nnaa-kannada</string>
		<string>nyaa-kannada</string>
		<string>paa-kannada</string>
		<string>phaa-kannada</string>
		<string>raa-kannada</string>
		<string>saa-kannada</string>
		<string>shaa-kannada</string>
		<string>ssaa-kannada</string>
		<string>taa-kannada</string>
		<string>thaa-kannada</string>
		<string>ttaa-kannada</string>
		<string>tthaa-kannada</string>
		<string>vaa-kannada</string>
		<string>yaa-kannada</string>
		<string>dhaa-kannada</string>
	</array>
	<key>@MMK_L_knsignAU</key>
	<array>
		<string>bau-kannada</string>
		<string>bhau-kannada</string>
		<string>cau-kannada</string>
		<string>chau-kannada</string>
		<string>dau-kannada</string>
		<string>ddau-kannada</string>
		<string>ddhau-kannada</string>
		<string>dhau-kannada</string>
		<string>fau-kannada</string>
		<string>ghau-kannada</string>
		<string>hau-kannada</string>
		<string>jaa-kannada</string>
		<string>jau-kannada</string>
		<string>jhau-kannada</string>
		<string>kau-kannada</string>
		<string>khau-kannada</string>
		<string>lau-kannada</string>
		<string>llau-kannada</string>
		<string>mau-kannada</string>
		<string>nau-kannada</string>
		<string>ngau-kannada</string>
		<string>nnau-kannada</string>
		<string>nyau-kannada</string>
		<string>pau-kannada</string>
		<string>phau-kannada</string>
		<string>rau-kannada</string>
		<string>sau-kannada</string>
		<string>shau-kannada</string>
		<string>ssau-kannada</string>
		<string>tau-kannada</string>
		<string>thau-kannada</string>
		<string>ttau-kannada</string>
		<string>vau-kannada</string>
		<string>yau-kannada</string>
		<string>tthau-kannada</string>
		<string>gau-kannada</string>
	</array>
	<key>@MMK_L_knsignEIvariants</key>
	<array>
		<string>nye-kannada</string>
		<string>nyi-kannada</string>
		<string>nge-kannada</string>
		<string>ngi-kannada</string>
		<string>fe-kannada</string>
	</array>
	<key>@MMK_L_knsignU</key>
	<array>
		<string>bhu-kannada</string>
		<string>bu-kannada</string>
		<string>chu-kannada</string>
		<string>cu-kannada</string>
		<string>ddu-kannada</string>
		<string>dhu-kannada</string>
		<string>du-kannada</string>
		<string>fu-kannada</string>
		<string>gu-kannada</string>
		<string>jhe-kannada</string>
		<string>jhi-kannada</string>
		<string>jhu-kannada</string>
		<string>ju-kannada</string>
		<string>ku-kannada</string>
		<string>lu-kannada</string>
		<string>me-kannada</string>
		<string>mi-kannada</string>
		<string>hu-kannada</string>
		<string>khu-kannada</string>
		<string>llu-kannada</string>
		<string>mu-kannada</string>
		<string>ngu-kannada</string>
		<string>ru-kannada</string>
		<string>su-kannada</string>
		<string>tthu-kannada</string>
		<string>ttu-kannada</string>
		<string>tu-kannada</string>
		<string>ye-kannada</string>
		<string>yi-kannada</string>
		<string>yu-kannada</string>
		<string>nu-kannada</string>
		<string>nyu-kannada</string>
		<string>shu-kannada</string>
		<string>ssu-kannada</string>
		<string>thu-kannada</string>
		<string>nnu-kannada</string>
		<string>ghu-kannada</string>
		<string>ddhu-kannada</string>
		<string>rVocalic-kannada</string>
		<string>u-kannada</string>
		<string>lVocalic-kannada</string>
		<string>kha-kannada</string>
		<string>jha-kannada</string>
		<string>ma-kannada</string>
		<string>ba-kannada</string>
		<string>ya-kannada</string>
	</array>
	<key>@MMK_L_knsignUU</key>
	<array>
		<string>ruu-kannada</string>
		<string>sho-kannada</string>
		<string>shuu-kannada</string>
		<string>so-kannada</string>
		<string>sso-kannada</string>
		<string>ssuu-kannada</string>
		<string>suu-kannada</string>
		<string>tho-kannada</string>
		<string>thuu-kannada</string>
		<string>to-kannada</string>
		<string>ttho-kannada</string>
		<string>tthuu-kannada</string>
		<string>tto-kannada</string>
		<string>ttuu-kannada</string>
		<string>tuu-kannada</string>
		<string>vo-kannada</string>
		<string>vuu-kannada</string>
		<string>yo-kannada</string>
		<string>yuu-kannada</string>
		<string>huu-kannada</string>
		<string>jho-kannada</string>
		<string>jhuu-kannada</string>
		<string>jo-kannada</string>
		<string>juu-kannada</string>
		<string>kho-kannada</string>
		<string>khuu-kannada</string>
		<string>ko-kannada</string>
		<string>kuu-kannada</string>
		<string>llo-kannada</string>
		<string>lluu-kannada</string>
		<string>lo-kannada</string>
		<string>luu-kannada</string>
		<string>mo-kannada</string>
		<string>muu-kannada</string>
		<string>ngo-kannada</string>
		<string>nguu-kannada</string>
		<string>nno-kannada</string>
		<string>nnuu-kannada</string>
		<string>no-kannada</string>
		<string>nuu-kannada</string>
		<string>nyo-kannada</string>
		<string>nyuu-kannada</string>
		<string>pho-kannada</string>
		<string>phuu-kannada</string>
		<string>po-kannada</string>
		<string>puu-kannada</string>
		<string>ro-kannada</string>
		<string>ddhuu-kannada</string>
		<string>ddo-kannada</string>
		<string>dduu-kannada</string>
		<string>ghuu-kannada</string>
		<string>go-kannada</string>
		<string>guu-kannada</string>
		<string>ho-kannada</string>
		<string>duu-kannada</string>
		<string>fo-kannada</string>
		<string>fuu-kannada</string>
		<string>gho-kannada</string>
		<string>dho-kannada</string>
		<string>dhuu-kannada</string>
		<string>do-kannada</string>
		<string>cuu-kannada</string>
		<string>ddho-kannada</string>
		<string>bho-kannada</string>
		<string>bhuu-kannada</string>
		<string>bo-kannada</string>
		<string>buu-kannada</string>
		<string>cho-kannada</string>
		<string>chuu-kannada</string>
		<string>co-kannada</string>
		<string>uu-kannada</string>
		<string>rrVocalic-kannada</string>
	</array>
	<key>@MMK_L_knsignUlow</key>
	<array>
		<string>phu-kannada</string>
		<string>pu-kannada</string>
		<string>vu-kannada</string>
	</array>
	<key>@MMK_L_knsignVirama</key>
	<array>
		<string>j-kannada</string>
		<string>k-kannada</string>
		<string>l-kannada</string>
		<string>m-kannada</string>
		<string>n-kannada</string>
		<string>ng-kannada</string>
		<string>nn-kannada</string>
		<string>ny-kannada</string>
		<string>p-kannada</string>
		<string>ph-kannada</string>
		<string>s-kannada</string>
		<string>sh-kannada</string>
		<string>t-kannada</string>
		<string>tt-kannada</string>
		<string>tth-kannada</string>
		<string>v-kannada</string>
		<string>y-kannada</string>
		<string>f-kannada</string>
		<string>gh-kannada</string>
		<string>h-kannada</string>
		<string>jh-kannada</string>
		<string>bh-kannada</string>
		<string>c-kannada</string>
		<string>ch-kannada</string>
		<string>d-kannada</string>
		<string>dd-kannada</string>
		<string>ddh-kannada</string>
		<string>b-kannada</string>
		<string>reph-kannada</string>
		<string>r-kannada</string>
		<string>kh-kannada</string>
		<string>ll-kannada</string>
		<string>dh-kannada</string>
		<string>g-kannada</string>
		<string>ss-kannada</string>
		<string>th-kannada</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>ae</string>
		<string>b</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>braceleft</string>
		<string>bracketleft</string>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
		<string>quotedbl</string>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tcedilla</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>at</string>
		<string>copyright</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
		<string>degree</string>
		<string>onesuperior</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>registered</string>
		<string>threesuperior</string>
		<string>trademark</string>
		<string>twosuperior</string>
	</array>
	<key>@MMK_R_exclam</key>
	<array>
		<string>colon</string>
		<string>exclam</string>
		<string>guilsinglright</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>divide</string>
		<string>emdash</string>
		<string>endash</string>
		<string>guilsinglleft</string>
		<string>hyphen</string>
		<string>less</string>
		<string>minus</string>
		<string>plus</string>
	</array>
	<key>@MMK_R_knBA</key>
	<array>
		<string>au-kannada</string>
		<string>ja-kannada</string>
		<string>nga-kannada</string>
		<string>o-kannada</string>
		<string>oo-kannada</string>
		<string>ba-kannada</string>
		<string>bha-kannada</string>
		<string>b-kannada</string>
		<string>baa-kannada</string>
		<string>bau-kannada</string>
		<string>be-kannada</string>
		<string>bh-kannada</string>
		<string>bhaa-kannada</string>
		<string>bhau-kannada</string>
		<string>bhe-kannada</string>
		<string>bhi-kannada</string>
		<string>bho-kannada</string>
		<string>bhu-kannada</string>
		<string>bhuu-kannada</string>
		<string>bi-kannada</string>
		<string>bo-kannada</string>
		<string>bu-kannada</string>
		<string>buu-kannada</string>
		<string>c-kannada</string>
		<string>caa-kannada</string>
		<string>cau-kannada</string>
		<string>ce-kannada</string>
		<string>ci-kannada</string>
		<string>co-kannada</string>
		<string>cu-kannada</string>
		<string>cuu-kannada</string>
		<string>j-kannada</string>
		<string>jaa-kannada</string>
		<string>jau-kannada</string>
		<string>je-kannada</string>
		<string>ji-kannada</string>
		<string>jo-kannada</string>
		<string>ju-kannada</string>
		<string>juu-kannada</string>
		<string>ng-kannada</string>
		<string>ngaa-kannada</string>
		<string>ngau-kannada</string>
		<string>nge-kannada</string>
		<string>ngi-kannada</string>
		<string>ngo-kannada</string>
		<string>ngu-kannada</string>
		<string>nguu-kannada</string>
		<string>ca-kannada</string>
		<string>bha-kannada.base</string>
		<string>ca-kannada.base</string>
		<string>ja-kannada.base</string>
		<string>nga-kannada.base</string>
		<string>pa-kannada.base</string>
		<string>pha-kannada.base</string>
		<string>ba-kannada.base</string>
	</array>
	<key>@MMK_R_knDA</key>
	<array>
		<string>da-kannada.base</string>
		<string>dda-kannada.base</string>
		<string>ddha-kannada.base</string>
		<string>dha-kannada.base</string>
		<string>tha-kannada.base</string>
		<string>da-kannada</string>
		<string>dha-kannada</string>
		<string>tha-kannada</string>
		<string>dda-kannada</string>
		<string>ddha-kannada</string>
		<string>th-kannada</string>
		<string>thaa-kannada</string>
		<string>thau-kannada</string>
		<string>the-kannada</string>
		<string>thi-kannada</string>
		<string>tho-kannada</string>
		<string>thu-kannada</string>
		<string>thuu-kannada</string>
		<string>d-kannada</string>
		<string>daa-kannada</string>
		<string>dau-kannada</string>
		<string>dd-kannada</string>
		<string>ddaa-kannada</string>
		<string>ddau-kannada</string>
		<string>dde-kannada</string>
		<string>ddh-kannada</string>
		<string>ddhaa-kannada</string>
		<string>ddhau-kannada</string>
		<string>ddhe-kannada</string>
		<string>ddhi-kannada</string>
		<string>ddho-kannada</string>
		<string>ddhu-kannada</string>
		<string>ddhuu-kannada</string>
		<string>ddi-kannada</string>
		<string>ddo-kannada</string>
		<string>ddu-kannada</string>
		<string>dduu-kannada</string>
		<string>de-kannada</string>
		<string>dh-kannada</string>
		<string>dhaa-kannada</string>
		<string>dhau-kannada</string>
		<string>dhe-kannada</string>
		<string>dhi-kannada</string>
		<string>dho-kannada</string>
		<string>dhu-kannada</string>
		<string>dhuu-kannada</string>
		<string>di-kannada</string>
		<string>do-kannada</string>
		<string>du-kannada</string>
		<string>duu-kannada</string>
	</array>
	<key>@MMK_R_knE</key>
	<array>
		<string>e-kannada</string>
		<string>ee-kannada</string>
		<string>ai-kannada</string>
	</array>
	<key>@MMK_R_knGA</key>
	<array>
		<string>ga-kannada.base</string>
		<string>ga-kannada</string>
		<string>g-kannada</string>
		<string>gau-kannada</string>
		<string>gaa-kannada</string>
		<string>ge-kannada</string>
		<string>gi-kannada</string>
		<string>gu-kannada</string>
		<string>go-kannada</string>
		<string>guu-kannada</string>
	</array>
	<key>@MMK_R_knHA</key>
	<array>
		<string>h-kannada</string>
		<string>ho-kannada</string>
		<string>hu-kannada</string>
		<string>huu-kannada</string>
		<string>hau-kannada</string>
		<string>haa-kannada</string>
		<string>hi-kannada</string>
		<string>he-kannada</string>
		<string>ha-kannada</string>
		<string>ha-kannada.base</string>
	</array>
	<key>@MMK_R_knKA</key>
	<array>
		<string>ka-kannada</string>
		<string>ka-kannada.base</string>
		<string>ke-kannada</string>
		<string>k-kannada</string>
		<string>kaa-kannada</string>
		<string>kau-kannada</string>
		<string>ki-kannada</string>
		<string>ko-kannada</string>
		<string>ku-kannada</string>
		<string>kuu-kannada</string>
	</array>
	<key>@MMK_R_knKAc2</key>
	<array>
		<string>lla-kannada.below</string>
		<string>sa-kannada.below</string>
		<string>sha-kannada.below</string>
		<string>ssa-kannada.below</string>
		<string>ba-kannada.below</string>
		<string>bha-kannada.below</string>
		<string>cha-kannada.below</string>
		<string>gha-kannada.below</string>
		<string>ka-kannada.below</string>
		<string>kha-kannada.below</string>
		<string>ma-kannada.below</string>
		<string>na-kannada.below</string>
		<string>pa-kannada.below</string>
		<string>pha-kannada.below</string>
		<string>ra-kannada.below</string>
		<string>tta-kannada.below</string>
		<string>ya-kannada.below</string>
		<string>ailength-kannada</string>
		<string>rVocalicMatra-kannada</string>
		<string>rrVocalicMatra-kannada</string>
		<string>ka_ssa-kannada.below</string>
		<string>ta_ra-kannada.below</string>
	</array>
	<key>@MMK_R_knKHA</key>
	<array>
		<string>kha-kannada</string>
		<string>rVocalic-kannada</string>
		<string>rrVocalic-kannada</string>
		<string>kha-kannada.base</string>
		<string>kh-kannada</string>
		<string>khaa-kannada</string>
		<string>khau-kannada</string>
		<string>khe-kannada</string>
		<string>khi-kannada</string>
		<string>kho-kannada</string>
		<string>khu-kannada</string>
		<string>khuu-kannada</string>
	</array>
	<key>@MMK_R_knLA</key>
	<array>
		<string>l-kannada</string>
		<string>laa-kannada</string>
		<string>lau-kannada</string>
		<string>le-kannada</string>
		<string>li-kannada</string>
		<string>lo-kannada</string>
		<string>lu-kannada</string>
		<string>luu-kannada</string>
		<string>a-kannada</string>
		<string>aa-kannada</string>
		<string>la-kannada</string>
		<string>u-kannada</string>
		<string>uu-kannada</string>
		<string>la-kannada.base</string>
		<string>anusvara-kannada</string>
	</array>
	<key>@MMK_R_knLLA</key>
	<array>
		<string>lla-kannada.base</string>
		<string>lla-kannada</string>
		<string>ll-kannada</string>
		<string>llaa-kannada</string>
		<string>llau-kannada</string>
		<string>lle-kannada</string>
		<string>lli-kannada</string>
		<string>llo-kannada</string>
		<string>llu-kannada</string>
		<string>lluu-kannada</string>
	</array>
	<key>@MMK_R_knNA</key>
	<array>
		<string>su-kannada</string>
		<string>suu-kannada</string>
		<string>so-kannada</string>
		<string>s-kannada</string>
		<string>saa-kannada</string>
		<string>sau-kannada</string>
		<string>se-kannada</string>
		<string>no-kannada</string>
		<string>nu-kannada</string>
		<string>nuu-kannada</string>
		<string>n-kannada</string>
		<string>naa-kannada</string>
		<string>nau-kannada</string>
		<string>ne-kannada</string>
		<string>ni-kannada</string>
		<string>sa-kannada</string>
		<string>na-kannada</string>
		<string>na-kannada.base</string>
		<string>sa-kannada.base</string>
	</array>
	<key>@MMK_R_knNYA</key>
	<array>
		<string>i-kannada</string>
		<string>nya-kannada.base</string>
		<string>nya-kannada</string>
		<string>llVocalic-kannada</string>
		<string>lVocalic-kannada</string>
		<string>ny-kannada</string>
		<string>nyaa-kannada</string>
		<string>nyau-kannada</string>
		<string>nye-kannada</string>
		<string>nyi-kannada</string>
		<string>nyo-kannada</string>
		<string>nyu-kannada</string>
		<string>nyuu-kannada</string>
	</array>
	<key>@MMK_R_knPA</key>
	<array>
		<string>p-kannada</string>
		<string>paa-kannada</string>
		<string>pau-kannada</string>
		<string>pe-kannada</string>
		<string>ph-kannada</string>
		<string>phaa-kannada</string>
		<string>phau-kannada</string>
		<string>phe-kannada</string>
		<string>pho-kannada</string>
		<string>phu-kannada</string>
		<string>phuu-kannada</string>
		<string>po-kannada</string>
		<string>pu-kannada</string>
		<string>puu-kannada</string>
		<string>sso-kannada</string>
		<string>ssu-kannada</string>
		<string>ssuu-kannada</string>
		<string>ss-kannada</string>
		<string>ssaa-kannada</string>
		<string>ssau-kannada</string>
		<string>sse-kannada</string>
		<string>gh-kannada</string>
		<string>ghaa-kannada</string>
		<string>ghau-kannada</string>
		<string>ghe-kannada</string>
		<string>gho-kannada</string>
		<string>ghu-kannada</string>
		<string>ghuu-kannada</string>
		<string>gha-kannada.base</string>
		<string>ssa-kannada.base</string>
		<string>pa-kannada</string>
		<string>pha-kannada</string>
		<string>gha-kannada</string>
		<string>ssa-kannada</string>
	</array>
	<key>@MMK_R_knPI</key>
	<array>
		<string>phi-kannada</string>
		<string>pi-kannada</string>
		<string>si-kannada</string>
		<string>ssi-kannada</string>
		<string>ghi-kannada</string>
	</array>
	<key>@MMK_R_knRA</key>
	<array>
		<string>ii-kannada</string>
		<string>jha-kannada</string>
		<string>ra-kannada</string>
		<string>ttha-kannada</string>
		<string>jha-kannada.base</string>
		<string>ra-kannada.base</string>
		<string>ttha-kannada.base</string>
		<string>tth-kannada</string>
		<string>tthaa-kannada</string>
		<string>tthau-kannada</string>
		<string>tthe-kannada</string>
		<string>tthi-kannada</string>
		<string>ttho-kannada</string>
		<string>tthu-kannada</string>
		<string>tthuu-kannada</string>
		<string>ru-kannada</string>
		<string>ruu-kannada</string>
		<string>ri-kannada</string>
		<string>ro-kannada</string>
		<string>re-kannada</string>
		<string>r-kannada</string>
		<string>raa-kannada</string>
		<string>rau-kannada</string>
		<string>jh-kannada</string>
		<string>jhaa-kannada</string>
		<string>jhau-kannada</string>
		<string>jhe-kannada</string>
		<string>jhi-kannada</string>
		<string>jho-kannada</string>
		<string>jhu-kannada</string>
		<string>jhuu-kannada</string>
	</array>
	<key>@MMK_R_knRRA</key>
	<array>
		<string>f-kannada</string>
		<string>faa-kannada</string>
		<string>fau-kannada</string>
		<string>fe-kannada</string>
		<string>fi-kannada</string>
		<string>fo-kannada</string>
		<string>fu-kannada</string>
		<string>fuu-kannada</string>
		<string>ch-kannada</string>
		<string>chaa-kannada</string>
		<string>chau-kannada</string>
		<string>che-kannada</string>
		<string>chi-kannada</string>
		<string>cho-kannada</string>
		<string>chu-kannada</string>
		<string>chuu-kannada</string>
		<string>cha-kannada</string>
		<string>cha-kannada.base</string>
		<string>fa-kannada</string>
		<string>fa-kannada.base</string>
	</array>
	<key>@MMK_R_knSHA</key>
	<array>
		<string>sha-kannada.base</string>
		<string>sha-kannada</string>
		<string>sh-kannada</string>
		<string>shaa-kannada</string>
		<string>shau-kannada</string>
		<string>she-kannada</string>
		<string>shi-kannada</string>
		<string>sho-kannada</string>
		<string>shu-kannada</string>
		<string>shuu-kannada</string>
	</array>
	<key>@MMK_R_knSubs</key>
	<array>
		<string>ca-kannada.below</string>
		<string>da-kannada.below</string>
		<string>dda-kannada.below</string>
		<string>ddha-kannada.below</string>
		<string>dha-kannada.below</string>
		<string>fa-kannada.below</string>
		<string>ga-kannada.below</string>
		<string>ha-kannada.below</string>
		<string>ja-kannada.below</string>
		<string>jha-kannada.below</string>
		<string>la-kannada.below</string>
		<string>nga-kannada.below</string>
		<string>nna-kannada.below</string>
		<string>nya-kannada.below</string>
		<string>ta-kannada.below</string>
		<string>tha-kannada.below</string>
		<string>ttha-kannada.below</string>
		<string>va-kannada.below</string>
		<string>lVocalicMatra-kannada</string>
		<string>llVocalicMatra-kannada</string>
	</array>
	<key>@MMK_R_knSubsfollow</key>
	<array>
		<string>ba-kannada.below.following</string>
		<string>bha-kannada.below.following</string>
		<string>ca-kannada.below.following</string>
		<string>cha-kannada.below.following</string>
		<string>da-kannada.below.following</string>
		<string>dda-kannada.below.following</string>
		<string>ddha-kannada.below.following</string>
		<string>dha-kannada.below.following</string>
		<string>fa-kannada.below.following</string>
		<string>ga-kannada.below.following</string>
		<string>gha-kannada.below.following</string>
		<string>ha-kannada.below.following</string>
		<string>ja-kannada.below.following</string>
		<string>jha-kannada.below.following</string>
		<string>ka-kannada.below.following</string>
		<string>kha-kannada.below.following</string>
		<string>la-kannada.below.following</string>
		<string>lla-kannada.below.following</string>
		<string>ma-kannada.below.following</string>
		<string>na-kannada.below.following</string>
		<string>nga-kannada.below.following</string>
		<string>nna-kannada.below.following</string>
		<string>nya-kannada.below.following</string>
		<string>pa-kannada.below.following</string>
		<string>pha-kannada.below.following</string>
		<string>ra-kannada.below.following</string>
		<string>sa-kannada.below.following</string>
		<string>sha-kannada.below.following</string>
		<string>ssa-kannada.below.following</string>
		<string>ta-kannada.below.following</string>
		<string>tha-kannada.below.following</string>
		<string>tta-kannada.below.following</string>
		<string>ttha-kannada.below.following</string>
		<string>va-kannada.below.following</string>
		<string>ya-kannada.below.following</string>
		<string>ka_ssa-kannada.below.following</string>
		<string>ta_ra-kannada.below.following</string>
		<string>ailength-kannada.following</string>
		<string>rVocalicMatra-kannada.following</string>
		<string>rrVocalicMatra-kannada.following</string>
	</array>
	<key>@MMK_R_knTA</key>
	<array>
		<string>t-kannada</string>
		<string>taa-kannada</string>
		<string>tau-kannada</string>
		<string>te-kannada</string>
		<string>ti-kannada</string>
		<string>to-kannada</string>
		<string>ta-kannada.base</string>
		<string>ta-kannada</string>
		<string>tu-kannada</string>
		<string>tuu-kannada</string>
	</array>
	<key>@MMK_R_knTTA</key>
	<array>
		<string>tt-kannada</string>
		<string>ttaa-kannada</string>
		<string>ttau-kannada</string>
		<string>tte-kannada</string>
		<string>tti-kannada</string>
		<string>tto-kannada</string>
		<string>ttu-kannada</string>
		<string>ttuu-kannada</string>
		<string>nn-kannada</string>
		<string>nnaa-kannada</string>
		<string>nnau-kannada</string>
		<string>nne-kannada</string>
		<string>nni-kannada</string>
		<string>nno-kannada</string>
		<string>nnu-kannada</string>
		<string>nnuu-kannada</string>
		<string>nna-kannada</string>
		<string>nna-kannada.base</string>
		<string>tta-kannada</string>
		<string>tta-kannada.base</string>
	</array>
	<key>@MMK_R_knVA</key>
	<array>
		<string>ma-kannada</string>
		<string>va-kannada</string>
		<string>ma-kannada.base</string>
		<string>va-kannada.base</string>
		<string>m-kannada</string>
		<string>maa-kannada</string>
		<string>mau-kannada</string>
		<string>me-kannada</string>
		<string>mi-kannada</string>
		<string>mo-kannada</string>
		<string>mu-kannada</string>
		<string>muu-kannada</string>
		<string>v-kannada</string>
		<string>vaa-kannada</string>
		<string>vau-kannada</string>
		<string>ve-kannada</string>
		<string>vi-kannada</string>
		<string>vo-kannada</string>
		<string>vu-kannada</string>
		<string>vuu-kannada</string>
	</array>
	<key>@MMK_R_knYA</key>
	<array>
		<string>y-kannada</string>
		<string>yaa-kannada</string>
		<string>yau-kannada</string>
		<string>ye-kannada</string>
		<string>yi-kannada</string>
		<string>yo-kannada</string>
		<string>yu-kannada</string>
		<string>yuu-kannada</string>
		<string>ya-kannada</string>
		<string>ya-kannada.base</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>g</string>
		<string>gbreve</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>q</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>braceright</string>
		<string>bracketright</string>
		<string>parenright</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedbl</string>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>ncommaaccent</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
