<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>AE</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>uni0145</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Oslash</string>
		<string>D</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Oacute</string>
		<string>Dcaron</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Dcroat</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni015E</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>uni0162</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>uni0137</string>
		<string>k</string>
	</array>
	<key>@MMK_L_knU</key>
	<array>
		<string>knKHA</string>
		<string>knJHA</string>
		<string>knMA</string>
		<string>knYA</string>
		<string>knA</string>
		<string>knLA</string>
		<string>knUU</string>
		<string>knvLL</string>
		<string>knvRR</string>
		<string>knRRA</string>
		<string>knLLLA</string>
		<string>knNNA</string>
		<string>knBAA</string>
		<string>knBHAA</string>
		<string>knBHO</string>
		<string>knBHU</string>
		<string>knBHUU</string>
		<string>knBO</string>
		<string>knBU</string>
		<string>knBUU</string>
		<string>knCAA</string>
		<string>knCHAA</string>
		<string>knCHO</string>
		<string>knCHU</string>
		<string>knCHUU</string>
		<string>knCO</string>
		<string>knCU</string>
		<string>knCUU</string>
		<string>knDAA</string>
		<string>knDDAA</string>
		<string>knDDHAA</string>
		<string>knDDHO</string>
		<string>knDDHU</string>
		<string>knDDHUU</string>
		<string>knDDO</string>
		<string>knDDU</string>
		<string>knDDUU</string>
		<string>knDHAA</string>
		<string>knDHO</string>
		<string>knDHU</string>
		<string>knDHUU</string>
		<string>knDO</string>
		<string>knDU</string>
		<string>knDUU</string>
		<string>knGAA</string>
		<string>knGHO</string>
		<string>knGHU</string>
		<string>knGHUU</string>
		<string>knGO</string>
		<string>knGU</string>
		<string>knGUU</string>
		<string>knHAA</string>
		<string>knGHAA</string>
		<string>knHO</string>
		<string>knHU</string>
		<string>knHUU</string>
		<string>knJAA</string>
		<string>knJHAA</string>
		<string>knJHE</string>
		<string>knJHI</string>
		<string>knJHO</string>
		<string>knJHU</string>
		<string>knJHUU</string>
		<string>knJO</string>
		<string>knJU</string>
		<string>knJUU</string>
		<string>knKAA</string>
		<string>knKHAA</string>
		<string>knKHO</string>
		<string>knKHU</string>
		<string>knKHUU</string>
		<string>knKO</string>
		<string>knKU</string>
		<string>knKUU</string>
		<string>knLAA</string>
		<string>knLLAA</string>
		<string>knLLLO</string>
		<string>knLLLU</string>
		<string>knLLLI</string>
		<string>knLLLAA</string>
		<string>knLLLUU</string>
		<string>knLLO</string>
		<string>knLLU</string>
		<string>knLLUU</string>
		<string>knLO</string>
		<string>knLU</string>
		<string>knLUU</string>
		<string>knMAA</string>
		<string>knME</string>
		<string>knMI</string>
		<string>knMO</string>
		<string>knMU</string>
		<string>knMUU</string>
		<string>knNAA</string>
		<string>knNGAA</string>
		<string>knNGO</string>
		<string>knNGU</string>
		<string>knNGUU</string>
		<string>knNNAA</string>
		<string>knNNI</string>
		<string>knNNO</string>
		<string>knNNU</string>
		<string>knNNUU</string>
		<string>knNO</string>
		<string>knNU</string>
		<string>knNUU</string>
		<string>knNYAA</string>
		<string>knNYO</string>
		<string>knNYU</string>
		<string>knNYUU</string>
		<string>knPAA</string>
		<string>knPHAA</string>
		<string>knPHO</string>
		<string>knPHU</string>
		<string>knPHUU</string>
		<string>knPO</string>
		<string>knPU</string>
		<string>knPUU</string>
		<string>knRAA</string>
		<string>knRO</string>
		<string>knRRAA</string>
		<string>knRRI</string>
		<string>knRRO</string>
		<string>knRRU</string>
		<string>knRRUU</string>
		<string>knRU</string>
		<string>knRUU</string>
		<string>knSAA</string>
		<string>knSHAA</string>
		<string>knSHO</string>
		<string>knSHU</string>
		<string>knSHUU</string>
		<string>knSO</string>
		<string>knSSAA</string>
		<string>knSSO</string>
		<string>knSSU</string>
		<string>knSSUU</string>
		<string>knSU</string>
		<string>knSUU</string>
		<string>knTAA</string>
		<string>knTHAA</string>
		<string>knTHO</string>
		<string>knTHU</string>
		<string>knTHUU</string>
		<string>knTO</string>
		<string>knTTAA</string>
		<string>knTTHAA</string>
		<string>knTTHO</string>
		<string>knTTHU</string>
		<string>knTTHUU</string>
		<string>knTTO</string>
		<string>knTTU</string>
		<string>knTTUU</string>
		<string>knTU</string>
		<string>knTUU</string>
		<string>knVAA</string>
		<string>knVO</string>
		<string>knVU</string>
		<string>knVUU</string>
		<string>knYAA</string>
		<string>knYE</string>
		<string>knYI</string>
		<string>knYO</string>
		<string>knYU</string>
		<string>knYUU</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>lslash</string>
		<string>knU</string>
		<string>knvR</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>uni0146</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>h</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>oslash</string>
		<string>egrave</string>
		<string>b</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>o</string>
		<string>edieresis</string>
		<string>p</string>
		<string>eacute</string>
		<string>e</string>
		<string>thorn</string>
		<string>oacute</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oe</string>
		<string>ae</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>eth</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>uni0157</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>uni0219</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>uni015F</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>uni0163</string>
		<string>t</string>
		<string>tcaron</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>AE</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Oslash</string>
		<string>C</string>
		<string>Odieresis</string>
		<string>G</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Oacute</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Gbreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>uni0122</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>uni0218</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni015E</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>uni0162</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_R_guilleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_guilright</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>oslash</string>
		<string>q</string>
		<string>ecircumflex</string>
		<string>d</string>
		<string>g</string>
		<string>otilde</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>egrave</string>
		<string>o</string>
		<string>odieresis</string>
		<string>edieresis</string>
		<string>eacute</string>
		<string>eth</string>
		<string>e</string>
		<string>oacute</string>
		<string>dcaron</string>
		<string>gbreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>dcroat</string>
		<string>oe</string>
		<string>uni0123</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedbl</string>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>udieresis</string>
		<string>uacute</string>
		<string>m</string>
		<string>ugrave</string>
		<string>n</string>
		<string>ntilde</string>
		<string>r</string>
		<string>u</string>
		<string>ucircumflex</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>uni0157</string>
		<string>uni0146</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>dotlessi</string>
	</array>
	<key>@MMK_R_registered</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>registered</string>
		<string>trademark</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>uni015F</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>uni021B</string>
		<string>uni0163</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
