<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>Ccedilla</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>E</string>
		<string>Ecircumflex</string>
		<string>OE</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>AE</string>
		<string>Edotaccent</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>Lslash</string>
		<string>uni013B</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>D</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Dcaron</string>
		<string>Q</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>Racute</string>
		<string>R</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>uni0218</string>
		<string>uni015E</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>T</string>
		<string>U</string>
		<string>uni021A</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_L_knBA</key>
	<array>
		<string>knBA</string>
		<string>knBHA</string>
		<string>knBE</string>
		<string>knBHE</string>
		<string>knBHI</string>
		<string>knBI</string>
	</array>
	<key>@MMK_L_knCA</key>
	<array>
		<string>knCE</string>
		<string>knCI</string>
		<string>knCA</string>
	</array>
	<key>@MMK_L_knCHA</key>
	<array>
		<string>knCHE</string>
		<string>knCHI</string>
		<string>knCHA</string>
	</array>
	<key>@MMK_L_knDA</key>
	<array>
		<string>knDDE</string>
		<string>knDDHE</string>
		<string>knDDHI</string>
		<string>knDDI</string>
		<string>knDE</string>
		<string>knDHE</string>
		<string>knDHI</string>
		<string>knDI</string>
		<string>knDA</string>
		<string>knDDA</string>
		<string>knDDHA</string>
		<string>knDHA</string>
		<string>knTHA</string>
		<string>knTHI</string>
		<string>knTHE</string>
	</array>
	<key>@MMK_L_knGA</key>
	<array>
		<string>knGE</string>
		<string>knGI</string>
		<string>knGA</string>
	</array>
	<key>@MMK_L_knGHA</key>
	<array>
		<string>knGHE</string>
		<string>knGHI</string>
		<string>knGHA</string>
	</array>
	<key>@MMK_L_knKA</key>
	<array>
		<string>knKE</string>
		<string>knKI</string>
		<string>knKA</string>
	</array>
	<key>@MMK_L_knKHA</key>
	<array>
		<string>knKHE</string>
		<string>knKHI</string>
	</array>
	<key>@MMK_L_knLA</key>
	<array>
		<string>knLI</string>
		<string>knLE</string>
		<string>knLA</string>
		<string>knNNE</string>
	</array>
	<key>@MMK_L_knLLA</key>
	<array>
		<string>knLLE</string>
		<string>knLLI</string>
		<string>knLLA</string>
	</array>
	<key>@MMK_L_knNA</key>
	<array>
		<string>knNA</string>
		<string>knNE</string>
		<string>knNI</string>
	</array>
	<key>@MMK_L_knNGA</key>
	<array>
		<string>knNGA</string>
		<string>knJA</string>
		<string>knJI</string>
		<string>knJE</string>
		<string>knAI</string>
		<string>knAU</string>
		<string>knE</string>
		<string>knEE</string>
		<string>knO</string>
		<string>knOO</string>
	</array>
	<key>@MMK_L_knNYA</key>
	<array>
		<string>knNYE</string>
		<string>knNYA</string>
		<string>knNYI</string>
	</array>
	<key>@MMK_L_knPA</key>
	<array>
		<string>knPA</string>
		<string>knPHA</string>
		<string>knPE</string>
		<string>knPHE</string>
		<string>knPHI</string>
		<string>knPI</string>
	</array>
	<key>@MMK_L_knRA</key>
	<array>
		<string>knTTHA</string>
		<string>knRA</string>
		<string>knRE</string>
		<string>knRI</string>
		<string>knTTHE</string>
		<string>knTTHI</string>
	</array>
	<key>@MMK_L_knSHA</key>
	<array>
		<string>knSSA</string>
		<string>knSSE</string>
		<string>knSSI</string>
	</array>
	<key>@MMK_L_knSSA</key>
	<array>
		<string>knSHA</string>
		<string>knSHE</string>
		<string>knSHI</string>
	</array>
	<key>@MMK_L_knSubTall</key>
	<array>
		<string>knLLAc2</string>
		<string>knBAc2</string>
		<string>knYAc2</string>
		<string>knSAc2.following</string>
		<string>knPHAc2</string>
		<string>knRAc2.following</string>
		<string>knPAc2</string>
		<string>knYAc2.following</string>
		<string>knTAc2_RAc2.following</string>
		<string>knLLAc2.following</string>
		<string>knSAc2</string>
		<string>knSHAc2</string>
		<string>knAIlengthmark</string>
		<string>knGHAc2.following</string>
		<string>knSSAc2</string>
		<string>knSSAc2.following</string>
		<string>knCHAc2</string>
		<string>knKSSAc2.following</string>
		<string>knBAc2.following</string>
		<string>knNAc2</string>
		<string>knSHAc2.following</string>
		<string>knGHAc2</string>
		<string>knAIlengthmark.following</string>
		<string>knBHAc2</string>
		<string>knsignvR.following</string>
		<string>knsignvRR</string>
		<string>knRAc2</string>
		<string>knMAc2</string>
		<string>knPHAc2.following</string>
		<string>knCHAc2.following</string>
		<string>knTTAc2</string>
		<string>knBHAc2.following</string>
		<string>knsignvR</string>
		<string>knNAc2.following</string>
		<string>knMAc2.following</string>
		<string>knKSSAc2</string>
		<string>knPAc2.following</string>
		<string>knsignvRR.following</string>
		<string>knKHAc2</string>
		<string>knKAc2</string>
		<string>knTAc2_RAc2</string>
		<string>knTTAc2.following</string>
	</array>
	<key>@MMK_L_knTA</key>
	<array>
		<string>knHI</string>
		<string>knTI</string>
		<string>knHA</string>
		<string>knHE</string>
		<string>knTA</string>
		<string>knSI</string>
		<string>knSE</string>
		<string>knTE</string>
		<string>knSA</string>
	</array>
	<key>@MMK_L_knTTA</key>
	<array>
		<string>knTTE</string>
		<string>knTTI</string>
		<string>knTTA</string>
	</array>
	<key>@MMK_L_knU</key>
	<array>
		<string>knKHO</string>
		<string>knPUU</string>
		<string>knTHUU</string>
		<string>knGHO</string>
		<string>knTTUU</string>
		<string>knRAA</string>
		<string>knGHU</string>
		<string>knDDAA</string>
		<string>knNYAA</string>
		<string>knDHUU</string>
		<string>knVO</string>
		<string>knKHU</string>
		<string>knKUU</string>
		<string>knNGO</string>
		<string>knSHAA</string>
		<string>knLLLA</string>
		<string>knPAA</string>
		<string>knSHU</string>
		<string>knLLLO</string>
		<string>knMAA</string>
		<string>knCHO</string>
		<string>knYU</string>
		<string>knNGUU</string>
		<string>knMUU</string>
		<string>knLLLU</string>
		<string>knYI</string>
		<string>knTUU</string>
		<string>knHUU</string>
		<string>knCHU</string>
		<string>knYO</string>
		<string>knBUU</string>
		<string>knSSUU</string>
		<string>knNGU</string>
		<string>knLLUU</string>
		<string>knSHO</string>
		<string>knKAA</string>
		<string>knLLLI</string>
		<string>knNO</string>
		<string>knPHUU</string>
		<string>knNUU</string>
		<string>knDAA</string>
		<string>knSSU</string>
		<string>knMI</string>
		<string>knSSO</string>
		<string>knGHUU</string>
		<string>knNU</string>
		<string>knNYO</string>
		<string>knDHU</string>
		<string>knTTHUU</string>
		<string>knLLLUU</string>
		<string>knCHAA</string>
		<string>knDHO</string>
		<string>knVAA</string>
		<string>knRRUU</string>
		<string>knDDHAA</string>
		<string>knBHUU</string>
		<string>knvLL</string>
		<string>knKU</string>
		<string>knCAA</string>
		<string>knJHE</string>
		<string>knGHAA</string>
		<string>knNNUU</string>
		<string>knSAA</string>
		<string>knKO</string>
		<string>knNAA</string>
		<string>knLLLAA</string>
		<string>knCO</string>
		<string>knRRO</string>
		<string>knRRA</string>
		<string>knDDHUU</string>
		<string>knJAA</string>
		<string>knDUU</string>
		<string>knCU</string>
		<string>knRRU</string>
		<string>knHO</string>
		<string>knNNU</string>
		<string>knTTU</string>
		<string>knNNA</string>
		<string>knPHAA</string>
		<string>knTTO</string>
		<string>knGAA</string>
		<string>knHU</string>
		<string>knNNO</string>
		<string>knNYUU</string>
		<string>knYUU</string>
		<string>knBAA</string>
		<string>knME</string>
		<string>knLLAA</string>
		<string>knMA</string>
		<string>knNGAA</string>
		<string>knJHU</string>
		<string>knDDHU</string>
		<string>knCHUU</string>
		<string>knMO</string>
		<string>knRU</string>
		<string>knDDU</string>
		<string>knMU</string>
		<string>knJHA</string>
		<string>knRO</string>
		<string>knDDO</string>
		<string>knTHU</string>
		<string>knJHI</string>
		<string>knJHO</string>
		<string>knJHAA</string>
		<string>knBHO</string>
		<string>knDHAA</string>
		<string>knGUU</string>
		<string>knNNAA</string>
		<string>knTTHAA</string>
		<string>knvRR</string>
		<string>knBHU</string>
		<string>knKHUU</string>
		<string>knRRAA</string>
		<string>knJU</string>
		<string>knDDHO</string>
		<string>knRUU</string>
		<string>knDDUU</string>
		<string>knBHAA</string>
		<string>knSO</string>
		<string>knLUU</string>
		<string>knYA</string>
		<string>knTAA</string>
		<string>knVUU</string>
		<string>knJO</string>
		<string>knTHAA</string>
		<string>knBO</string>
		<string>knLLO</string>
		<string>knYE</string>
		<string>knTHO</string>
		<string>knSHUU</string>
		<string>knBU</string>
		<string>knLLU</string>
		<string>knTO</string>
		<string>knLAA</string>
		<string>knGU</string>
		<string>knJUU</string>
		<string>knGO</string>
		<string>knTU</string>
		<string>knPO</string>
		<string>knKHAA</string>
		<string>knCUU</string>
		<string>knHAA</string>
		<string>knYAA</string>
		<string>knNNI</string>
		<string>knNYU</string>
		<string>knSU</string>
		<string>knRRI</string>
		<string>knLO</string>
		<string>knSSAA</string>
		<string>knDU</string>
		<string>knA</string>
		<string>knDO</string>
		<string>knLU</string>
		<string>knTTAA</string>
		<string>knJHUU</string>
		<string>knPHO</string>
		<string>knUU</string>
		<string>knTTHU</string>
		<string>knTTHO</string>
		<string>knSUU</string>
		<string>knKHA</string>
		<string>knU</string>
		<string>knvR</string>
	</array>
	<key>@MMK_L_knUlow</key>
	<array>
		<string>knPU</string>
		<string>knPHU</string>
		<string>knVU</string>
	</array>
	<key>@MMK_L_knVA</key>
	<array>
		<string>knVE</string>
		<string>knVI</string>
	</array>
	<key>@MMK_L_knVirama</key>
	<array>
		<string>knB</string>
		<string>knBAU</string>
		<string>knBH</string>
		<string>knBHAU</string>
		<string>knC</string>
		<string>knCAU</string>
		<string>knCH</string>
		<string>knCHAU</string>
		<string>knD</string>
		<string>knDAU</string>
		<string>knDD</string>
		<string>knDDAU</string>
		<string>knDDH</string>
		<string>knDDHAU</string>
		<string>knDH</string>
		<string>knDHAU</string>
		<string>knG</string>
		<string>knGAU</string>
		<string>knGH</string>
		<string>knGHAU</string>
		<string>knH</string>
		<string>knHAU</string>
		<string>knJ</string>
		<string>knJAU</string>
		<string>knJH</string>
		<string>knJHAU</string>
		<string>knK</string>
		<string>knKAU</string>
		<string>knKH</string>
		<string>knKHAU</string>
		<string>knL</string>
		<string>knLAU</string>
		<string>knLLL</string>
		<string>knLLLAU</string>
		<string>knM</string>
		<string>knMAU</string>
		<string>knN</string>
		<string>knNAU</string>
		<string>knNG</string>
		<string>knNGAU</string>
		<string>knNN</string>
		<string>knNNAU</string>
		<string>knNY</string>
		<string>knNYAU</string>
		<string>knP</string>
		<string>knPAU</string>
		<string>knPH</string>
		<string>knPHAU</string>
		<string>knR</string>
		<string>knRAU</string>
		<string>knRR</string>
		<string>knRRAU</string>
		<string>knS</string>
		<string>knSAU</string>
		<string>knSH</string>
		<string>knSHAU</string>
		<string>knSS</string>
		<string>knSSAU</string>
		<string>knT</string>
		<string>knTAU</string>
		<string>knTH</string>
		<string>knTHAU</string>
		<string>knTT</string>
		<string>knTTAU</string>
		<string>knTTH</string>
		<string>knTTHAU</string>
		<string>knY</string>
		<string>knYAU</string>
		<string>knVAU</string>
		<string>knV</string>
		<string>knVA</string>
		<string>knLL</string>
		<string>knLLAU</string>
		<string>knNGE</string>
		<string>knNGI</string>
		<string>knLLLE</string>
		<string>knRRE</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>ae</string>
		<string>Zdotaccent</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>Zcaron</string>
		<string>otilde</string>
		<string>Zacute</string>
		<string>oslash</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>Z</string>
		<string>ecaron</string>
		<string>omacron</string>
		<string>b</string>
		<string>e</string>
		<string>oe</string>
		<string>o</string>
		<string>p</string>
		<string>eth</string>
		<string>thorn</string>
		<string>oacute</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>racute</string>
		<string>r</string>
		<string>uni0157</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>uni0163</string>
		<string>t</string>
		<string>uni021B</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>AE</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Oslash</string>
		<string>Gbreve</string>
		<string>C</string>
		<string>Odieresis</string>
		<string>G</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>OE</string>
		<string>Cacute</string>
		<string>uni0122</string>
		<string>Omacron</string>
		<string>Ccaron</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>O</string>
		<string>Ccedilla</string>
		<string>Ocircumflex</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>uni0218</string>
		<string>uni015E</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>ae</string>
		<string>aacute</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@MMK_R_knBA</key>
	<array>
		<string>knAU</string>
		<string>knBA</string>
		<string>knBHA</string>
		<string>knCA</string>
		<string>knJA</string>
		<string>knO</string>
		<string>knOO</string>
		<string>knB</string>
		<string>knBAA</string>
		<string>knBAU</string>
		<string>knBE</string>
		<string>knBH</string>
		<string>knBHAA</string>
		<string>knBHAU</string>
		<string>knBHE</string>
		<string>knBHI</string>
		<string>knBHO</string>
		<string>knBHU</string>
		<string>knBHUU</string>
		<string>knBI</string>
		<string>knBO</string>
		<string>knBU</string>
		<string>knBUU</string>
		<string>knC</string>
		<string>knCAA</string>
		<string>knCAU</string>
		<string>knCE</string>
		<string>knJ</string>
		<string>knJAA</string>
		<string>knJAU</string>
		<string>knJE</string>
		<string>knJI</string>
		<string>knJO</string>
		<string>knJU</string>
		<string>knJUU</string>
		<string>knNG</string>
		<string>knNGAA</string>
		<string>knNGAU</string>
		<string>knNGE</string>
		<string>knNGI</string>
		<string>knNGO</string>
		<string>knNGU</string>
		<string>knNGUU</string>
		<string>knCI</string>
		<string>knCO</string>
		<string>knCU</string>
		<string>knCUU</string>
		<string>knNGA</string>
	</array>
	<key>@MMK_R_knCHA</key>
	<array>
		<string>knCH</string>
		<string>knCHAA</string>
		<string>knCHAU</string>
		<string>knCHE</string>
		<string>knCHI</string>
		<string>knCHO</string>
		<string>knCHU</string>
		<string>knCHUU</string>
		<string>knLLL</string>
		<string>knLLLAA</string>
		<string>knLLLAU</string>
		<string>knLLLE</string>
		<string>knLLLI</string>
		<string>knLLLO</string>
		<string>knLLLU</string>
		<string>knLLLUU</string>
		<string>knRRE</string>
		<string>knRRI</string>
		<string>knRRO</string>
		<string>knRRU</string>
		<string>knRRUU</string>
		<string>knRR</string>
		<string>knRRAA</string>
		<string>knRRAU</string>
		<string>knCHA</string>
		<string>knRRA</string>
		<string>knLLLA</string>
	</array>
	<key>@MMK_R_knDA</key>
	<array>
		<string>knDA</string>
		<string>knDDA</string>
		<string>knDDHA</string>
		<string>knDHA</string>
		<string>knTHA</string>
		<string>knTH</string>
		<string>knTHAA</string>
		<string>knTHAU</string>
		<string>knTHE</string>
		<string>knTHI</string>
		<string>knTHO</string>
		<string>knTHU</string>
		<string>knTHUU</string>
		<string>knD</string>
		<string>knDAA</string>
		<string>knDAU</string>
		<string>knDD</string>
		<string>knDDAA</string>
		<string>knDDAU</string>
		<string>knDDE</string>
		<string>knDDH</string>
		<string>knDDHAA</string>
		<string>knDDHAU</string>
		<string>knDDHE</string>
		<string>knDDHI</string>
		<string>knDDHO</string>
		<string>knDDHU</string>
		<string>knDDHUU</string>
		<string>knDDO</string>
		<string>knDDU</string>
		<string>knDDUU</string>
		<string>knDE</string>
		<string>knDH</string>
		<string>knDHAA</string>
		<string>knDHAU</string>
		<string>knDHE</string>
		<string>knDHO</string>
		<string>knDHU</string>
		<string>knDHUU</string>
		<string>knDO</string>
		<string>knDU</string>
		<string>knDUU</string>
		<string>knDDI</string>
		<string>knDHI</string>
		<string>knDI</string>
	</array>
	<key>@MMK_R_knE</key>
	<array>
		<string>knAI</string>
		<string>knE</string>
		<string>knEE</string>
	</array>
	<key>@MMK_R_knGA</key>
	<array>
		<string>knGA</string>
		<string>knGI</string>
		<string>knGO</string>
		<string>knGU</string>
		<string>knGUU</string>
		<string>knG</string>
		<string>knGAA</string>
		<string>knGAU</string>
		<string>knGE</string>
	</array>
	<key>@MMK_R_knHA</key>
	<array>
		<string>knHA</string>
		<string>knH</string>
		<string>knHAA</string>
		<string>knHAU</string>
		<string>knHE</string>
		<string>knHI</string>
		<string>knHO</string>
		<string>knHU</string>
		<string>knHUU</string>
	</array>
	<key>@MMK_R_knKA</key>
	<array>
		<string>knKU</string>
		<string>knK</string>
		<string>knKAU</string>
		<string>knKE</string>
		<string>knKA</string>
		<string>knKO</string>
		<string>knKAA</string>
		<string>knKUU</string>
		<string>knKI</string>
	</array>
	<key>@MMK_R_knKAc2</key>
	<array>
		<string>knMAc2</string>
		<string>knNAc2</string>
		<string>knPAc2</string>
		<string>knRAc2</string>
		<string>knSAc2</string>
		<string>knSHAc2</string>
		<string>knKAc2</string>
		<string>knKHAc2</string>
		<string>knLLAc2</string>
		<string>knCHAc2</string>
		<string>knGHAc2</string>
		<string>knKSSAc2</string>
		<string>knTAc2_RAc2</string>
		<string>knTTAc2</string>
		<string>knAIlengthmark</string>
		<string>knsignvR</string>
		<string>knsignvRR</string>
		<string>knYAc2</string>
		<string>knPHAc2</string>
		<string>knBAc2</string>
		<string>knBHAc2</string>
	</array>
	<key>@MMK_R_knKHA</key>
	<array>
		<string>knKHI</string>
		<string>knKHO</string>
		<string>knKHA</string>
		<string>knKHUU</string>
		<string>knKHE</string>
		<string>knKH</string>
		<string>knKHA.base</string>
		<string>knKHU</string>
		<string>knKHAA</string>
		<string>knKHAU</string>
		<string>knvRR</string>
		<string>knvR</string>
	</array>
	<key>@MMK_R_knLA</key>
	<array>
		<string>knU</string>
		<string>knUU</string>
		<string>knL</string>
		<string>knLA</string>
		<string>knLAA</string>
		<string>knLAU</string>
		<string>knLE</string>
		<string>knLI</string>
		<string>knLO</string>
		<string>knLU</string>
		<string>knLUU</string>
		<string>knA</string>
		<string>knAA</string>
	</array>
	<key>@MMK_R_knLLA</key>
	<array>
		<string>knLLI</string>
		<string>knLLAA</string>
		<string>knLLO</string>
		<string>knLLA</string>
		<string>knLL</string>
		<string>knLLE</string>
		<string>knLLAU</string>
		<string>knLLUU</string>
		<string>knLLU</string>
	</array>
	<key>@MMK_R_knNNA</key>
	<array>
		<string>knNN</string>
		<string>knNNAA</string>
		<string>knNNAU</string>
		<string>knNNE</string>
		<string>knNNI</string>
		<string>knNNO</string>
		<string>knNNU</string>
		<string>knNNUU</string>
		<string>knNNA</string>
	</array>
	<key>@MMK_R_knNYA</key>
	<array>
		<string>knNYAU</string>
		<string>knNYU</string>
		<string>knNYUU</string>
		<string>knNYE</string>
		<string>knNYA</string>
		<string>knvLL</string>
		<string>knvL</string>
		<string>knNY</string>
		<string>knNYO</string>
		<string>knNYI</string>
		<string>knNYAA</string>
		<string>knI</string>
	</array>
	<key>@MMK_R_knPA</key>
	<array>
		<string>knGHA</string>
		<string>knGH</string>
		<string>knGHAA</string>
		<string>knGHAU</string>
		<string>knGHE</string>
		<string>knGHI</string>
		<string>knGHO</string>
		<string>knGHU</string>
		<string>knGHUU</string>
		<string>knSO</string>
		<string>knSS</string>
		<string>knSSAA</string>
		<string>knSSAU</string>
		<string>knSSAc2</string>
		<string>knSSE</string>
		<string>knSSI</string>
		<string>knSSO</string>
		<string>knSSU</string>
		<string>knSSUU</string>
		<string>knP</string>
		<string>knPAA</string>
		<string>knPAU</string>
		<string>knPE</string>
		<string>knPH</string>
		<string>knPHAA</string>
		<string>knPHAU</string>
		<string>knPHE</string>
		<string>knPHI</string>
		<string>knPHO</string>
		<string>knPHU</string>
		<string>knPHUU</string>
		<string>knPI</string>
		<string>knPO</string>
		<string>knPU</string>
		<string>knPUU</string>
		<string>knSSA</string>
	</array>
	<key>@MMK_R_knRA</key>
	<array>
		<string>knRAU</string>
		<string>knJHAA</string>
		<string>knJHU</string>
		<string>knTTHUU</string>
		<string>knRU</string>
		<string>knRAA</string>
		<string>knJHAU</string>
		<string>knJHA</string>
		<string>knJHE</string>
		<string>knRA</string>
		<string>knJHI</string>
		<string>knRE</string>
		<string>knJHO</string>
		<string>knYAU</string>
		<string>knRO</string>
		<string>knYU</string>
		<string>knRUU</string>
		<string>knYAA</string>
		<string>knYI</string>
		<string>knYO</string>
		<string>knYA</string>
		<string>knTTHAA</string>
		<string>knYE</string>
		<string>knTTH</string>
		<string>knJHUU</string>
		<string>knY</string>
		<string>knJH</string>
		<string>knR</string>
		<string>knRI</string>
		<string>knYUU</string>
		<string>knTTHU</string>
		<string>knTTHI</string>
		<string>knTTHAU</string>
		<string>knTTHO</string>
		<string>knTTHA</string>
		<string>knTTHE</string>
		<string>knPA</string>
		<string>knPHA</string>
		<string>knII</string>
	</array>
	<key>@MMK_R_knSA</key>
	<array>
		<string>knSU</string>
		<string>knSUU</string>
		<string>knS</string>
		<string>knSAA</string>
		<string>knSAU</string>
		<string>knSE</string>
		<string>knSI</string>
		<string>knN</string>
		<string>knNAA</string>
		<string>knNAU</string>
		<string>knNE</string>
		<string>knNI</string>
		<string>knNO</string>
		<string>knNU</string>
		<string>knNUU</string>
		<string>knNA</string>
		<string>knSA</string>
	</array>
	<key>@MMK_R_knSHA</key>
	<array>
		<string>knSH</string>
		<string>knSHAA</string>
		<string>knSHAU</string>
		<string>knSHE</string>
		<string>knSHI</string>
		<string>knSHO</string>
		<string>knSHU</string>
		<string>knSHUU</string>
	</array>
	<key>@MMK_R_knSubs</key>
	<array>
		<string>knVAc2</string>
		<string>knTTHAc2</string>
		<string>knTHAc2</string>
		<string>knTAc2</string>
		<string>knRRAc2</string>
		<string>knNYAc2</string>
		<string>knNNAc2</string>
		<string>knNGAc2</string>
		<string>knLLLAc2</string>
		<string>knLAc2</string>
		<string>knJHAc2</string>
		<string>knJAc2</string>
		<string>knHAc2</string>
		<string>knGAc2</string>
		<string>knDHAc2</string>
		<string>knDDHAc2</string>
		<string>knDDAc2</string>
		<string>knDAc2</string>
		<string>knCAc2</string>
		<string>knsignvL</string>
		<string>knsignvLL</string>
	</array>
	<key>@MMK_R_knTA</key>
	<array>
		<string>knTU</string>
		<string>knTUU</string>
		<string>knTO</string>
		<string>knTI</string>
		<string>knTE</string>
		<string>knT</string>
		<string>knTAA</string>
		<string>knTAU</string>
		<string>knTA</string>
	</array>
	<key>@MMK_R_knTTA</key>
	<array>
		<string>knTTI</string>
		<string>knTTO</string>
		<string>knTTU</string>
		<string>knTTUU</string>
		<string>knTTE</string>
		<string>knTT</string>
		<string>knTTAA</string>
		<string>knTTAU</string>
		<string>knTTA</string>
	</array>
	<key>@MMK_R_knVA</key>
	<array>
		<string>knVAU</string>
		<string>knME</string>
		<string>knM</string>
		<string>knMA</string>
		<string>knMAA</string>
		<string>knVUU</string>
		<string>knMO</string>
		<string>knMI</string>
		<string>knMUU</string>
		<string>knVE</string>
		<string>knMU</string>
		<string>knMAU</string>
		<string>knVA</string>
		<string>knVU</string>
		<string>knV</string>
		<string>knVAA</string>
		<string>knVO</string>
		<string>knVI</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>uni0123</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>otilde</string>
		<string>dcaron</string>
		<string>gbreve</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>dcroat</string>
		<string>eacute</string>
		<string>oslash</string>
		<string>omacron</string>
		<string>e</string>
		<string>d</string>
		<string>g</string>
		<string>oe</string>
		<string>o</string>
		<string>q</string>
		<string>eth</string>
		<string>oacute</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>nacute</string>
		<string>uni0157</string>
		<string>rcaron</string>
		<string>igrave</string>
		<string>ugrave</string>
		<string>dotlessi</string>
		<string>racute</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>umacron</string>
		<string>iacute</string>
		<string>uacute</string>
		<string>icircumflex</string>
		<string>uring</string>
		<string>iogonek</string>
		<string>i</string>
		<string>m</string>
		<string>n</string>
		<string>imacron</string>
		<string>r</string>
		<string>u</string>
		<string>ncaron</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>uni015F</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>uni0163</string>
		<string>t</string>
		<string>uni021B</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
