<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohm</key>
	<string>O_hm.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a-kannada</key>
	<string>a-kannada.glif</string>
	<key>aa-kannada</key>
	<string>aa-kannada.glif</string>
	<key>aaMatra-kannada</key>
	<string>aaM_atra-kannada.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecomb.cap</key>
	<string>acutecomb.cap.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ai-kannada</key>
	<string>ai-kannada.glif</string>
	<key>aiMatra-kannada</key>
	<string>aiM_atra-kannada.glif</string>
	<key>ailength-kannada</key>
	<string>ailength-kannada.glif</string>
	<key>ailength-kannada.following</key>
	<string>ailength-kannada.following.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anusvara-kannada</key>
	<string>anusvara-kannada.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>au-kannada</key>
	<string>au-kannada.glif</string>
	<key>auMatra-kannada</key>
	<string>auM_atra-kannada.glif</string>
	<key>avagraha-kannada</key>
	<string>avagraha-kannada.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b-kannada</key>
	<string>b-kannada.glif</string>
	<key>ba-kannada</key>
	<string>ba-kannada.glif</string>
	<key>ba-kannada.base</key>
	<string>ba-kannada.base.glif</string>
	<key>ba-kannada.below</key>
	<string>ba-kannada.below.glif</string>
	<key>ba-kannada.below.following</key>
	<string>ba-kannada.below.following.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bh-kannada</key>
	<string>bh-kannada.glif</string>
	<key>bha-kannada</key>
	<string>bha-kannada.glif</string>
	<key>bha-kannada.base</key>
	<string>bha-kannada.base.glif</string>
	<key>bha-kannada.below</key>
	<string>bha-kannada.below.glif</string>
	<key>bha-kannada.below.following</key>
	<string>bha-kannada.below.following.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brevecomb.cap</key>
	<string>brevecomb.cap.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bulletoperator</key>
	<string>bulletoperator.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c-kannada</key>
	<string>c-kannada.glif</string>
	<key>ca-kannada</key>
	<string>ca-kannada.glif</string>
	<key>ca-kannada.base</key>
	<string>ca-kannada.base.glif</string>
	<key>ca-kannada.below</key>
	<string>ca-kannada.below.glif</string>
	<key>ca-kannada.below.following</key>
	<string>ca-kannada.below.following.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>candrabindu-kannada</key>
	<string>candrabindu-kannada.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>caroncomb.cap</key>
	<string>caroncomb.cap.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>ch-kannada</key>
	<string>ch-kannada.glif</string>
	<key>cha-kannada</key>
	<string>cha-kannada.glif</string>
	<key>cha-kannada.base</key>
	<string>cha-kannada.base.glif</string>
	<key>cha-kannada.below</key>
	<string>cha-kannada.below.glif</string>
	<key>cha-kannada.below.following</key>
	<string>cha-kannada.below.following.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>circumflexcomb.cap</key>
	<string>circumflexcomb.cap.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccentcmb</key>
	<string>commaaccentcmb.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d-kannada</key>
	<string>d-kannada.glif</string>
	<key>da-kannada</key>
	<string>da-kannada.glif</string>
	<key>da-kannada.base</key>
	<string>da-kannada.base.glif</string>
	<key>da-kannada.below</key>
	<string>da-kannada.below.glif</string>
	<key>da-kannada.below.following</key>
	<string>da-kannada.below.following.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dd-kannada</key>
	<string>dd-kannada.glif</string>
	<key>dda-kannada</key>
	<string>dda-kannada.glif</string>
	<key>dda-kannada.base</key>
	<string>dda-kannada.base.glif</string>
	<key>dda-kannada.below</key>
	<string>dda-kannada.below.glif</string>
	<key>dda-kannada.below.following</key>
	<string>dda-kannada.below.following.glif</string>
	<key>ddh-kannada</key>
	<string>ddh-kannada.glif</string>
	<key>ddha-kannada</key>
	<string>ddha-kannada.glif</string>
	<key>ddha-kannada.base</key>
	<string>ddha-kannada.base.glif</string>
	<key>ddha-kannada.below</key>
	<string>ddha-kannada.below.glif</string>
	<key>ddha-kannada.below.following</key>
	<string>ddha-kannada.below.following.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dh-kannada</key>
	<string>dh-kannada.glif</string>
	<key>dha-kannada</key>
	<string>dha-kannada.glif</string>
	<key>dha-kannada.base</key>
	<string>dha-kannada.base.glif</string>
	<key>dha-kannada.below</key>
	<string>dha-kannada.below.glif</string>
	<key>dha-kannada.below.following</key>
	<string>dha-kannada.below.following.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>dieresiscomb.cap</key>
	<string>dieresiscomb.cap.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dotaccentcomb.cap</key>
	<string>dotaccentcomb.cap.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e-kannada</key>
	<string>e-kannada.glif</string>
	<key>eMatra-kannada</key>
	<string>eM_atra-kannada.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>ee-kannada</key>
	<string>ee-kannada.glif</string>
	<key>eeMatra-kannada</key>
	<string>eeM_atra-kannada.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight-kannada</key>
	<string>eight-kannada.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>ethslash</key>
	<string>ethslash.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f-kannada</key>
	<string>f-kannada.glif</string>
	<key>fa-kannada</key>
	<string>fa-kannada.glif</string>
	<key>fa-kannada.base</key>
	<string>fa-kannada.base.glif</string>
	<key>fa-kannada.below</key>
	<string>fa-kannada.below.glif</string>
	<key>fa-kannada.below.following</key>
	<string>fa-kannada.below.following.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>firsttonechinese</key>
	<string>firsttonechinese.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five-kannada</key>
	<string>five-kannada.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four-kannada</key>
	<string>four-kannada.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g-kannada</key>
	<string>g-kannada.glif</string>
	<key>ga-kannada</key>
	<string>ga-kannada.glif</string>
	<key>ga-kannada.base</key>
	<string>ga-kannada.base.glif</string>
	<key>ga-kannada.below</key>
	<string>ga-kannada.below.glif</string>
	<key>ga-kannada.below.following</key>
	<string>ga-kannada.below.following.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gh-kannada</key>
	<string>gh-kannada.glif</string>
	<key>gha-kannada</key>
	<string>gha-kannada.glif</string>
	<key>gha-kannada.base</key>
	<string>gha-kannada.base.glif</string>
	<key>gha-kannada.below</key>
	<string>gha-kannada.below.glif</string>
	<key>gha-kannada.below.following</key>
	<string>gha-kannada.below.following.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.cap</key>
	<string>gravecomb.cap.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h-kannada</key>
	<string>h-kannada.glif</string>
	<key>ha-kannada</key>
	<string>ha-kannada.glif</string>
	<key>ha-kannada.base</key>
	<string>ha-kannada.base.glif</string>
	<key>ha-kannada.below</key>
	<string>ha-kannada.below.glif</string>
	<key>ha-kannada.below.following</key>
	<string>ha-kannada.below.following.glif</string>
	<key>halant-kannada</key>
	<string>halant-kannada.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hungarumlautcomb.cap</key>
	<string>hungarumlautcomb.cap.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i-kannada</key>
	<string>i-kannada.glif</string>
	<key>iMatra-kannada</key>
	<string>iM_atra-kannada.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ii-kannada</key>
	<string>ii-kannada.glif</string>
	<key>iiMatra-kannada</key>
	<string>iiM_atra-kannada.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>increment</key>
	<string>increment.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j-kannada</key>
	<string>j-kannada.glif</string>
	<key>ja-kannada</key>
	<string>ja-kannada.glif</string>
	<key>ja-kannada.base</key>
	<string>ja-kannada.base.glif</string>
	<key>ja-kannada.below</key>
	<string>ja-kannada.below.glif</string>
	<key>ja-kannada.below.following</key>
	<string>ja-kannada.below.following.glif</string>
	<key>jh-kannada</key>
	<string>jh-kannada.glif</string>
	<key>jha-kannada</key>
	<string>jha-kannada.glif</string>
	<key>jha-kannada.base</key>
	<string>jha-kannada.base.glif</string>
	<key>jha-kannada.below</key>
	<string>jha-kannada.below.glif</string>
	<key>jha-kannada.below.following</key>
	<string>jha-kannada.below.following.glif</string>
	<key>jihvamuliya-kannada</key>
	<string>jihvamuliya-kannada.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k-kannada</key>
	<string>k-kannada.glif</string>
	<key>ka-kannada</key>
	<string>ka-kannada.glif</string>
	<key>ka-kannada.base</key>
	<string>ka-kannada.base.glif</string>
	<key>ka-kannada.below</key>
	<string>ka-kannada.below.glif</string>
	<key>ka-kannada.below.following</key>
	<string>ka-kannada.below.following.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kh-kannada</key>
	<string>kh-kannada.glif</string>
	<key>kha-kannada</key>
	<string>kha-kannada.glif</string>
	<key>kha-kannada.base</key>
	<string>kha-kannada.base.glif</string>
	<key>kha-kannada.below</key>
	<string>kha-kannada.below.glif</string>
	<key>kha-kannada.below.following</key>
	<string>kha-kannada.below.following.glif</string>
	<key>knBAA</key>
	<string>knB_A_A_.glif</string>
	<key>knBAU</key>
	<string>knB_A_U_.glif</string>
	<key>knBE</key>
	<string>knB_E_.glif</string>
	<key>knBHAA</key>
	<string>knB_H_A_A_.glif</string>
	<key>knBHAU</key>
	<string>knB_H_A_U_.glif</string>
	<key>knBHE</key>
	<string>knB_H_E_.glif</string>
	<key>knBHI</key>
	<string>knB_H_I_.glif</string>
	<key>knBHO</key>
	<string>knB_H_O_.glif</string>
	<key>knBHU</key>
	<string>knB_H_U_.glif</string>
	<key>knBHUU</key>
	<string>knB_H_U_U_.glif</string>
	<key>knBI</key>
	<string>knB_I_.glif</string>
	<key>knBO</key>
	<string>knB_O_.glif</string>
	<key>knBU</key>
	<string>knB_U_.glif</string>
	<key>knBUU</key>
	<string>knB_U_U_.glif</string>
	<key>knCAA</key>
	<string>knC_A_A_.glif</string>
	<key>knCAU</key>
	<string>knC_A_U_.glif</string>
	<key>knCE</key>
	<string>knC_E_.glif</string>
	<key>knCHAA</key>
	<string>knC_H_A_A_.glif</string>
	<key>knCHAU</key>
	<string>knC_H_A_U_.glif</string>
	<key>knCHE</key>
	<string>knC_H_E_.glif</string>
	<key>knCHI</key>
	<string>knC_H_I_.glif</string>
	<key>knCHO</key>
	<string>knC_H_O_.glif</string>
	<key>knCHU</key>
	<string>knC_H_U_.glif</string>
	<key>knCHUU</key>
	<string>knC_H_U_U_.glif</string>
	<key>knCI</key>
	<string>knC_I_.glif</string>
	<key>knCO</key>
	<string>knC_O_.glif</string>
	<key>knCU</key>
	<string>knC_U_.glif</string>
	<key>knCUU</key>
	<string>knC_U_U_.glif</string>
	<key>knDAA</key>
	<string>knD_A_A_.glif</string>
	<key>knDAU</key>
	<string>knD_A_U_.glif</string>
	<key>knDDAA</key>
	<string>knD_D_A_A_.glif</string>
	<key>knDDAU</key>
	<string>knD_D_A_U_.glif</string>
	<key>knDDE</key>
	<string>knD_D_E_.glif</string>
	<key>knDDHAA</key>
	<string>knD_D_H_A_A_.glif</string>
	<key>knDDHAU</key>
	<string>knD_D_H_A_U_.glif</string>
	<key>knDDHE</key>
	<string>knD_D_H_E_.glif</string>
	<key>knDDHI</key>
	<string>knD_D_H_I_.glif</string>
	<key>knDDHO</key>
	<string>knD_D_H_O_.glif</string>
	<key>knDDHU</key>
	<string>knD_D_H_U_.glif</string>
	<key>knDDHUU</key>
	<string>knD_D_H_U_U_.glif</string>
	<key>knDDI</key>
	<string>knD_D_I_.glif</string>
	<key>knDDO</key>
	<string>knD_D_O_.glif</string>
	<key>knDDU</key>
	<string>knD_D_U_.glif</string>
	<key>knDDUU</key>
	<string>knD_D_U_U_.glif</string>
	<key>knDE</key>
	<string>knD_E_.glif</string>
	<key>knDHAA</key>
	<string>knD_H_A_A_.glif</string>
	<key>knDHAU</key>
	<string>knD_H_A_U_.glif</string>
	<key>knDHE</key>
	<string>knD_H_E_.glif</string>
	<key>knDHI</key>
	<string>knD_H_I_.glif</string>
	<key>knDHO</key>
	<string>knD_H_O_.glif</string>
	<key>knDHU</key>
	<string>knD_H_U_.glif</string>
	<key>knDHUU</key>
	<string>knD_H_U_U_.glif</string>
	<key>knDI</key>
	<string>knD_I_.glif</string>
	<key>knDO</key>
	<string>knD_O_.glif</string>
	<key>knDU</key>
	<string>knD_U_.glif</string>
	<key>knDUU</key>
	<string>knD_U_U_.glif</string>
	<key>knGAA</key>
	<string>knG_A_A_.glif</string>
	<key>knGAU</key>
	<string>knG_A_U_.glif</string>
	<key>knGE</key>
	<string>knG_E_.glif</string>
	<key>knGHAA</key>
	<string>knG_H_A_A_.glif</string>
	<key>knGHAU</key>
	<string>knG_H_A_U_.glif</string>
	<key>knGHE</key>
	<string>knG_H_E_.glif</string>
	<key>knGHI</key>
	<string>knG_H_I_.glif</string>
	<key>knGHO</key>
	<string>knG_H_O_.glif</string>
	<key>knGHU</key>
	<string>knG_H_U_.glif</string>
	<key>knGHUU</key>
	<string>knG_H_U_U_.glif</string>
	<key>knGI</key>
	<string>knG_I_.glif</string>
	<key>knGO</key>
	<string>knG_O_.glif</string>
	<key>knGU</key>
	<string>knG_U_.glif</string>
	<key>knGUU</key>
	<string>knG_U_U_.glif</string>
	<key>knHAA</key>
	<string>knH_A_A_.glif</string>
	<key>knHAU</key>
	<string>knH_A_U_.glif</string>
	<key>knHE</key>
	<string>knH_E_.glif</string>
	<key>knHI</key>
	<string>knH_I_.glif</string>
	<key>knHO</key>
	<string>knH_O_.glif</string>
	<key>knHU</key>
	<string>knH_U_.glif</string>
	<key>knHUU</key>
	<string>knH_U_U_.glif</string>
	<key>knJAA</key>
	<string>knJ_A_A_.glif</string>
	<key>knJAU</key>
	<string>knJ_A_U_.glif</string>
	<key>knJE</key>
	<string>knJ_E_.glif</string>
	<key>knJHAA</key>
	<string>knJ_H_A_A_.glif</string>
	<key>knJHAU</key>
	<string>knJ_H_A_U_.glif</string>
	<key>knJHE</key>
	<string>knJ_H_E_.glif</string>
	<key>knJHI</key>
	<string>knJ_H_I_.glif</string>
	<key>knJHO</key>
	<string>knJ_H_O_.glif</string>
	<key>knJHU</key>
	<string>knJ_H_U_.glif</string>
	<key>knJHUU</key>
	<string>knJ_H_U_U_.glif</string>
	<key>knJI</key>
	<string>knJ_I_.glif</string>
	<key>knJO</key>
	<string>knJ_O_.glif</string>
	<key>knJU</key>
	<string>knJ_U_.glif</string>
	<key>knJUU</key>
	<string>knJ_U_U_.glif</string>
	<key>knKAA</key>
	<string>knK_A_A_.glif</string>
	<key>knKAU</key>
	<string>knK_A_U_.glif</string>
	<key>knKE</key>
	<string>knK_E_.glif</string>
	<key>knKHAA</key>
	<string>knK_H_A_A_.glif</string>
	<key>knKHAU</key>
	<string>knK_H_A_U_.glif</string>
	<key>knKHE</key>
	<string>knK_H_E_.glif</string>
	<key>knKHI</key>
	<string>knK_H_I_.glif</string>
	<key>knKHO</key>
	<string>knK_H_O_.glif</string>
	<key>knKHU</key>
	<string>knK_H_U_.glif</string>
	<key>knKHUU</key>
	<string>knK_H_U_U_.glif</string>
	<key>knKI</key>
	<string>knK_I_.glif</string>
	<key>knKO</key>
	<string>knK_O_.glif</string>
	<key>knKSSAc2</key>
	<string>knK_S_S_A_c2.glif</string>
	<key>knKSSAc2.following</key>
	<string>knK_S_S_A_c2.following.glif</string>
	<key>knKU</key>
	<string>knK_U_.glif</string>
	<key>knKUU</key>
	<string>knK_U_U_.glif</string>
	<key>knLAA</key>
	<string>knL_A_A_.glif</string>
	<key>knLAU</key>
	<string>knL_A_U_.glif</string>
	<key>knLE</key>
	<string>knL_E_.glif</string>
	<key>knLI</key>
	<string>knL_I_.glif</string>
	<key>knLLAA</key>
	<string>knL_L_A_A_.glif</string>
	<key>knLLAU</key>
	<string>knL_L_A_U_.glif</string>
	<key>knLLE</key>
	<string>knL_L_E_.glif</string>
	<key>knLLI</key>
	<string>knL_L_I_.glif</string>
	<key>knLLLAA</key>
	<string>knL_L_L_A_A_.glif</string>
	<key>knLLLAU</key>
	<string>knL_L_L_A_U_.glif</string>
	<key>knLLLE</key>
	<string>knL_L_L_E_.glif</string>
	<key>knLLLI</key>
	<string>knL_L_L_I_.glif</string>
	<key>knLLLO</key>
	<string>knL_L_L_O_.glif</string>
	<key>knLLLU</key>
	<string>knL_L_L_U_.glif</string>
	<key>knLLLUU</key>
	<string>knL_L_L_U_U_.glif</string>
	<key>knLLO</key>
	<string>knL_L_O_.glif</string>
	<key>knLLU</key>
	<string>knL_L_U_.glif</string>
	<key>knLLUU</key>
	<string>knL_L_U_U_.glif</string>
	<key>knLO</key>
	<string>knL_O_.glif</string>
	<key>knLU</key>
	<string>knL_U_.glif</string>
	<key>knLUU</key>
	<string>knL_U_U_.glif</string>
	<key>knMAA</key>
	<string>knM_A_A_.glif</string>
	<key>knMAU</key>
	<string>knM_A_U_.glif</string>
	<key>knME</key>
	<string>knM_E_.glif</string>
	<key>knMI</key>
	<string>knM_I_.glif</string>
	<key>knMO</key>
	<string>knM_O_.glif</string>
	<key>knMU</key>
	<string>knM_U_.glif</string>
	<key>knMUU</key>
	<string>knM_U_U_.glif</string>
	<key>knNAA</key>
	<string>knN_A_A_.glif</string>
	<key>knNAU</key>
	<string>knN_A_U_.glif</string>
	<key>knNE</key>
	<string>knN_E_.glif</string>
	<key>knNGAA</key>
	<string>knN_G_A_A_.glif</string>
	<key>knNGAU</key>
	<string>knN_G_A_U_.glif</string>
	<key>knNGE</key>
	<string>knN_G_E_.glif</string>
	<key>knNGI</key>
	<string>knN_G_I_.glif</string>
	<key>knNGO</key>
	<string>knN_G_O_.glif</string>
	<key>knNGU</key>
	<string>knN_G_U_.glif</string>
	<key>knNGUU</key>
	<string>knN_G_U_U_.glif</string>
	<key>knNI</key>
	<string>knN_I_.glif</string>
	<key>knNNAA</key>
	<string>knN_N_A_A_.glif</string>
	<key>knNNAU</key>
	<string>knN_N_A_U_.glif</string>
	<key>knNNE</key>
	<string>knN_N_E_.glif</string>
	<key>knNNI</key>
	<string>knN_N_I_.glif</string>
	<key>knNNO</key>
	<string>knN_N_O_.glif</string>
	<key>knNNU</key>
	<string>knN_N_U_.glif</string>
	<key>knNNUU</key>
	<string>knN_N_U_U_.glif</string>
	<key>knNO</key>
	<string>knN_O_.glif</string>
	<key>knNU</key>
	<string>knN_U_.glif</string>
	<key>knNUU</key>
	<string>knN_U_U_.glif</string>
	<key>knNYAA</key>
	<string>knN_Y_A_A_.glif</string>
	<key>knNYAU</key>
	<string>knN_Y_A_U_.glif</string>
	<key>knNYE</key>
	<string>knN_Y_E_.glif</string>
	<key>knNYI</key>
	<string>knN_Y_I_.glif</string>
	<key>knNYO</key>
	<string>knN_Y_O_.glif</string>
	<key>knNYU</key>
	<string>knN_Y_U_.glif</string>
	<key>knNYUU</key>
	<string>knN_Y_U_U_.glif</string>
	<key>knPAA</key>
	<string>knP_A_A_.glif</string>
	<key>knPAU</key>
	<string>knP_A_U_.glif</string>
	<key>knPE</key>
	<string>knP_E_.glif</string>
	<key>knPHAA</key>
	<string>knP_H_A_A_.glif</string>
	<key>knPHAU</key>
	<string>knP_H_A_U_.glif</string>
	<key>knPHE</key>
	<string>knP_H_E_.glif</string>
	<key>knPHI</key>
	<string>knP_H_I_.glif</string>
	<key>knPHO</key>
	<string>knP_H_O_.glif</string>
	<key>knPHU</key>
	<string>knP_H_U_.glif</string>
	<key>knPHUU</key>
	<string>knP_H_U_U_.glif</string>
	<key>knPI</key>
	<string>knP_I_.glif</string>
	<key>knPO</key>
	<string>knP_O_.glif</string>
	<key>knPU</key>
	<string>knP_U_.glif</string>
	<key>knPUU</key>
	<string>knP_U_U_.glif</string>
	<key>knR</key>
	<string>knR_.glif</string>
	<key>knRAA</key>
	<string>knR_A_A_.glif</string>
	<key>knRAU</key>
	<string>knR_A_U_.glif</string>
	<key>knRE</key>
	<string>knR_E_.glif</string>
	<key>knRI</key>
	<string>knR_I_.glif</string>
	<key>knRO</key>
	<string>knR_O_.glif</string>
	<key>knRRAA</key>
	<string>knR_R_A_A_.glif</string>
	<key>knRRAU</key>
	<string>knR_R_A_U_.glif</string>
	<key>knRRE</key>
	<string>knR_R_E_.glif</string>
	<key>knRRI</key>
	<string>knR_R_I_.glif</string>
	<key>knRRO</key>
	<string>knR_R_O_.glif</string>
	<key>knRRU</key>
	<string>knR_R_U_.glif</string>
	<key>knRRUU</key>
	<string>knR_R_U_U_.glif</string>
	<key>knRU</key>
	<string>knR_U_.glif</string>
	<key>knRUU</key>
	<string>knR_U_U_.glif</string>
	<key>knSAA</key>
	<string>knS_A_A_.glif</string>
	<key>knSAU</key>
	<string>knS_A_U_.glif</string>
	<key>knSE</key>
	<string>knS_E_.glif</string>
	<key>knSHAA</key>
	<string>knS_H_A_A_.glif</string>
	<key>knSHAU</key>
	<string>knS_H_A_U_.glif</string>
	<key>knSHE</key>
	<string>knS_H_E_.glif</string>
	<key>knSHI</key>
	<string>knS_H_I_.glif</string>
	<key>knSHO</key>
	<string>knS_H_O_.glif</string>
	<key>knSHU</key>
	<string>knS_H_U_.glif</string>
	<key>knSHUU</key>
	<string>knS_H_U_U_.glif</string>
	<key>knSI</key>
	<string>knS_I_.glif</string>
	<key>knSO</key>
	<string>knS_O_.glif</string>
	<key>knSSAA</key>
	<string>knS_S_A_A_.glif</string>
	<key>knSSAU</key>
	<string>knS_S_A_U_.glif</string>
	<key>knSSE</key>
	<string>knS_S_E_.glif</string>
	<key>knSSI</key>
	<string>knS_S_I_.glif</string>
	<key>knSSO</key>
	<string>knS_S_O_.glif</string>
	<key>knSSU</key>
	<string>knS_S_U_.glif</string>
	<key>knSSUU</key>
	<string>knS_S_U_U_.glif</string>
	<key>knSU</key>
	<string>knS_U_.glif</string>
	<key>knSUU</key>
	<string>knS_U_U_.glif</string>
	<key>knTAA</key>
	<string>knT_A_A_.glif</string>
	<key>knTAU</key>
	<string>knT_A_U_.glif</string>
	<key>knTE</key>
	<string>knT_E_.glif</string>
	<key>knTHAA</key>
	<string>knT_H_A_A_.glif</string>
	<key>knTHAU</key>
	<string>knT_H_A_U_.glif</string>
	<key>knTHE</key>
	<string>knT_H_E_.glif</string>
	<key>knTHI</key>
	<string>knT_H_I_.glif</string>
	<key>knTHO</key>
	<string>knT_H_O_.glif</string>
	<key>knTHU</key>
	<string>knT_H_U_.glif</string>
	<key>knTHUU</key>
	<string>knT_H_U_U_.glif</string>
	<key>knTI</key>
	<string>knT_I_.glif</string>
	<key>knTO</key>
	<string>knT_O_.glif</string>
	<key>knTTAA</key>
	<string>knT_T_A_A_.glif</string>
	<key>knTTAU</key>
	<string>knT_T_A_U_.glif</string>
	<key>knTTE</key>
	<string>knT_T_E_.glif</string>
	<key>knTTHAA</key>
	<string>knT_T_H_A_A_.glif</string>
	<key>knTTHAU</key>
	<string>knT_T_H_A_U_.glif</string>
	<key>knTTHE</key>
	<string>knT_T_H_E_.glif</string>
	<key>knTTHI</key>
	<string>knT_T_H_I_.glif</string>
	<key>knTTHO</key>
	<string>knT_T_H_O_.glif</string>
	<key>knTTHU</key>
	<string>knT_T_H_U_.glif</string>
	<key>knTTHUU</key>
	<string>knT_T_H_U_U_.glif</string>
	<key>knTTI</key>
	<string>knT_T_I_.glif</string>
	<key>knTTO</key>
	<string>knT_T_O_.glif</string>
	<key>knTTU</key>
	<string>knT_T_U_.glif</string>
	<key>knTTUU</key>
	<string>knT_T_U_U_.glif</string>
	<key>knTU</key>
	<string>knT_U_.glif</string>
	<key>knTUU</key>
	<string>knT_U_U_.glif</string>
	<key>knVAA</key>
	<string>knV_A_A_.glif</string>
	<key>knVAU</key>
	<string>knV_A_U_.glif</string>
	<key>knVE</key>
	<string>knV_E_.glif</string>
	<key>knVI</key>
	<string>knV_I_.glif</string>
	<key>knVO</key>
	<string>knV_O_.glif</string>
	<key>knVU</key>
	<string>knV_U_.glif</string>
	<key>knVUU</key>
	<string>knV_U_U_.glif</string>
	<key>knYAA</key>
	<string>knY_A_A_.glif</string>
	<key>knYAU</key>
	<string>knY_A_U_.glif</string>
	<key>knYE</key>
	<string>knY_E_.glif</string>
	<key>knYI</key>
	<string>knY_I_.glif</string>
	<key>knYO</key>
	<string>knY_O_.glif</string>
	<key>knYU</key>
	<string>knY_U_.glif</string>
	<key>knYUU</key>
	<string>knY_U_U_.glif</string>
	<key>knsignvR.following</key>
	<string>knsignvR_.following.glif</string>
	<key>knsignvRR.following</key>
	<string>knsignvR_R_.following.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l-kannada</key>
	<string>l-kannada.glif</string>
	<key>lVocalic-kannada</key>
	<string>lV_ocalic-kannada.glif</string>
	<key>lVocalicMatra-kannada</key>
	<string>lV_ocalicM_atra-kannada.glif</string>
	<key>la-kannada</key>
	<string>la-kannada.glif</string>
	<key>la-kannada.base</key>
	<string>la-kannada.base.glif</string>
	<key>la-kannada.below</key>
	<string>la-kannada.below.glif</string>
	<key>la-kannada.below.following</key>
	<string>la-kannada.below.following.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>length-kannada</key>
	<string>length-kannada.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>liraTurkish</key>
	<string>liraT_urkish.glif</string>
	<key>literSign</key>
	<string>literS_ign.glif</string>
	<key>ll-kannada</key>
	<string>ll-kannada.glif</string>
	<key>llVocalic-kannada</key>
	<string>llV_ocalic-kannada.glif</string>
	<key>llVocalicMatra-kannada</key>
	<string>llV_ocalicM_atra-kannada.glif</string>
	<key>lla-kannada</key>
	<string>lla-kannada.glif</string>
	<key>lla-kannada.base</key>
	<string>lla-kannada.base.glif</string>
	<key>lla-kannada.below</key>
	<string>lla-kannada.below.glif</string>
	<key>lla-kannada.below.following</key>
	<string>lla-kannada.below.following.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m-kannada</key>
	<string>m-kannada.glif</string>
	<key>ma-kannada</key>
	<string>ma-kannada.glif</string>
	<key>ma-kannada.base</key>
	<string>ma-kannada.base.glif</string>
	<key>ma-kannada.below</key>
	<string>ma-kannada.below.glif</string>
	<key>ma-kannada.below.following</key>
	<string>ma-kannada.below.following.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>macroncomb.cap</key>
	<string>macroncomb.cap.glif</string>
	<key>micro</key>
	<string>micro.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n-kannada</key>
	<string>n-kannada.glif</string>
	<key>na-kannada</key>
	<string>na-kannada.glif</string>
	<key>na-kannada.base</key>
	<string>na-kannada.base.glif</string>
	<key>na-kannada.below</key>
	<string>na-kannada.below.glif</string>
	<key>na-kannada.below.following</key>
	<string>na-kannada.below.following.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>ng-kannada</key>
	<string>ng-kannada.glif</string>
	<key>nga-kannada</key>
	<string>nga-kannada.glif</string>
	<key>nga-kannada.base</key>
	<string>nga-kannada.base.glif</string>
	<key>nga-kannada.below</key>
	<string>nga-kannada.below.glif</string>
	<key>nga-kannada.below.following</key>
	<string>nga-kannada.below.following.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine-kannada</key>
	<string>nine-kannada.glif</string>
	<key>nn-kannada</key>
	<string>nn-kannada.glif</string>
	<key>nna-kannada</key>
	<string>nna-kannada.glif</string>
	<key>nna-kannada.base</key>
	<string>nna-kannada.base.glif</string>
	<key>nna-kannada.below</key>
	<string>nna-kannada.below.glif</string>
	<key>nna-kannada.below.following</key>
	<string>nna-kannada.below.following.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nukta-kannada</key>
	<string>nukta-kannada.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>ny-kannada</key>
	<string>ny-kannada.glif</string>
	<key>nya-kannada</key>
	<string>nya-kannada.glif</string>
	<key>nya-kannada.base</key>
	<string>nya-kannada.base.glif</string>
	<key>nya-kannada.below</key>
	<string>nya-kannada.below.glif</string>
	<key>nya-kannada.below.following</key>
	<string>nya-kannada.below.following.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o-kannada</key>
	<string>o-kannada.glif</string>
	<key>oMatra-kannada</key>
	<string>oM_atra-kannada.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one-kannada</key>
	<string>one-kannada.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>oo-kannada</key>
	<string>oo-kannada.glif</string>
	<key>ooMatra-kannada</key>
	<string>ooM_atra-kannada.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p-kannada</key>
	<string>p-kannada.glif</string>
	<key>pa-kannada</key>
	<string>pa-kannada.glif</string>
	<key>pa-kannada.base</key>
	<string>pa-kannada.base.glif</string>
	<key>pa-kannada.below</key>
	<string>pa-kannada.below.glif</string>
	<key>pa-kannada.below.following</key>
	<string>pa-kannada.below.following.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>ph-kannada</key>
	<string>ph-kannada.glif</string>
	<key>pha-kannada</key>
	<string>pha-kannada.glif</string>
	<key>pha-kannada.base</key>
	<string>pha-kannada.base.glif</string>
	<key>pha-kannada.below</key>
	<string>pha-kannada.below.glif</string>
	<key>pha-kannada.below.following</key>
	<string>pha-kannada.below.following.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>rVocalic-kannada</key>
	<string>rV_ocalic-kannada.glif</string>
	<key>rVocalicMatra-kannada</key>
	<string>rV_ocalicM_atra-kannada.glif</string>
	<key>ra-kannada</key>
	<string>ra-kannada.glif</string>
	<key>ra-kannada.base</key>
	<string>ra-kannada.base.glif</string>
	<key>ra-kannada.below</key>
	<string>ra-kannada.below.glif</string>
	<key>ra-kannada.below.following</key>
	<string>ra-kannada.below.following.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>reph-kannada</key>
	<string>reph-kannada.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ringcomb.cap</key>
	<string>ringcomb.cap.glif</string>
	<key>rr-kannada</key>
	<string>rr-kannada.glif</string>
	<key>rrVocalic-kannada</key>
	<string>rrV_ocalic-kannada.glif</string>
	<key>rrVocalicMatra-kannada</key>
	<string>rrV_ocalicM_atra-kannada.glif</string>
	<key>rra-kannada</key>
	<string>rra-kannada.glif</string>
	<key>rra-kannada.base</key>
	<string>rra-kannada.base.glif</string>
	<key>rra-kannada.below</key>
	<string>rra-kannada.below.glif</string>
	<key>rra-kannada.below.following</key>
	<string>rra-kannada.below.following.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeI_ndian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s-kannada</key>
	<string>s-kannada.glif</string>
	<key>sa-kannada</key>
	<string>sa-kannada.glif</string>
	<key>sa-kannada.base</key>
	<string>sa-kannada.base.glif</string>
	<key>sa-kannada.below</key>
	<string>sa-kannada.below.glif</string>
	<key>sa-kannada.below.following</key>
	<string>sa-kannada.below.following.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven-kannada</key>
	<string>seven-kannada.glif</string>
	<key>sh-kannada</key>
	<string>sh-kannada.glif</string>
	<key>sha-kannada</key>
	<string>sha-kannada.glif</string>
	<key>sha-kannada.base</key>
	<string>sha-kannada.base.glif</string>
	<key>sha-kannada.below</key>
	<string>sha-kannada.below.glif</string>
	<key>sha-kannada.below.following</key>
	<string>sha-kannada.below.following.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six-kannada</key>
	<string>six-kannada.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ss-kannada</key>
	<string>ss-kannada.glif</string>
	<key>ssa-kannada</key>
	<string>ssa-kannada.glif</string>
	<key>ssa-kannada.base</key>
	<string>ssa-kannada.base.glif</string>
	<key>ssa-kannada.below</key>
	<string>ssa-kannada.below.glif</string>
	<key>ssa-kannada.below.following</key>
	<string>ssa-kannada.below.following.glif</string>
	<key>ssa-kannada.below.kssa</key>
	<string>ssa-kannada.below.kssa.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t-kannada</key>
	<string>t-kannada.glif</string>
	<key>ta-kannada</key>
	<string>ta-kannada.glif</string>
	<key>ta-kannada.base</key>
	<string>ta-kannada.base.glif</string>
	<key>ta-kannada.below</key>
	<string>ta-kannada.below.glif</string>
	<key>ta-kannada.below.following</key>
	<string>ta-kannada.below.following.glif</string>
	<key>ta.below_RAc2-kannada</key>
	<string>ta.below_R_A_c2-kannada.glif</string>
	<key>ta.below_RAc2-kannada.following</key>
	<string>ta.below_R_A_c2-kannada.following.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>th-kannada</key>
	<string>th-kannada.glif</string>
	<key>tha-kannada</key>
	<string>tha-kannada.glif</string>
	<key>tha-kannada.base</key>
	<string>tha-kannada.base.glif</string>
	<key>tha-kannada.below</key>
	<string>tha-kannada.below.glif</string>
	<key>tha-kannada.below.following</key>
	<string>tha-kannada.below.following.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three-kannada</key>
	<string>three-kannada.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tildecomb.cap</key>
	<string>tildecomb.cap.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tt-kannada</key>
	<string>tt-kannada.glif</string>
	<key>tta-kannada</key>
	<string>tta-kannada.glif</string>
	<key>tta-kannada.base</key>
	<string>tta-kannada.base.glif</string>
	<key>tta-kannada.below</key>
	<string>tta-kannada.below.glif</string>
	<key>tta-kannada.below.following</key>
	<string>tta-kannada.below.following.glif</string>
	<key>tth-kannada</key>
	<string>tth-kannada.glif</string>
	<key>ttha-kannada</key>
	<string>ttha-kannada.glif</string>
	<key>ttha-kannada.base</key>
	<string>ttha-kannada.base.glif</string>
	<key>ttha-kannada.below</key>
	<string>ttha-kannada.below.glif</string>
	<key>ttha-kannada.below.following</key>
	<string>ttha-kannada.below.following.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two-kannada</key>
	<string>two-kannada.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u-kannada</key>
	<string>u-kannada.glif</string>
	<key>uMatra-kannada</key>
	<string>uM_atra-kannada.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>upadhmaniya-kannada</key>
	<string>upadhmaniya-kannada.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>uu-kannada</key>
	<string>uu-kannada.glif</string>
	<key>uuMatra-kannada</key>
	<string>uuM_atra-kannada.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v-kannada</key>
	<string>v-kannada.glif</string>
	<key>va-kannada</key>
	<string>va-kannada.glif</string>
	<key>va-kannada.base</key>
	<string>va-kannada.base.glif</string>
	<key>va-kannada.below</key>
	<string>va-kannada.below.glif</string>
	<key>va-kannada.below.following</key>
	<string>va-kannada.below.following.glif</string>
	<key>visarga-kannada</key>
	<string>visarga-kannada.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y-kannada</key>
	<string>y-kannada.glif</string>
	<key>ya-kannada</key>
	<string>ya-kannada.glif</string>
	<key>ya-kannada.base</key>
	<string>ya-kannada.base.glif</string>
	<key>ya-kannada.below</key>
	<string>ya-kannada.below.glif</string>
	<key>ya-kannada.below.following</key>
	<string>ya-kannada.below.following.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero-kannada</key>
	<string>zero-kannada.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
