<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AEmacron</key>
	<string>AEmacron_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex_.glif</string>
	<key>Ddotbelow</key>
	<string>Ddotbelow_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ebreve</key>
	<string>Ebreve_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Etilde</key>
	<string>Etilde_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbrevebelow</key>
	<string>Hbrevebelow_.glif</string>
	<key>Hdotbelow</key>
	<string>Hdotbelow_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kdotbelow</key>
	<string>Kdotbelow_.glif</string>
	<key>Klinebelow</key>
	<string>Klinebelow_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Ldotbelow</key>
	<string>Ldotbelow_.glif</string>
	<key>Ldotbelowmacron</key>
	<string>Ldotbelowmacron_.glif</string>
	<key>Llinebelow</key>
	<string>Llinebelow_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Mdotaccent</key>
	<string>Mdotaccent_.glif</string>
	<key>Mdotbelow</key>
	<string>Mdotbelow_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Ndotaccent</key>
	<string>Ndotaccent_.glif</string>
	<key>Ndotbelow</key>
	<string>Ndotbelow_.glif</string>
	<key>Nlinebelow</key>
	<string>Nlinebelow_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Obreve</key>
	<string>Obreve_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Rdotaccent</key>
	<string>Rdotaccent_.glif</string>
	<key>Rdotbelow</key>
	<string>Rdotbelow_.glif</string>
	<key>Rdotbelowmacron</key>
	<string>Rdotbelowmacron_.glif</string>
	<key>Rlinebelow</key>
	<string>Rlinebelow_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Sdotbelow</key>
	<string>Sdotbelow_.glif</string>
	<key>Tdotbelow</key>
	<string>Tdotbelow_.glif</string>
	<key>Tlinebelow</key>
	<string>Tlinebelow_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ubreve</key>
	<string>Ubreve_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ydotaccent</key>
	<string>Ydotaccent_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>Zdotbelow</key>
	<string>Zdotbelow_.glif</string>
	<key>Zlinebelow</key>
	<string>Zlinebelow_.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>aemacron</key>
	<string>aemacron.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>ddotbelow</key>
	<string>ddotbelow.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>etilde</key>
	<string>etilde.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbrevebelow</key>
	<string>hbrevebelow.glif</string>
	<key>hdotbelow</key>
	<string>hdotbelow.glif</string>
	<key>hlinebelow</key>
	<string>hlinebelow.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>kdotbelow</key>
	<string>kdotbelow.glif</string>
	<key>klinebelow</key>
	<string>klinebelow.glif</string>
	<key>knAasign</key>
	<string>knAasign_.glif</string>
	<key>knAisign</key>
	<string>knAisign_.glif</string>
	<key>knBa</key>
	<string>knBa_.glif</string>
	<key>knDa</key>
	<string>knDa_.glif</string>
	<key>knDa.c2</key>
	<string>knDa_.c2.glif</string>
	<key>knEsign</key>
	<string>knEsign_.glif</string>
	<key>knMO</key>
	<string>knMO_.glif</string>
	<key>knNa</key>
	<string>knNa_.glif</string>
	<key>knOosign</key>
	<string>knOosign_.glif</string>
	<key>knPa</key>
	<string>knPa_.glif</string>
	<key>knPha</key>
	<string>knPha_.glif</string>
	<key>knRa</key>
	<string>knRa_.glif</string>
	<key>knRrvocal</key>
	<string>knRrvocal_.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>ldotbelow</key>
	<string>ldotbelow.glif</string>
	<key>ldotbelowmacron</key>
	<string>ldotbelowmacron.glif</string>
	<key>llinebelow</key>
	<string>llinebelow.glif</string>
	<key>mdotaccent</key>
	<string>mdotaccent.glif</string>
	<key>mdotbelow</key>
	<string>mdotbelow.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>ndotaccent</key>
	<string>ndotaccent.glif</string>
	<key>ndotbelow</key>
	<string>ndotbelow.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nlinebelow</key>
	<string>nlinebelow.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>rdotaccent</key>
	<string>rdotaccent.glif</string>
	<key>rdotbelow</key>
	<string>rdotbelow.glif</string>
	<key>rdotbelowmacron</key>
	<string>rdotbelowmacron.glif</string>
	<key>rlinebelow</key>
	<string>rlinebelow.glif</string>
	<key>rupeeindian</key>
	<string>rupeeindian.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>sdotbelow</key>
	<string>sdotbelow.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>tdotbelow</key>
	<string>tdotbelow.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>tlinebelow</key>
	<string>tlinebelow.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydotaccent</key>
	<string>ydotaccent.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zdotbelow</key>
	<string>zdotbelow.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zlinebelow</key>
	<string>zlinebelow.glif</string>
</dict>
</plist>
