<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>knA</key>
	<string>knA_.glif</string>
	<key>knAA</key>
	<string>knAA_.glif</string>
	<key>knAI</key>
	<string>knAI_.glif</string>
	<key>knAU</key>
	<string>knAU_.glif</string>
	<key>knB</key>
	<string>knB_.glif</string>
	<key>knBA</key>
	<string>knBA_.glif</string>
	<key>knBA.base</key>
	<string>knBA_.base.glif</string>
	<key>knBAA</key>
	<string>knBAA_.glif</string>
	<key>knBAU</key>
	<string>knBAU_.glif</string>
	<key>knBAc2</key>
	<string>knBAc2_.glif</string>
	<key>knBE</key>
	<string>knBE_.glif</string>
	<key>knBH</key>
	<string>knBH_.glif</string>
	<key>knBHA</key>
	<string>knBHA_.glif</string>
	<key>knBHA.base</key>
	<string>knBHA_.base.glif</string>
	<key>knBHAA</key>
	<string>knBHAA_.glif</string>
	<key>knBHAU</key>
	<string>knBHAU_.glif</string>
	<key>knBHAc2</key>
	<string>knBHAc2_.glif</string>
	<key>knBHE</key>
	<string>knBHE_.glif</string>
	<key>knBHI</key>
	<string>knBHI_.glif</string>
	<key>knBHO</key>
	<string>knBHO_.glif</string>
	<key>knBHU</key>
	<string>knBHU_.glif</string>
	<key>knBHUU</key>
	<string>knBHUU_.glif</string>
	<key>knBI</key>
	<string>knBI_.glif</string>
	<key>knBO</key>
	<string>knBO_.glif</string>
	<key>knBU</key>
	<string>knBU_.glif</string>
	<key>knBUU</key>
	<string>knBUU_.glif</string>
	<key>knC</key>
	<string>knC_.glif</string>
	<key>knCA</key>
	<string>knCA_.glif</string>
	<key>knCA.base</key>
	<string>knCA_.base.glif</string>
	<key>knCAA</key>
	<string>knCAA_.glif</string>
	<key>knCAU</key>
	<string>knCAU_.glif</string>
	<key>knCAc2</key>
	<string>knCAc2_.glif</string>
	<key>knCE</key>
	<string>knCE_.glif</string>
	<key>knCH</key>
	<string>knCH_.glif</string>
	<key>knCHA</key>
	<string>knCHA_.glif</string>
	<key>knCHA.base</key>
	<string>knCHA_.base.glif</string>
	<key>knCHAA</key>
	<string>knCHAA_.glif</string>
	<key>knCHAU</key>
	<string>knCHAU_.glif</string>
	<key>knCHAc2</key>
	<string>knCHAc2_.glif</string>
	<key>knCHE</key>
	<string>knCHE_.glif</string>
	<key>knCHI</key>
	<string>knCHI_.glif</string>
	<key>knCHO</key>
	<string>knCHO_.glif</string>
	<key>knCHU</key>
	<string>knCHU_.glif</string>
	<key>knCHUU</key>
	<string>knCHUU_.glif</string>
	<key>knCI</key>
	<string>knCI_.glif</string>
	<key>knCO</key>
	<string>knCO_.glif</string>
	<key>knCU</key>
	<string>knCU_.glif</string>
	<key>knCUU</key>
	<string>knCUU_.glif</string>
	<key>knD</key>
	<string>knD_.glif</string>
	<key>knDA</key>
	<string>knDA_.glif</string>
	<key>knDA.base</key>
	<string>knDA_.base.glif</string>
	<key>knDAA</key>
	<string>knDAA_.glif</string>
	<key>knDAU</key>
	<string>knDAU_.glif</string>
	<key>knDAc2</key>
	<string>knDAc2_.glif</string>
	<key>knDD</key>
	<string>knDD_.glif</string>
	<key>knDDA</key>
	<string>knDDA_.glif</string>
	<key>knDDA.base</key>
	<string>knDDA_.base.glif</string>
	<key>knDDAA</key>
	<string>knDDAA_.glif</string>
	<key>knDDAU</key>
	<string>knDDAU_.glif</string>
	<key>knDDAc2</key>
	<string>knDDAc2_.glif</string>
	<key>knDDE</key>
	<string>knDDE_.glif</string>
	<key>knDDH</key>
	<string>knDDH_.glif</string>
	<key>knDDHA</key>
	<string>knDDHA_.glif</string>
	<key>knDDHA.base</key>
	<string>knDDHA_.base.glif</string>
	<key>knDDHAA</key>
	<string>knDDHAA_.glif</string>
	<key>knDDHAU</key>
	<string>knDDHAU_.glif</string>
	<key>knDDHAc2</key>
	<string>knDDHAc2_.glif</string>
	<key>knDDHE</key>
	<string>knDDHE_.glif</string>
	<key>knDDHI</key>
	<string>knDDHI_.glif</string>
	<key>knDDHO</key>
	<string>knDDHO_.glif</string>
	<key>knDDHU</key>
	<string>knDDHU_.glif</string>
	<key>knDDHUU</key>
	<string>knDDHUU_.glif</string>
	<key>knDDI</key>
	<string>knDDI_.glif</string>
	<key>knDDO</key>
	<string>knDDO_.glif</string>
	<key>knDDU</key>
	<string>knDDU_.glif</string>
	<key>knDDUU</key>
	<string>knDDUU_.glif</string>
	<key>knDE</key>
	<string>knDE_.glif</string>
	<key>knDH</key>
	<string>knDH_.glif</string>
	<key>knDHA</key>
	<string>knDHA_.glif</string>
	<key>knDHA.base</key>
	<string>knDHA_.base.glif</string>
	<key>knDHAA</key>
	<string>knDHAA_.glif</string>
	<key>knDHAU</key>
	<string>knDHAU_.glif</string>
	<key>knDHAc2</key>
	<string>knDHAc2_.glif</string>
	<key>knDHE</key>
	<string>knDHE_.glif</string>
	<key>knDHI</key>
	<string>knDHI_.glif</string>
	<key>knDHO</key>
	<string>knDHO_.glif</string>
	<key>knDHU</key>
	<string>knDHU_.glif</string>
	<key>knDHUU</key>
	<string>knDHUU_.glif</string>
	<key>knDI</key>
	<string>knDI_.glif</string>
	<key>knDO</key>
	<string>knDO_.glif</string>
	<key>knDU</key>
	<string>knDU_.glif</string>
	<key>knDUU</key>
	<string>knDUU_.glif</string>
	<key>knE</key>
	<string>knE_.glif</string>
	<key>knEE</key>
	<string>knEE_.glif</string>
	<key>knG</key>
	<string>knG_.glif</string>
	<key>knGA</key>
	<string>knGA_.glif</string>
	<key>knGA.base</key>
	<string>knGA_.base.glif</string>
	<key>knGAA</key>
	<string>knGAA_.glif</string>
	<key>knGAU</key>
	<string>knGAU_.glif</string>
	<key>knGAc2</key>
	<string>knGAc2_.glif</string>
	<key>knGE</key>
	<string>knGE_.glif</string>
	<key>knGH</key>
	<string>knGH_.glif</string>
	<key>knGHA</key>
	<string>knGHA_.glif</string>
	<key>knGHA.base</key>
	<string>knGHA_.base.glif</string>
	<key>knGHAA</key>
	<string>knGHAA_.glif</string>
	<key>knGHAU</key>
	<string>knGHAU_.glif</string>
	<key>knGHAc2</key>
	<string>knGHAc2_.glif</string>
	<key>knGHE</key>
	<string>knGHE_.glif</string>
	<key>knGHI</key>
	<string>knGHI_.glif</string>
	<key>knGHO</key>
	<string>knGHO_.glif</string>
	<key>knGHU</key>
	<string>knGHU_.glif</string>
	<key>knGHUU</key>
	<string>knGHUU_.glif</string>
	<key>knGI</key>
	<string>knGI_.glif</string>
	<key>knGO</key>
	<string>knGO_.glif</string>
	<key>knGU</key>
	<string>knGU_.glif</string>
	<key>knGUU</key>
	<string>knGUU_.glif</string>
	<key>knH</key>
	<string>knH_.glif</string>
	<key>knHA</key>
	<string>knHA_.glif</string>
	<key>knHA.base</key>
	<string>knHA_.base.glif</string>
	<key>knHAA</key>
	<string>knHAA_.glif</string>
	<key>knHAU</key>
	<string>knHAU_.glif</string>
	<key>knHAc2</key>
	<string>knHAc2_.glif</string>
	<key>knHE</key>
	<string>knHE_.glif</string>
	<key>knHI</key>
	<string>knHI_.glif</string>
	<key>knHO</key>
	<string>knHO_.glif</string>
	<key>knHU</key>
	<string>knHU_.glif</string>
	<key>knHUU</key>
	<string>knHUU_.glif</string>
	<key>knI</key>
	<string>knI_.glif</string>
	<key>knII</key>
	<string>knII_.glif</string>
	<key>knJ</key>
	<string>knJ_.glif</string>
	<key>knJA</key>
	<string>knJA_.glif</string>
	<key>knJA.base</key>
	<string>knJA_.base.glif</string>
	<key>knJAA</key>
	<string>knJAA_.glif</string>
	<key>knJAU</key>
	<string>knJAU_.glif</string>
	<key>knJAc2</key>
	<string>knJAc2_.glif</string>
	<key>knJE</key>
	<string>knJE_.glif</string>
	<key>knJH</key>
	<string>knJH_.glif</string>
	<key>knJHA</key>
	<string>knJHA_.glif</string>
	<key>knJHA.base</key>
	<string>knJHA_.base.glif</string>
	<key>knJHAA</key>
	<string>knJHAA_.glif</string>
	<key>knJHAU</key>
	<string>knJHAU_.glif</string>
	<key>knJHAc2</key>
	<string>knJHAc2_.glif</string>
	<key>knJHE</key>
	<string>knJHE_.glif</string>
	<key>knJHI</key>
	<string>knJHI_.glif</string>
	<key>knJHO</key>
	<string>knJHO_.glif</string>
	<key>knJHU</key>
	<string>knJHU_.glif</string>
	<key>knJHUU</key>
	<string>knJHUU_.glif</string>
	<key>knJI</key>
	<string>knJI_.glif</string>
	<key>knJO</key>
	<string>knJO_.glif</string>
	<key>knJU</key>
	<string>knJU_.glif</string>
	<key>knJUU</key>
	<string>knJUU_.glif</string>
	<key>knK</key>
	<string>knK_.glif</string>
	<key>knKA</key>
	<string>knKA_.glif</string>
	<key>knKA.base</key>
	<string>knKA_.base.glif</string>
	<key>knKAA</key>
	<string>knKAA_.glif</string>
	<key>knKAU</key>
	<string>knKAU_.glif</string>
	<key>knKAc2</key>
	<string>knKAc2_.glif</string>
	<key>knKE</key>
	<string>knKE_.glif</string>
	<key>knKH</key>
	<string>knKH_.glif</string>
	<key>knKHA</key>
	<string>knKHA_.glif</string>
	<key>knKHA.base</key>
	<string>knKHA_.base.glif</string>
	<key>knKHAA</key>
	<string>knKHAA_.glif</string>
	<key>knKHAU</key>
	<string>knKHAU_.glif</string>
	<key>knKHAc2</key>
	<string>knKHAc2_.glif</string>
	<key>knKHE</key>
	<string>knKHE_.glif</string>
	<key>knKHI</key>
	<string>knKHI_.glif</string>
	<key>knKHO</key>
	<string>knKHO_.glif</string>
	<key>knKHU</key>
	<string>knKHU_.glif</string>
	<key>knKHUU</key>
	<string>knKHUU_.glif</string>
	<key>knKI</key>
	<string>knKI_.glif</string>
	<key>knKO</key>
	<string>knKO_.glif</string>
	<key>knKU</key>
	<string>knKU_.glif</string>
	<key>knKUU</key>
	<string>knKUU_.glif</string>
	<key>knL</key>
	<string>knL_.glif</string>
	<key>knLA</key>
	<string>knLA_.glif</string>
	<key>knLA.base</key>
	<string>knLA_.base.glif</string>
	<key>knLAA</key>
	<string>knLAA_.glif</string>
	<key>knLAU</key>
	<string>knLAU_.glif</string>
	<key>knLAc2</key>
	<string>knLAc2_.glif</string>
	<key>knLE</key>
	<string>knLE_.glif</string>
	<key>knLI</key>
	<string>knLI_.glif</string>
	<key>knLL</key>
	<string>knLL_.glif</string>
	<key>knLLA</key>
	<string>knLLA_.glif</string>
	<key>knLLA.base</key>
	<string>knLLA_.base.glif</string>
	<key>knLLAA</key>
	<string>knLLAA_.glif</string>
	<key>knLLAU</key>
	<string>knLLAU_.glif</string>
	<key>knLLAc2</key>
	<string>knLLAc2_.glif</string>
	<key>knLLE</key>
	<string>knLLE_.glif</string>
	<key>knLLI</key>
	<string>knLLI_.glif</string>
	<key>knLLL</key>
	<string>knLLL_.glif</string>
	<key>knLLLA</key>
	<string>knLLLA_.glif</string>
	<key>knLLLA.base</key>
	<string>knLLLA_.base.glif</string>
	<key>knLLLAA</key>
	<string>knLLLAA_.glif</string>
	<key>knLLLAU</key>
	<string>knLLLAU_.glif</string>
	<key>knLLLAc2</key>
	<string>knLLLAc2_.glif</string>
	<key>knLLLE</key>
	<string>knLLLE_.glif</string>
	<key>knLLLI</key>
	<string>knLLLI_.glif</string>
	<key>knLLLO</key>
	<string>knLLLO_.glif</string>
	<key>knLLLU</key>
	<string>knLLLU_.glif</string>
	<key>knLLLUU</key>
	<string>knLLLUU_.glif</string>
	<key>knLLO</key>
	<string>knLLO_.glif</string>
	<key>knLLU</key>
	<string>knLLU_.glif</string>
	<key>knLLUU</key>
	<string>knLLUU_.glif</string>
	<key>knLO</key>
	<string>knLO_.glif</string>
	<key>knLU</key>
	<string>knLU_.glif</string>
	<key>knLUU</key>
	<string>knLUU_.glif</string>
	<key>knLengthmark</key>
	<string>knLengthmark_.glif</string>
	<key>knM</key>
	<string>knM_.glif</string>
	<key>knMA</key>
	<string>knMA_.glif</string>
	<key>knMA.base</key>
	<string>knMA_.base.glif</string>
	<key>knMAA</key>
	<string>knMAA_.glif</string>
	<key>knMAU</key>
	<string>knMAU_.glif</string>
	<key>knMAc2</key>
	<string>knMAc2_.glif</string>
	<key>knME</key>
	<string>knME_.glif</string>
	<key>knMI</key>
	<string>knMI_.glif</string>
	<key>knMO</key>
	<string>knMO_.glif</string>
	<key>knMU</key>
	<string>knMU_.glif</string>
	<key>knMUU</key>
	<string>knMUU_.glif</string>
	<key>knN</key>
	<string>knN_.glif</string>
	<key>knNA</key>
	<string>knNA_.glif</string>
	<key>knNA.base</key>
	<string>knNA_.base.glif</string>
	<key>knNAA</key>
	<string>knNAA_.glif</string>
	<key>knNAU</key>
	<string>knNAU_.glif</string>
	<key>knNAc2</key>
	<string>knNAc2_.glif</string>
	<key>knNE</key>
	<string>knNE_.glif</string>
	<key>knNG</key>
	<string>knNG_.glif</string>
	<key>knNGA</key>
	<string>knNGA_.glif</string>
	<key>knNGA.base</key>
	<string>knNGA_.base.glif</string>
	<key>knNGAA</key>
	<string>knNGAA_.glif</string>
	<key>knNGAU</key>
	<string>knNGAU_.glif</string>
	<key>knNGAc2</key>
	<string>knNGAc2_.glif</string>
	<key>knNGE</key>
	<string>knNGE_.glif</string>
	<key>knNGO</key>
	<string>knNGO_.glif</string>
	<key>knNGU</key>
	<string>knNGU_.glif</string>
	<key>knNGUU</key>
	<string>knNGUU_.glif</string>
	<key>knNI</key>
	<string>knNI_.glif</string>
	<key>knNN</key>
	<string>knNN_.glif</string>
	<key>knNNA</key>
	<string>knNNA_.glif</string>
	<key>knNNA.base</key>
	<string>knNNA_.base.glif</string>
	<key>knNNAA</key>
	<string>knNNAA_.glif</string>
	<key>knNNAU</key>
	<string>knNNAU_.glif</string>
	<key>knNNAc2</key>
	<string>knNNAc2_.glif</string>
	<key>knNNE</key>
	<string>knNNE_.glif</string>
	<key>knNNI</key>
	<string>knNNI_.glif</string>
	<key>knNNO</key>
	<string>knNNO_.glif</string>
	<key>knNNU</key>
	<string>knNNU_.glif</string>
	<key>knNNUU</key>
	<string>knNNUU_.glif</string>
	<key>knNO</key>
	<string>knNO_.glif</string>
	<key>knNU</key>
	<string>knNU_.glif</string>
	<key>knNUU</key>
	<string>knNUU_.glif</string>
	<key>knNY</key>
	<string>knNY_.glif</string>
	<key>knNYA</key>
	<string>knNYA_.glif</string>
	<key>knNYA.base</key>
	<string>knNYA_.base.glif</string>
	<key>knNYAA</key>
	<string>knNYAA_.glif</string>
	<key>knNYAU</key>
	<string>knNYAU_.glif</string>
	<key>knNYAc2</key>
	<string>knNYAc2_.glif</string>
	<key>knNYE</key>
	<string>knNYE_.glif</string>
	<key>knNYO</key>
	<string>knNYO_.glif</string>
	<key>knNYU</key>
	<string>knNYU_.glif</string>
	<key>knNYUU</key>
	<string>knNYUU_.glif</string>
	<key>knNukta</key>
	<string>knNukta_.glif</string>
	<key>knO</key>
	<string>knO_.glif</string>
	<key>knOO</key>
	<string>knOO_.glif</string>
	<key>knP</key>
	<string>knP_.glif</string>
	<key>knPA</key>
	<string>knPA_.glif</string>
	<key>knPA.base</key>
	<string>knPA_.base.glif</string>
	<key>knPAA</key>
	<string>knPAA_.glif</string>
	<key>knPAU</key>
	<string>knPAU_.glif</string>
	<key>knPAc2</key>
	<string>knPAc2_.glif</string>
	<key>knPE</key>
	<string>knPE_.glif</string>
	<key>knPH</key>
	<string>knPH_.glif</string>
	<key>knPHA</key>
	<string>knPHA_.glif</string>
	<key>knPHA.base</key>
	<string>knPHA_.base.glif</string>
	<key>knPHAA</key>
	<string>knPHAA_.glif</string>
	<key>knPHAU</key>
	<string>knPHAU_.glif</string>
	<key>knPHAc2</key>
	<string>knPHAc2_.glif</string>
	<key>knPHE</key>
	<string>knPHE_.glif</string>
	<key>knPHI</key>
	<string>knPHI_.glif</string>
	<key>knPHO</key>
	<string>knPHO_.glif</string>
	<key>knPHU</key>
	<string>knPHU_.glif</string>
	<key>knPHUU</key>
	<string>knPHUU_.glif</string>
	<key>knPI</key>
	<string>knPI_.glif</string>
	<key>knPO</key>
	<string>knPO_.glif</string>
	<key>knPU</key>
	<string>knPU_.glif</string>
	<key>knPUU</key>
	<string>knPUU_.glif</string>
	<key>knR</key>
	<string>knR_.glif</string>
	<key>knRA</key>
	<string>knRA_.glif</string>
	<key>knRA.base</key>
	<string>knRA_.base.glif</string>
	<key>knRAA</key>
	<string>knRAA_.glif</string>
	<key>knRAU</key>
	<string>knRAU_.glif</string>
	<key>knRAc2</key>
	<string>knRAc2_.glif</string>
	<key>knRE</key>
	<string>knRE_.glif</string>
	<key>knRI</key>
	<string>knRI_.glif</string>
	<key>knRO</key>
	<string>knRO_.glif</string>
	<key>knRR</key>
	<string>knRR_.glif</string>
	<key>knRRA</key>
	<string>knRRA_.glif</string>
	<key>knRRA.base</key>
	<string>knRRA_.base.glif</string>
	<key>knRRAA</key>
	<string>knRRAA_.glif</string>
	<key>knRRAU</key>
	<string>knRRAU_.glif</string>
	<key>knRRAc2</key>
	<string>knRRAc2_.glif</string>
	<key>knRRE</key>
	<string>knRRE_.glif</string>
	<key>knRRI</key>
	<string>knRRI_.glif</string>
	<key>knRRO</key>
	<string>knRRO_.glif</string>
	<key>knRRU</key>
	<string>knRRU_.glif</string>
	<key>knRRUU</key>
	<string>knRRUU_.glif</string>
	<key>knRU</key>
	<string>knRU_.glif</string>
	<key>knRUU</key>
	<string>knRUU_.glif</string>
	<key>knS</key>
	<string>knS_.glif</string>
	<key>knSA</key>
	<string>knSA_.glif</string>
	<key>knSA.base</key>
	<string>knSA_.base.glif</string>
	<key>knSAA</key>
	<string>knSAA_.glif</string>
	<key>knSAU</key>
	<string>knSAU_.glif</string>
	<key>knSAc2</key>
	<string>knSAc2_.glif</string>
	<key>knSE</key>
	<string>knSE_.glif</string>
	<key>knSH</key>
	<string>knSH_.glif</string>
	<key>knSHA</key>
	<string>knSHA_.glif</string>
	<key>knSHA.base</key>
	<string>knSHA_.base.glif</string>
	<key>knSHAA</key>
	<string>knSHAA_.glif</string>
	<key>knSHAU</key>
	<string>knSHAU_.glif</string>
	<key>knSHAc2</key>
	<string>knSHAc2_.glif</string>
	<key>knSHE</key>
	<string>knSHE_.glif</string>
	<key>knSHI</key>
	<string>knSHI_.glif</string>
	<key>knSHO</key>
	<string>knSHO_.glif</string>
	<key>knSHU</key>
	<string>knSHU_.glif</string>
	<key>knSHUU</key>
	<string>knSHUU_.glif</string>
	<key>knSI</key>
	<string>knSI_.glif</string>
	<key>knSO</key>
	<string>knSO_.glif</string>
	<key>knSS</key>
	<string>knSS_.glif</string>
	<key>knSSA</key>
	<string>knSSA_.glif</string>
	<key>knSSA.base</key>
	<string>knSSA_.base.glif</string>
	<key>knSSAA</key>
	<string>knSSAA_.glif</string>
	<key>knSSAU</key>
	<string>knSSAU_.glif</string>
	<key>knSSAc2</key>
	<string>knSSAc2_.glif</string>
	<key>knSSE</key>
	<string>knSSE_.glif</string>
	<key>knSSI</key>
	<string>knSSI_.glif</string>
	<key>knSSO</key>
	<string>knSSO_.glif</string>
	<key>knSSU</key>
	<string>knSSU_.glif</string>
	<key>knSSUU</key>
	<string>knSSUU_.glif</string>
	<key>knSU</key>
	<string>knSU_.glif</string>
	<key>knSUU</key>
	<string>knSUU_.glif</string>
	<key>knT</key>
	<string>knT_.glif</string>
	<key>knTA</key>
	<string>knTA_.glif</string>
	<key>knTA.base</key>
	<string>knTA_.base.glif</string>
	<key>knTAA</key>
	<string>knTAA_.glif</string>
	<key>knTAU</key>
	<string>knTAU_.glif</string>
	<key>knTAc2</key>
	<string>knTAc2_.glif</string>
	<key>knTE</key>
	<string>knTE_.glif</string>
	<key>knTH</key>
	<string>knTH_.glif</string>
	<key>knTHA</key>
	<string>knTHA_.glif</string>
	<key>knTHA.base</key>
	<string>knTHA_.base.glif</string>
	<key>knTHAA</key>
	<string>knTHAA_.glif</string>
	<key>knTHAU</key>
	<string>knTHAU_.glif</string>
	<key>knTHAc2</key>
	<string>knTHAc2_.glif</string>
	<key>knTHE</key>
	<string>knTHE_.glif</string>
	<key>knTHI</key>
	<string>knTHI_.glif</string>
	<key>knTHO</key>
	<string>knTHO_.glif</string>
	<key>knTHU</key>
	<string>knTHU_.glif</string>
	<key>knTHUU</key>
	<string>knTHUU_.glif</string>
	<key>knTI</key>
	<string>knTI_.glif</string>
	<key>knTO</key>
	<string>knTO_.glif</string>
	<key>knTT</key>
	<string>knTT_.glif</string>
	<key>knTTA</key>
	<string>knTTA_.glif</string>
	<key>knTTA.base</key>
	<string>knTTA_.base.glif</string>
	<key>knTTAA</key>
	<string>knTTAA_.glif</string>
	<key>knTTAU</key>
	<string>knTTAU_.glif</string>
	<key>knTTAc2</key>
	<string>knTTAc2_.glif</string>
	<key>knTTE</key>
	<string>knTTE_.glif</string>
	<key>knTTH</key>
	<string>knTTH_.glif</string>
	<key>knTTHA</key>
	<string>knTTHA_.glif</string>
	<key>knTTHA.base</key>
	<string>knTTHA_.base.glif</string>
	<key>knTTHAA</key>
	<string>knTTHAA_.glif</string>
	<key>knTTHAU</key>
	<string>knTTHAU_.glif</string>
	<key>knTTHAc2</key>
	<string>knTTHAc2_.glif</string>
	<key>knTTHE</key>
	<string>knTTHE_.glif</string>
	<key>knTTHI</key>
	<string>knTTHI_.glif</string>
	<key>knTTHO</key>
	<string>knTTHO_.glif</string>
	<key>knTTHU</key>
	<string>knTTHU_.glif</string>
	<key>knTTHUU</key>
	<string>knTTHUU_.glif</string>
	<key>knTTI</key>
	<string>knTTI_.glif</string>
	<key>knTTO</key>
	<string>knTTO_.glif</string>
	<key>knTTU</key>
	<string>knTTU_.glif</string>
	<key>knTTUU</key>
	<string>knTTUU_.glif</string>
	<key>knTU</key>
	<string>knTU_.glif</string>
	<key>knTUU</key>
	<string>knTUU_.glif</string>
	<key>knU</key>
	<string>knU_.glif</string>
	<key>knUU</key>
	<string>knUU_.glif</string>
	<key>knUsign</key>
	<string>knUsign_.glif</string>
	<key>knUusign</key>
	<string>knUusign_.glif</string>
	<key>knV</key>
	<string>knV_.glif</string>
	<key>knVA</key>
	<string>knVA_.glif</string>
	<key>knVA.base</key>
	<string>knVA_.base.glif</string>
	<key>knVAA</key>
	<string>knVAA_.glif</string>
	<key>knVAU</key>
	<string>knVAU_.glif</string>
	<key>knVAc2</key>
	<string>knVAc2_.glif</string>
	<key>knVE</key>
	<string>knVE_.glif</string>
	<key>knVI</key>
	<string>knVI_.glif</string>
	<key>knVO</key>
	<string>knVO_.glif</string>
	<key>knVU</key>
	<string>knVU_.glif</string>
	<key>knVUU</key>
	<string>knVUU_.glif</string>
	<key>knVirama</key>
	<string>knVirama_.glif</string>
	<key>knVisarga</key>
	<string>knVisarga_.glif</string>
	<key>knY</key>
	<string>knY_.glif</string>
	<key>knYA</key>
	<string>knYA_.glif</string>
	<key>knYA.base</key>
	<string>knYA_.base.glif</string>
	<key>knYAA</key>
	<string>knYAA_.glif</string>
	<key>knYAU</key>
	<string>knYAU_.glif</string>
	<key>knYAc2</key>
	<string>knYAc2_.glif</string>
	<key>knYE</key>
	<string>knYE_.glif</string>
	<key>knYI</key>
	<string>knYI_.glif</string>
	<key>knYO</key>
	<string>knYO_.glif</string>
	<key>knYU</key>
	<string>knYU_.glif</string>
	<key>knYUU</key>
	<string>knYUU_.glif</string>
	<key>knmAA</key>
	<string>knmAA_.glif</string>
	<key>knmAU</key>
	<string>knmAU_.glif</string>
	<key>knmE</key>
	<string>knmE_.glif</string>
	<key>knmEE</key>
	<string>knmEE_.glif</string>
	<key>knmI</key>
	<string>knmI_.glif</string>
	<key>knmII</key>
	<string>knmII_.glif</string>
	<key>knmO</key>
	<string>knmO_.glif</string>
	<key>knmOO</key>
	<string>knmOO_.glif</string>
	<key>knmU</key>
	<string>knmU_.glif</string>
	<key>knmUU</key>
	<string>knmUU_.glif</string>
	<key>knvL</key>
	<string>knvL_.glif</string>
	<key>knvR</key>
	<string>knvR_.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
