<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecmb</key>
	<string>acutecmb.glif</string>
	<key>acutecmb.cap</key>
	<string>acutecmb.cap.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecmb</key>
	<string>brevecmb.glif</string>
	<key>brevecmb.cap</key>
	<string>brevecmb.cap.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncmb</key>
	<string>caroncmb.glif</string>
	<key>caroncmb.cap</key>
	<string>caroncmb.cap.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacmb</key>
	<string>cedillacmb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcmb</key>
	<string>circumflexcmb.glif</string>
	<key>circumflexcmb.cap</key>
	<string>circumflexcmb.cap.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>commaaccentcmb</key>
	<string>commaaccentcmb.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscmb</key>
	<string>dieresiscmb.glif</string>
	<key>dieresiscmb.cap</key>
	<string>dieresiscmb.cap.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcmb</key>
	<string>dotaccentcmb.glif</string>
	<key>dotaccentcmb.cap</key>
	<string>dotaccentcmb.cap.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>ethslash</key>
	<string>ethslash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecmb</key>
	<string>gravecmb.glif</string>
	<key>gravecmb.cap</key>
	<string>gravecmb.cap.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcmb</key>
	<string>hungarumlautcmb.glif</string>
	<key>hungarumlautcmb.cap</key>
	<string>hungarumlautcmb.cap.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>indianrupee</key>
	<string>indianrupee.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>knA</key>
	<string>knA_.glif</string>
	<key>knAA</key>
	<string>knA_A_.glif</string>
	<key>knAI</key>
	<string>knA_I_.glif</string>
	<key>knAIlengthmark</key>
	<string>knA_I_lengthmark.glif</string>
	<key>knAIlengthmark.following</key>
	<string>knA_I_lengthmark.following.glif</string>
	<key>knAU</key>
	<string>knA_U_.glif</string>
	<key>knAnusvara</key>
	<string>knA_nusvara.glif</string>
	<key>knAvagraha</key>
	<string>knA_vagraha.glif</string>
	<key>knB</key>
	<string>knB_.glif</string>
	<key>knBA</key>
	<string>knB_A_.glif</string>
	<key>knBA.base</key>
	<string>knB_A_.base.glif</string>
	<key>knBAA</key>
	<string>knB_A_A_.glif</string>
	<key>knBAU</key>
	<string>knB_A_U_.glif</string>
	<key>knBAc2</key>
	<string>knB_A_c2.glif</string>
	<key>knBAc2.following</key>
	<string>knB_A_c2.following.glif</string>
	<key>knBE</key>
	<string>knB_E_.glif</string>
	<key>knBH</key>
	<string>knB_H_.glif</string>
	<key>knBHA</key>
	<string>knB_H_A_.glif</string>
	<key>knBHA.base</key>
	<string>knB_H_A_.base.glif</string>
	<key>knBHAA</key>
	<string>knB_H_A_A_.glif</string>
	<key>knBHAU</key>
	<string>knB_H_A_U_.glif</string>
	<key>knBHAc2</key>
	<string>knB_H_A_c2.glif</string>
	<key>knBHAc2.following</key>
	<string>knB_H_A_c2.following.glif</string>
	<key>knBHE</key>
	<string>knB_H_E_.glif</string>
	<key>knBHI</key>
	<string>knB_H_I_.glif</string>
	<key>knBHO</key>
	<string>knB_H_O_.glif</string>
	<key>knBHU</key>
	<string>knB_H_U_.glif</string>
	<key>knBHUU</key>
	<string>knB_H_U_U_.glif</string>
	<key>knBI</key>
	<string>knB_I_.glif</string>
	<key>knBO</key>
	<string>knB_O_.glif</string>
	<key>knBU</key>
	<string>knB_U_.glif</string>
	<key>knBUU</key>
	<string>knB_U_U_.glif</string>
	<key>knC</key>
	<string>knC_.glif</string>
	<key>knCA</key>
	<string>knC_A_.glif</string>
	<key>knCA.base</key>
	<string>knC_A_.base.glif</string>
	<key>knCAA</key>
	<string>knC_A_A_.glif</string>
	<key>knCAU</key>
	<string>knC_A_U_.glif</string>
	<key>knCAc2</key>
	<string>knC_A_c2.glif</string>
	<key>knCAc2.following</key>
	<string>knC_A_c2.following.glif</string>
	<key>knCE</key>
	<string>knC_E_.glif</string>
	<key>knCH</key>
	<string>knC_H_.glif</string>
	<key>knCHA</key>
	<string>knC_H_A_.glif</string>
	<key>knCHA.base</key>
	<string>knC_H_A_.base.glif</string>
	<key>knCHAA</key>
	<string>knC_H_A_A_.glif</string>
	<key>knCHAU</key>
	<string>knC_H_A_U_.glif</string>
	<key>knCHAc2</key>
	<string>knC_H_A_c2.glif</string>
	<key>knCHAc2.following</key>
	<string>knC_H_A_c2.following.glif</string>
	<key>knCHE</key>
	<string>knC_H_E_.glif</string>
	<key>knCHI</key>
	<string>knC_H_I_.glif</string>
	<key>knCHO</key>
	<string>knC_H_O_.glif</string>
	<key>knCHU</key>
	<string>knC_H_U_.glif</string>
	<key>knCHUU</key>
	<string>knC_H_U_U_.glif</string>
	<key>knCI</key>
	<string>knC_I_.glif</string>
	<key>knCO</key>
	<string>knC_O_.glif</string>
	<key>knCU</key>
	<string>knC_U_.glif</string>
	<key>knCUU</key>
	<string>knC_U_U_.glif</string>
	<key>knCandrabindu</key>
	<string>knC_andrabindu.glif</string>
	<key>knD</key>
	<string>knD_.glif</string>
	<key>knDA</key>
	<string>knD_A_.glif</string>
	<key>knDA.base</key>
	<string>knD_A_.base.glif</string>
	<key>knDAA</key>
	<string>knD_A_A_.glif</string>
	<key>knDAU</key>
	<string>knD_A_U_.glif</string>
	<key>knDAc2</key>
	<string>knD_A_c2.glif</string>
	<key>knDAc2.following</key>
	<string>knD_A_c2.following.glif</string>
	<key>knDD</key>
	<string>knD_D_.glif</string>
	<key>knDDA</key>
	<string>knD_D_A_.glif</string>
	<key>knDDA.base</key>
	<string>knD_D_A_.base.glif</string>
	<key>knDDAA</key>
	<string>knD_D_A_A_.glif</string>
	<key>knDDAU</key>
	<string>knD_D_A_U_.glif</string>
	<key>knDDAc2</key>
	<string>knD_D_A_c2.glif</string>
	<key>knDDAc2.following</key>
	<string>knD_D_A_c2.following.glif</string>
	<key>knDDE</key>
	<string>knD_D_E_.glif</string>
	<key>knDDH</key>
	<string>knD_D_H_.glif</string>
	<key>knDDHA</key>
	<string>knD_D_H_A_.glif</string>
	<key>knDDHA.base</key>
	<string>knD_D_H_A_.base.glif</string>
	<key>knDDHAA</key>
	<string>knD_D_H_A_A_.glif</string>
	<key>knDDHAU</key>
	<string>knD_D_H_A_U_.glif</string>
	<key>knDDHAc2</key>
	<string>knD_D_H_A_c2.glif</string>
	<key>knDDHAc2.following</key>
	<string>knD_D_H_A_c2.following.glif</string>
	<key>knDDHE</key>
	<string>knD_D_H_E_.glif</string>
	<key>knDDHI</key>
	<string>knD_D_H_I_.glif</string>
	<key>knDDHO</key>
	<string>knD_D_H_O_.glif</string>
	<key>knDDHU</key>
	<string>knD_D_H_U_.glif</string>
	<key>knDDHUU</key>
	<string>knD_D_H_U_U_.glif</string>
	<key>knDDI</key>
	<string>knD_D_I_.glif</string>
	<key>knDDO</key>
	<string>knD_D_O_.glif</string>
	<key>knDDU</key>
	<string>knD_D_U_.glif</string>
	<key>knDDUU</key>
	<string>knD_D_U_U_.glif</string>
	<key>knDE</key>
	<string>knD_E_.glif</string>
	<key>knDH</key>
	<string>knD_H_.glif</string>
	<key>knDHA</key>
	<string>knD_H_A_.glif</string>
	<key>knDHA.base</key>
	<string>knD_H_A_.base.glif</string>
	<key>knDHAA</key>
	<string>knD_H_A_A_.glif</string>
	<key>knDHAU</key>
	<string>knD_H_A_U_.glif</string>
	<key>knDHAc2</key>
	<string>knD_H_A_c2.glif</string>
	<key>knDHAc2.following</key>
	<string>knD_H_A_c2.following.glif</string>
	<key>knDHE</key>
	<string>knD_H_E_.glif</string>
	<key>knDHI</key>
	<string>knD_H_I_.glif</string>
	<key>knDHO</key>
	<string>knD_H_O_.glif</string>
	<key>knDHU</key>
	<string>knD_H_U_.glif</string>
	<key>knDHUU</key>
	<string>knD_H_U_U_.glif</string>
	<key>knDI</key>
	<string>knD_I_.glif</string>
	<key>knDO</key>
	<string>knD_O_.glif</string>
	<key>knDU</key>
	<string>knD_U_.glif</string>
	<key>knDUU</key>
	<string>knD_U_U_.glif</string>
	<key>knE</key>
	<string>knE_.glif</string>
	<key>knEE</key>
	<string>knE_E_.glif</string>
	<key>knEight</key>
	<string>knE_ight.glif</string>
	<key>knFive</key>
	<string>knF_ive.glif</string>
	<key>knFour</key>
	<string>knF_our.glif</string>
	<key>knG</key>
	<string>knG_.glif</string>
	<key>knGA</key>
	<string>knG_A_.glif</string>
	<key>knGA.base</key>
	<string>knG_A_.base.glif</string>
	<key>knGAA</key>
	<string>knG_A_A_.glif</string>
	<key>knGAU</key>
	<string>knG_A_U_.glif</string>
	<key>knGAc2</key>
	<string>knG_A_c2.glif</string>
	<key>knGAc2.following</key>
	<string>knG_A_c2.following.glif</string>
	<key>knGE</key>
	<string>knG_E_.glif</string>
	<key>knGH</key>
	<string>knG_H_.glif</string>
	<key>knGHA</key>
	<string>knG_H_A_.glif</string>
	<key>knGHA.base</key>
	<string>knG_H_A_.base.glif</string>
	<key>knGHAA</key>
	<string>knG_H_A_A_.glif</string>
	<key>knGHAU</key>
	<string>knG_H_A_U_.glif</string>
	<key>knGHAc2</key>
	<string>knG_H_A_c2.glif</string>
	<key>knGHAc2.following</key>
	<string>knG_H_A_c2.following.glif</string>
	<key>knGHE</key>
	<string>knG_H_E_.glif</string>
	<key>knGHI</key>
	<string>knG_H_I_.glif</string>
	<key>knGHO</key>
	<string>knG_H_O_.glif</string>
	<key>knGHU</key>
	<string>knG_H_U_.glif</string>
	<key>knGHUU</key>
	<string>knG_H_U_U_.glif</string>
	<key>knGI</key>
	<string>knG_I_.glif</string>
	<key>knGO</key>
	<string>knG_O_.glif</string>
	<key>knGU</key>
	<string>knG_U_.glif</string>
	<key>knGUU</key>
	<string>knG_U_U_.glif</string>
	<key>knH</key>
	<string>knH_.glif</string>
	<key>knHA</key>
	<string>knH_A_.glif</string>
	<key>knHA.base</key>
	<string>knH_A_.base.glif</string>
	<key>knHAA</key>
	<string>knH_A_A_.glif</string>
	<key>knHAU</key>
	<string>knH_A_U_.glif</string>
	<key>knHAc2</key>
	<string>knH_A_c2.glif</string>
	<key>knHAc2.following</key>
	<string>knH_A_c2.following.glif</string>
	<key>knHE</key>
	<string>knH_E_.glif</string>
	<key>knHI</key>
	<string>knH_I_.glif</string>
	<key>knHO</key>
	<string>knH_O_.glif</string>
	<key>knHU</key>
	<string>knH_U_.glif</string>
	<key>knHUU</key>
	<string>knH_U_U_.glif</string>
	<key>knI</key>
	<string>knI_.glif</string>
	<key>knII</key>
	<string>knI_I_.glif</string>
	<key>knJ</key>
	<string>knJ_.glif</string>
	<key>knJA</key>
	<string>knJ_A_.glif</string>
	<key>knJA.base</key>
	<string>knJ_A_.base.glif</string>
	<key>knJAA</key>
	<string>knJ_A_A_.glif</string>
	<key>knJAU</key>
	<string>knJ_A_U_.glif</string>
	<key>knJAc2</key>
	<string>knJ_A_c2.glif</string>
	<key>knJAc2.following</key>
	<string>knJ_A_c2.following.glif</string>
	<key>knJE</key>
	<string>knJ_E_.glif</string>
	<key>knJH</key>
	<string>knJ_H_.glif</string>
	<key>knJHA</key>
	<string>knJ_H_A_.glif</string>
	<key>knJHA.base</key>
	<string>knJ_H_A_.base.glif</string>
	<key>knJHAA</key>
	<string>knJ_H_A_A_.glif</string>
	<key>knJHAU</key>
	<string>knJ_H_A_U_.glif</string>
	<key>knJHAc2</key>
	<string>knJ_H_A_c2.glif</string>
	<key>knJHAc2.following</key>
	<string>knJ_H_A_c2.following.glif</string>
	<key>knJHE</key>
	<string>knJ_H_E_.glif</string>
	<key>knJHI</key>
	<string>knJ_H_I_.glif</string>
	<key>knJHO</key>
	<string>knJ_H_O_.glif</string>
	<key>knJHU</key>
	<string>knJ_H_U_.glif</string>
	<key>knJHUU</key>
	<string>knJ_H_U_U_.glif</string>
	<key>knJI</key>
	<string>knJ_I_.glif</string>
	<key>knJO</key>
	<string>knJ_O_.glif</string>
	<key>knJU</key>
	<string>knJ_U_.glif</string>
	<key>knJUU</key>
	<string>knJ_U_U_.glif</string>
	<key>knJihvamuliya</key>
	<string>knJ_ihvamuliya.glif</string>
	<key>knK</key>
	<string>knK_.glif</string>
	<key>knKA</key>
	<string>knK_A_.glif</string>
	<key>knKA.base</key>
	<string>knK_A_.base.glif</string>
	<key>knKAA</key>
	<string>knK_A_A_.glif</string>
	<key>knKAU</key>
	<string>knK_A_U_.glif</string>
	<key>knKAc2</key>
	<string>knK_A_c2.glif</string>
	<key>knKAc2.following</key>
	<string>knK_A_c2.following.glif</string>
	<key>knKE</key>
	<string>knK_E_.glif</string>
	<key>knKH</key>
	<string>knK_H_.glif</string>
	<key>knKHA</key>
	<string>knK_H_A_.glif</string>
	<key>knKHA.base</key>
	<string>knK_H_A_.base.glif</string>
	<key>knKHAA</key>
	<string>knK_H_A_A_.glif</string>
	<key>knKHAU</key>
	<string>knK_H_A_U_.glif</string>
	<key>knKHAc2</key>
	<string>knK_H_A_c2.glif</string>
	<key>knKHAc2.following</key>
	<string>knK_H_A_c2.following.glif</string>
	<key>knKHE</key>
	<string>knK_H_E_.glif</string>
	<key>knKHI</key>
	<string>knK_H_I_.glif</string>
	<key>knKHO</key>
	<string>knK_H_O_.glif</string>
	<key>knKHU</key>
	<string>knK_H_U_.glif</string>
	<key>knKHUU</key>
	<string>knK_H_U_U_.glif</string>
	<key>knKI</key>
	<string>knK_I_.glif</string>
	<key>knKO</key>
	<string>knK_O_.glif</string>
	<key>knKSSAc2</key>
	<string>knK_S_S_A_c2.glif</string>
	<key>knKSSAc2.following</key>
	<string>knK_S_S_A_c2.following.glif</string>
	<key>knKU</key>
	<string>knK_U_.glif</string>
	<key>knKUU</key>
	<string>knK_U_U_.glif</string>
	<key>knL</key>
	<string>knL_.glif</string>
	<key>knLA</key>
	<string>knL_A_.glif</string>
	<key>knLA.base</key>
	<string>knL_A_.base.glif</string>
	<key>knLAA</key>
	<string>knL_A_A_.glif</string>
	<key>knLAU</key>
	<string>knL_A_U_.glif</string>
	<key>knLAc2</key>
	<string>knL_A_c2.glif</string>
	<key>knLAc2.following</key>
	<string>knL_A_c2.following.glif</string>
	<key>knLE</key>
	<string>knL_E_.glif</string>
	<key>knLI</key>
	<string>knL_I_.glif</string>
	<key>knLL</key>
	<string>knL_L_.glif</string>
	<key>knLLA</key>
	<string>knL_L_A_.glif</string>
	<key>knLLA.base</key>
	<string>knL_L_A_.base.glif</string>
	<key>knLLAA</key>
	<string>knL_L_A_A_.glif</string>
	<key>knLLAU</key>
	<string>knL_L_A_U_.glif</string>
	<key>knLLAc2</key>
	<string>knL_L_A_c2.glif</string>
	<key>knLLAc2.following</key>
	<string>knL_L_A_c2.following.glif</string>
	<key>knLLE</key>
	<string>knL_L_E_.glif</string>
	<key>knLLI</key>
	<string>knL_L_I_.glif</string>
	<key>knLLL</key>
	<string>knL_L_L_.glif</string>
	<key>knLLLA</key>
	<string>knL_L_L_A_.glif</string>
	<key>knLLLA.base</key>
	<string>knL_L_L_A_.base.glif</string>
	<key>knLLLAA</key>
	<string>knL_L_L_A_A_.glif</string>
	<key>knLLLAU</key>
	<string>knL_L_L_A_U_.glif</string>
	<key>knLLLAc2</key>
	<string>knL_L_L_A_c2.glif</string>
	<key>knLLLAc2.following</key>
	<string>knL_L_L_A_c2.following.glif</string>
	<key>knLLLE</key>
	<string>knL_L_L_E_.glif</string>
	<key>knLLLI</key>
	<string>knL_L_L_I_.glif</string>
	<key>knLLLO</key>
	<string>knL_L_L_O_.glif</string>
	<key>knLLLU</key>
	<string>knL_L_L_U_.glif</string>
	<key>knLLLUU</key>
	<string>knL_L_L_U_U_.glif</string>
	<key>knLLO</key>
	<string>knL_L_O_.glif</string>
	<key>knLLU</key>
	<string>knL_L_U_.glif</string>
	<key>knLLUU</key>
	<string>knL_L_U_U_.glif</string>
	<key>knLO</key>
	<string>knL_O_.glif</string>
	<key>knLU</key>
	<string>knL_U_.glif</string>
	<key>knLUU</key>
	<string>knL_U_U_.glif</string>
	<key>knLengthmark</key>
	<string>knL_engthmark.glif</string>
	<key>knM</key>
	<string>knM_.glif</string>
	<key>knMA</key>
	<string>knM_A_.glif</string>
	<key>knMA.base</key>
	<string>knM_A_.base.glif</string>
	<key>knMAA</key>
	<string>knM_A_A_.glif</string>
	<key>knMAU</key>
	<string>knM_A_U_.glif</string>
	<key>knMAc2</key>
	<string>knM_A_c2.glif</string>
	<key>knMAc2.following</key>
	<string>knM_A_c2.following.glif</string>
	<key>knME</key>
	<string>knM_E_.glif</string>
	<key>knMI</key>
	<string>knM_I_.glif</string>
	<key>knMO</key>
	<string>knM_O_.glif</string>
	<key>knMU</key>
	<string>knM_U_.glif</string>
	<key>knMUU</key>
	<string>knM_U_U_.glif</string>
	<key>knN</key>
	<string>knN_.glif</string>
	<key>knNA</key>
	<string>knN_A_.glif</string>
	<key>knNA.base</key>
	<string>knN_A_.base.glif</string>
	<key>knNAA</key>
	<string>knN_A_A_.glif</string>
	<key>knNAU</key>
	<string>knN_A_U_.glif</string>
	<key>knNAc2</key>
	<string>knN_A_c2.glif</string>
	<key>knNAc2.following</key>
	<string>knN_A_c2.following.glif</string>
	<key>knNE</key>
	<string>knN_E_.glif</string>
	<key>knNG</key>
	<string>knN_G_.glif</string>
	<key>knNGA</key>
	<string>knN_G_A_.glif</string>
	<key>knNGA.base</key>
	<string>knN_G_A_.base.glif</string>
	<key>knNGAA</key>
	<string>knN_G_A_A_.glif</string>
	<key>knNGAU</key>
	<string>knN_G_A_U_.glif</string>
	<key>knNGAc2</key>
	<string>knN_G_A_c2.glif</string>
	<key>knNGAc2.following</key>
	<string>knN_G_A_c2.following.glif</string>
	<key>knNGE</key>
	<string>knN_G_E_.glif</string>
	<key>knNGI</key>
	<string>knN_G_I_.glif</string>
	<key>knNGO</key>
	<string>knN_G_O_.glif</string>
	<key>knNGU</key>
	<string>knN_G_U_.glif</string>
	<key>knNGUU</key>
	<string>knN_G_U_U_.glif</string>
	<key>knNI</key>
	<string>knN_I_.glif</string>
	<key>knNN</key>
	<string>knN_N_.glif</string>
	<key>knNNA</key>
	<string>knN_N_A_.glif</string>
	<key>knNNA.base</key>
	<string>knN_N_A_.base.glif</string>
	<key>knNNAA</key>
	<string>knN_N_A_A_.glif</string>
	<key>knNNAU</key>
	<string>knN_N_A_U_.glif</string>
	<key>knNNAc2</key>
	<string>knN_N_A_c2.glif</string>
	<key>knNNAc2.following</key>
	<string>knN_N_A_c2.following.glif</string>
	<key>knNNE</key>
	<string>knN_N_E_.glif</string>
	<key>knNNI</key>
	<string>knN_N_I_.glif</string>
	<key>knNNO</key>
	<string>knN_N_O_.glif</string>
	<key>knNNU</key>
	<string>knN_N_U_.glif</string>
	<key>knNNUU</key>
	<string>knN_N_U_U_.glif</string>
	<key>knNO</key>
	<string>knN_O_.glif</string>
	<key>knNU</key>
	<string>knN_U_.glif</string>
	<key>knNUU</key>
	<string>knN_U_U_.glif</string>
	<key>knNY</key>
	<string>knN_Y_.glif</string>
	<key>knNYA</key>
	<string>knN_Y_A_.glif</string>
	<key>knNYA.base</key>
	<string>knN_Y_A_.base.glif</string>
	<key>knNYAA</key>
	<string>knN_Y_A_A_.glif</string>
	<key>knNYAU</key>
	<string>knN_Y_A_U_.glif</string>
	<key>knNYAc2</key>
	<string>knN_Y_A_c2.glif</string>
	<key>knNYAc2.following</key>
	<string>knN_Y_A_c2.following.glif</string>
	<key>knNYE</key>
	<string>knN_Y_E_.glif</string>
	<key>knNYI</key>
	<string>knN_Y_I_.glif</string>
	<key>knNYO</key>
	<string>knN_Y_O_.glif</string>
	<key>knNYU</key>
	<string>knN_Y_U_.glif</string>
	<key>knNYUU</key>
	<string>knN_Y_U_U_.glif</string>
	<key>knNine</key>
	<string>knN_ine.glif</string>
	<key>knNukta</key>
	<string>knN_ukta.glif</string>
	<key>knO</key>
	<string>knO_.glif</string>
	<key>knOO</key>
	<string>knO_O_.glif</string>
	<key>knOne</key>
	<string>knO_ne.glif</string>
	<key>knP</key>
	<string>knP_.glif</string>
	<key>knPA</key>
	<string>knP_A_.glif</string>
	<key>knPA.base</key>
	<string>knP_A_.base.glif</string>
	<key>knPAA</key>
	<string>knP_A_A_.glif</string>
	<key>knPAU</key>
	<string>knP_A_U_.glif</string>
	<key>knPAc2</key>
	<string>knP_A_c2.glif</string>
	<key>knPAc2.following</key>
	<string>knP_A_c2.following.glif</string>
	<key>knPE</key>
	<string>knP_E_.glif</string>
	<key>knPH</key>
	<string>knP_H_.glif</string>
	<key>knPHA</key>
	<string>knP_H_A_.glif</string>
	<key>knPHA.base</key>
	<string>knP_H_A_.base.glif</string>
	<key>knPHAA</key>
	<string>knP_H_A_A_.glif</string>
	<key>knPHAU</key>
	<string>knP_H_A_U_.glif</string>
	<key>knPHAc2</key>
	<string>knP_H_A_c2.glif</string>
	<key>knPHAc2.following</key>
	<string>knP_H_A_c2.following.glif</string>
	<key>knPHE</key>
	<string>knP_H_E_.glif</string>
	<key>knPHI</key>
	<string>knP_H_I_.glif</string>
	<key>knPHO</key>
	<string>knP_H_O_.glif</string>
	<key>knPHU</key>
	<string>knP_H_U_.glif</string>
	<key>knPHUU</key>
	<string>knP_H_U_U_.glif</string>
	<key>knPI</key>
	<string>knP_I_.glif</string>
	<key>knPO</key>
	<string>knP_O_.glif</string>
	<key>knPU</key>
	<string>knP_U_.glif</string>
	<key>knPUU</key>
	<string>knP_U_U_.glif</string>
	<key>knR</key>
	<string>knR_.glif</string>
	<key>knRA</key>
	<string>knR_A_.glif</string>
	<key>knRA.base</key>
	<string>knR_A_.base.glif</string>
	<key>knRAA</key>
	<string>knR_A_A_.glif</string>
	<key>knRAU</key>
	<string>knR_A_U_.glif</string>
	<key>knRAc2</key>
	<string>knR_A_c2.glif</string>
	<key>knRAc2.following</key>
	<string>knR_A_c2.following.glif</string>
	<key>knRE</key>
	<string>knR_E_.glif</string>
	<key>knRI</key>
	<string>knR_I_.glif</string>
	<key>knRO</key>
	<string>knR_O_.glif</string>
	<key>knRR</key>
	<string>knR_R_.glif</string>
	<key>knRRA</key>
	<string>knR_R_A_.glif</string>
	<key>knRRA.base</key>
	<string>knR_R_A_.base.glif</string>
	<key>knRRAA</key>
	<string>knR_R_A_A_.glif</string>
	<key>knRRAU</key>
	<string>knR_R_A_U_.glif</string>
	<key>knRRAc2</key>
	<string>knR_R_A_c2.glif</string>
	<key>knRRAc2.following</key>
	<string>knR_R_A_c2.following.glif</string>
	<key>knRRE</key>
	<string>knR_R_E_.glif</string>
	<key>knRRI</key>
	<string>knR_R_I_.glif</string>
	<key>knRRO</key>
	<string>knR_R_O_.glif</string>
	<key>knRRU</key>
	<string>knR_R_U_.glif</string>
	<key>knRRUU</key>
	<string>knR_R_U_U_.glif</string>
	<key>knRU</key>
	<string>knR_U_.glif</string>
	<key>knRUU</key>
	<string>knR_U_U_.glif</string>
	<key>knReph</key>
	<string>knR_eph.glif</string>
	<key>knS</key>
	<string>knS_.glif</string>
	<key>knSA</key>
	<string>knS_A_.glif</string>
	<key>knSA.base</key>
	<string>knS_A_.base.glif</string>
	<key>knSAA</key>
	<string>knS_A_A_.glif</string>
	<key>knSAU</key>
	<string>knS_A_U_.glif</string>
	<key>knSAc2</key>
	<string>knS_A_c2.glif</string>
	<key>knSAc2.following</key>
	<string>knS_A_c2.following.glif</string>
	<key>knSE</key>
	<string>knS_E_.glif</string>
	<key>knSH</key>
	<string>knS_H_.glif</string>
	<key>knSHA</key>
	<string>knS_H_A_.glif</string>
	<key>knSHA.base</key>
	<string>knS_H_A_.base.glif</string>
	<key>knSHAA</key>
	<string>knS_H_A_A_.glif</string>
	<key>knSHAU</key>
	<string>knS_H_A_U_.glif</string>
	<key>knSHAc2</key>
	<string>knS_H_A_c2.glif</string>
	<key>knSHAc2.following</key>
	<string>knS_H_A_c2.following.glif</string>
	<key>knSHE</key>
	<string>knS_H_E_.glif</string>
	<key>knSHI</key>
	<string>knS_H_I_.glif</string>
	<key>knSHO</key>
	<string>knS_H_O_.glif</string>
	<key>knSHU</key>
	<string>knS_H_U_.glif</string>
	<key>knSHUU</key>
	<string>knS_H_U_U_.glif</string>
	<key>knSI</key>
	<string>knS_I_.glif</string>
	<key>knSO</key>
	<string>knS_O_.glif</string>
	<key>knSS</key>
	<string>knS_S_.glif</string>
	<key>knSSA</key>
	<string>knS_S_A_.glif</string>
	<key>knSSA.base</key>
	<string>knS_S_A_.base.glif</string>
	<key>knSSAA</key>
	<string>knS_S_A_A_.glif</string>
	<key>knSSAU</key>
	<string>knS_S_A_U_.glif</string>
	<key>knSSAc2</key>
	<string>knS_S_A_c2.glif</string>
	<key>knSSAc2.following</key>
	<string>knS_S_A_c2.following.glif</string>
	<key>knSSAc2.kssa</key>
	<string>knS_S_A_c2.kssa.glif</string>
	<key>knSSE</key>
	<string>knS_S_E_.glif</string>
	<key>knSSI</key>
	<string>knS_S_I_.glif</string>
	<key>knSSO</key>
	<string>knS_S_O_.glif</string>
	<key>knSSU</key>
	<string>knS_S_U_.glif</string>
	<key>knSSUU</key>
	<string>knS_S_U_U_.glif</string>
	<key>knSU</key>
	<string>knS_U_.glif</string>
	<key>knSUU</key>
	<string>knS_U_U_.glif</string>
	<key>knSeven</key>
	<string>knS_even.glif</string>
	<key>knSix</key>
	<string>knS_ix.glif</string>
	<key>knT</key>
	<string>knT_.glif</string>
	<key>knTA</key>
	<string>knT_A_.glif</string>
	<key>knTA.base</key>
	<string>knT_A_.base.glif</string>
	<key>knTAA</key>
	<string>knT_A_A_.glif</string>
	<key>knTAU</key>
	<string>knT_A_U_.glif</string>
	<key>knTAc2</key>
	<string>knT_A_c2.glif</string>
	<key>knTAc2.following</key>
	<string>knT_A_c2.following.glif</string>
	<key>knTAc2_RAc2</key>
	<string>knT_A_c2_R_A_c2.glif</string>
	<key>knTAc2_RAc2.following</key>
	<string>knT_A_c2_R_A_c2.following.glif</string>
	<key>knTE</key>
	<string>knT_E_.glif</string>
	<key>knTH</key>
	<string>knT_H_.glif</string>
	<key>knTHA</key>
	<string>knT_H_A_.glif</string>
	<key>knTHA.base</key>
	<string>knT_H_A_.base.glif</string>
	<key>knTHAA</key>
	<string>knT_H_A_A_.glif</string>
	<key>knTHAU</key>
	<string>knT_H_A_U_.glif</string>
	<key>knTHAc2</key>
	<string>knT_H_A_c2.glif</string>
	<key>knTHAc2.following</key>
	<string>knT_H_A_c2.following.glif</string>
	<key>knTHE</key>
	<string>knT_H_E_.glif</string>
	<key>knTHI</key>
	<string>knT_H_I_.glif</string>
	<key>knTHO</key>
	<string>knT_H_O_.glif</string>
	<key>knTHU</key>
	<string>knT_H_U_.glif</string>
	<key>knTHUU</key>
	<string>knT_H_U_U_.glif</string>
	<key>knTI</key>
	<string>knT_I_.glif</string>
	<key>knTO</key>
	<string>knT_O_.glif</string>
	<key>knTT</key>
	<string>knT_T_.glif</string>
	<key>knTTA</key>
	<string>knT_T_A_.glif</string>
	<key>knTTA.base</key>
	<string>knT_T_A_.base.glif</string>
	<key>knTTAA</key>
	<string>knT_T_A_A_.glif</string>
	<key>knTTAU</key>
	<string>knT_T_A_U_.glif</string>
	<key>knTTAc2</key>
	<string>knT_T_A_c2.glif</string>
	<key>knTTAc2.following</key>
	<string>knT_T_A_c2.following.glif</string>
	<key>knTTE</key>
	<string>knT_T_E_.glif</string>
	<key>knTTH</key>
	<string>knT_T_H_.glif</string>
	<key>knTTHA</key>
	<string>knT_T_H_A_.glif</string>
	<key>knTTHA.base</key>
	<string>knT_T_H_A_.base.glif</string>
	<key>knTTHAA</key>
	<string>knT_T_H_A_A_.glif</string>
	<key>knTTHAU</key>
	<string>knT_T_H_A_U_.glif</string>
	<key>knTTHAc2</key>
	<string>knT_T_H_A_c2.glif</string>
	<key>knTTHAc2.following</key>
	<string>knT_T_H_A_c2.following.glif</string>
	<key>knTTHE</key>
	<string>knT_T_H_E_.glif</string>
	<key>knTTHI</key>
	<string>knT_T_H_I_.glif</string>
	<key>knTTHO</key>
	<string>knT_T_H_O_.glif</string>
	<key>knTTHU</key>
	<string>knT_T_H_U_.glif</string>
	<key>knTTHUU</key>
	<string>knT_T_H_U_U_.glif</string>
	<key>knTTI</key>
	<string>knT_T_I_.glif</string>
	<key>knTTO</key>
	<string>knT_T_O_.glif</string>
	<key>knTTU</key>
	<string>knT_T_U_.glif</string>
	<key>knTTUU</key>
	<string>knT_T_U_U_.glif</string>
	<key>knTU</key>
	<string>knT_U_.glif</string>
	<key>knTUU</key>
	<string>knT_U_U_.glif</string>
	<key>knThree</key>
	<string>knT_hree.glif</string>
	<key>knTwo</key>
	<string>knT_wo.glif</string>
	<key>knU</key>
	<string>knU_.glif</string>
	<key>knUU</key>
	<string>knU_U_.glif</string>
	<key>knUpadhmaniya</key>
	<string>knU_padhmaniya.glif</string>
	<key>knV</key>
	<string>knV_.glif</string>
	<key>knVA</key>
	<string>knV_A_.glif</string>
	<key>knVA.base</key>
	<string>knV_A_.base.glif</string>
	<key>knVAA</key>
	<string>knV_A_A_.glif</string>
	<key>knVAU</key>
	<string>knV_A_U_.glif</string>
	<key>knVAc2</key>
	<string>knV_A_c2.glif</string>
	<key>knVAc2.following</key>
	<string>knV_A_c2.following.glif</string>
	<key>knVE</key>
	<string>knV_E_.glif</string>
	<key>knVI</key>
	<string>knV_I_.glif</string>
	<key>knVO</key>
	<string>knV_O_.glif</string>
	<key>knVU</key>
	<string>knV_U_.glif</string>
	<key>knVUU</key>
	<string>knV_U_U_.glif</string>
	<key>knVirama</key>
	<string>knV_irama.glif</string>
	<key>knVisarga</key>
	<string>knV_isarga.glif</string>
	<key>knY</key>
	<string>knY_.glif</string>
	<key>knYA</key>
	<string>knY_A_.glif</string>
	<key>knYA.base</key>
	<string>knY_A_.base.glif</string>
	<key>knYAA</key>
	<string>knY_A_A_.glif</string>
	<key>knYAU</key>
	<string>knY_A_U_.glif</string>
	<key>knYAc2</key>
	<string>knY_A_c2.glif</string>
	<key>knYAc2.following</key>
	<string>knY_A_c2.following.glif</string>
	<key>knYE</key>
	<string>knY_E_.glif</string>
	<key>knYI</key>
	<string>knY_I_.glif</string>
	<key>knYO</key>
	<string>knY_O_.glif</string>
	<key>knYU</key>
	<string>knY_U_.glif</string>
	<key>knYUU</key>
	<string>knY_U_U_.glif</string>
	<key>knZero</key>
	<string>knZ_ero.glif</string>
	<key>knsignAA</key>
	<string>knsignA_A_.glif</string>
	<key>knsignAI</key>
	<string>knsignA_I_.glif</string>
	<key>knsignAU</key>
	<string>knsignA_U_.glif</string>
	<key>knsignE</key>
	<string>knsignE_.glif</string>
	<key>knsignEE</key>
	<string>knsignE_E_.glif</string>
	<key>knsignI</key>
	<string>knsignI_.glif</string>
	<key>knsignII</key>
	<string>knsignI_I_.glif</string>
	<key>knsignO</key>
	<string>knsignO_.glif</string>
	<key>knsignOO</key>
	<string>knsignO_O_.glif</string>
	<key>knsignU</key>
	<string>knsignU_.glif</string>
	<key>knsignUU</key>
	<string>knsignU_U_.glif</string>
	<key>knsignvL</key>
	<string>knsignvL_.glif</string>
	<key>knsignvLL</key>
	<string>knsignvL_L_.glif</string>
	<key>knsignvR</key>
	<string>knsignvR_.glif</string>
	<key>knsignvR.following</key>
	<string>knsignvR_.following.glif</string>
	<key>knsignvRR</key>
	<string>knsignvR_R_.glif</string>
	<key>knsignvRR.following</key>
	<string>knsignvR_R_.following.glif</string>
	<key>knvL</key>
	<string>knvL_.glif</string>
	<key>knvLL</key>
	<string>knvL_L_.glif</string>
	<key>knvR</key>
	<string>knvR_.glif</string>
	<key>knvRR</key>
	<string>knvR_R_.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncmb</key>
	<string>macroncmb.glif</string>
	<key>macroncmb.cap</key>
	<string>macroncmb.cap.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcmb</key>
	<string>ogonekcmb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>reph-kannada</key>
	<string>reph-kannada.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcmb</key>
	<string>ringcmb.glif</string>
	<key>ringcmb.cap</key>
	<string>ringcmb.cap.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecmb</key>
	<string>tildecmb.glif</string>
	<key>tildecmb.cap</key>
	<string>tildecmb.cap.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00B5</key>
	<string>uni00B_5.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni013B</key>
	<string>uni013B_.glif</string>
	<key>uni013C</key>
	<string>uni013C_.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni015E</key>
	<string>uni015E_.glif</string>
	<key>uni015F</key>
	<string>uni015F_.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni02C9</key>
	<string>uni02C_9.glif</string>
	<key>uni20BA</key>
	<string>uni20B_A_.glif</string>
	<key>uni20BD</key>
	<string>uni20B_D_.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
