<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisableAllAutomaticBehaviour</key>
	<true/>
	<key>GlyphClassDef</key>
	<string> , , @COMBINING_MARKS, </string>
	<key>ascender</key>
	<integer>561</integer>
	<key>capHeight</key>
	<integer>535</integer>
	<key>copyright</key>
	<string>Copyright (c) 2016, Erin McLaughlin (hello@erinmclaughlin.com). Digitized data copyright 2016, Google Corporation.</string>
	<key>descender</key>
	<integer>-191</integer>
	<key>familyName</key>
	<string>Hubballi</string>
	<key>openTypeHeadCreated</key>
	<string>2016/01/17 23:24:21</string>
	<key>openTypeHeadFlags</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>3</integer>
	<key>openTypeHheaCaretOffset</key>
	<integer>0</integer>
	<key>openTypeHheaCaretSlopeRise</key>
	<integer>1</integer>
	<key>openTypeHheaCaretSlopeRun</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Erin McLaughlin</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1.</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Erin McLaughlin</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.erinmclaughlin.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Hubballi</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameUniqueID</key>
	<string>1.000;GOOG;Hubballi Regular Regular</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>224</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>75</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>350</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>22</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>GOOG</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeVheaVertTypoAscender</key>
	<integer>634</integer>
	<key>openTypeVheaVertTypoDescender</key>
	<integer>366</integer>
	<key>openTypeVheaVertTypoLineGap</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-193</integer>
		<integer>-191</integer>
		<integer>-9</integer>
		<integer>26</integer>
		<integer>390</integer>
		<integer>396</integer>
		<integer>454</integer>
		<integer>457</integer>
		<integer>531</integer>
		<integer>544</integer>
		<integer>559</integer>
		<integer>562</integer>
	</array>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>462</integer>
		<integer>471</integer>
		<integer>634</integer>
		<integer>635</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>392</integer>
</dict>
</plist>
