<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecmb</key>
	<string>acutecmb.glif</string>
	<key>acutecmb.cap</key>
	<string>acutecmb.cap.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecmb</key>
	<string>brevecmb.glif</string>
	<key>brevecmb.cap</key>
	<string>brevecmb.cap.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncmb</key>
	<string>caroncmb.glif</string>
	<key>caroncmb.cap</key>
	<string>caroncmb.cap.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacmb</key>
	<string>cedillacmb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcmb</key>
	<string>circumflexcmb.glif</string>
	<key>circumflexcmb.cap</key>
	<string>circumflexcmb.cap.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>commaaccentcmb</key>
	<string>commaaccentcmb.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscmb</key>
	<string>dieresiscmb.glif</string>
	<key>dieresiscmb.cap</key>
	<string>dieresiscmb.cap.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcmb</key>
	<string>dotaccentcmb.glif</string>
	<key>dotaccentcmb.cap</key>
	<string>dotaccentcmb.cap.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecmb</key>
	<string>gravecmb.glif</string>
	<key>gravecmb.cap</key>
	<string>gravecmb.cap.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarianumlautcmb.cap</key>
	<string>hungarianumlautcmb.cap.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcmb</key>
	<string>hungarumlautcmb.glif</string>
	<key>hungarumlautcmb.cap</key>
	<string>hungarumlautcmb.cap.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>indianrupee</key>
	<string>indianrupee.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>knA</key>
	<string>knA_.glif</string>
	<key>knAA</key>
	<string>knAA_.glif</string>
	<key>knAI</key>
	<string>knAI_.glif</string>
	<key>knAIlengthmark</key>
	<string>knAIlengthmark_.glif</string>
	<key>knAIlengthmark.following</key>
	<string>knAIlengthmark_.following.glif</string>
	<key>knAU</key>
	<string>knAU_.glif</string>
	<key>knAnusvara</key>
	<string>knAnusvara_.glif</string>
	<key>knAvagraha</key>
	<string>knAvagraha_.glif</string>
	<key>knB</key>
	<string>knB_.glif</string>
	<key>knBA</key>
	<string>knBA_.glif</string>
	<key>knBA.base</key>
	<string>knBA_.base.glif</string>
	<key>knBAA</key>
	<string>knBAA_.glif</string>
	<key>knBAU</key>
	<string>knBAU_.glif</string>
	<key>knBAc2</key>
	<string>knBAc2_.glif</string>
	<key>knBAc2.following</key>
	<string>knBAc2_.following.glif</string>
	<key>knBE</key>
	<string>knBE_.glif</string>
	<key>knBH</key>
	<string>knBH_.glif</string>
	<key>knBHA</key>
	<string>knBHA_.glif</string>
	<key>knBHA.base</key>
	<string>knBHA_.base.glif</string>
	<key>knBHAA</key>
	<string>knBHAA_.glif</string>
	<key>knBHAU</key>
	<string>knBHAU_.glif</string>
	<key>knBHAc2</key>
	<string>knBHAc2_.glif</string>
	<key>knBHAc2.following</key>
	<string>knBHAc2_.following.glif</string>
	<key>knBHE</key>
	<string>knBHE_.glif</string>
	<key>knBHI</key>
	<string>knBHI_.glif</string>
	<key>knBHO</key>
	<string>knBHO_.glif</string>
	<key>knBHU</key>
	<string>knBHU_.glif</string>
	<key>knBHUU</key>
	<string>knBHUU_.glif</string>
	<key>knBI</key>
	<string>knBI_.glif</string>
	<key>knBO</key>
	<string>knBO_.glif</string>
	<key>knBU</key>
	<string>knBU_.glif</string>
	<key>knBUU</key>
	<string>knBUU_.glif</string>
	<key>knC</key>
	<string>knC_.glif</string>
	<key>knCA</key>
	<string>knCA_.glif</string>
	<key>knCA.base</key>
	<string>knCA_.base.glif</string>
	<key>knCAA</key>
	<string>knCAA_.glif</string>
	<key>knCAU</key>
	<string>knCAU_.glif</string>
	<key>knCAc2</key>
	<string>knCAc2_.glif</string>
	<key>knCAc2.following</key>
	<string>knCAc2_.following.glif</string>
	<key>knCE</key>
	<string>knCE_.glif</string>
	<key>knCH</key>
	<string>knCH_.glif</string>
	<key>knCHA</key>
	<string>knCHA_.glif</string>
	<key>knCHA.base</key>
	<string>knCHA_.base.glif</string>
	<key>knCHAA</key>
	<string>knCHAA_.glif</string>
	<key>knCHAU</key>
	<string>knCHAU_.glif</string>
	<key>knCHAc2</key>
	<string>knCHAc2_.glif</string>
	<key>knCHAc2.following</key>
	<string>knCHAc2_.following.glif</string>
	<key>knCHE</key>
	<string>knCHE_.glif</string>
	<key>knCHI</key>
	<string>knCHI_.glif</string>
	<key>knCHO</key>
	<string>knCHO_.glif</string>
	<key>knCHU</key>
	<string>knCHU_.glif</string>
	<key>knCHUU</key>
	<string>knCHUU_.glif</string>
	<key>knCI</key>
	<string>knCI_.glif</string>
	<key>knCO</key>
	<string>knCO_.glif</string>
	<key>knCU</key>
	<string>knCU_.glif</string>
	<key>knCUU</key>
	<string>knCUU_.glif</string>
	<key>knCandrabindu</key>
	<string>knCandrabindu_.glif</string>
	<key>knD</key>
	<string>knD_.glif</string>
	<key>knDA</key>
	<string>knDA_.glif</string>
	<key>knDA.base</key>
	<string>knDA_.base.glif</string>
	<key>knDAA</key>
	<string>knDAA_.glif</string>
	<key>knDAU</key>
	<string>knDAU_.glif</string>
	<key>knDAc2</key>
	<string>knDAc2_.glif</string>
	<key>knDAc2.following</key>
	<string>knDAc2_.following.glif</string>
	<key>knDD</key>
	<string>knDD_.glif</string>
	<key>knDDA</key>
	<string>knDDA_.glif</string>
	<key>knDDA.base</key>
	<string>knDDA_.base.glif</string>
	<key>knDDAA</key>
	<string>knDDAA_.glif</string>
	<key>knDDAU</key>
	<string>knDDAU_.glif</string>
	<key>knDDAc2</key>
	<string>knDDAc2_.glif</string>
	<key>knDDAc2.following</key>
	<string>knDDAc2_.following.glif</string>
	<key>knDDE</key>
	<string>knDDE_.glif</string>
	<key>knDDH</key>
	<string>knDDH_.glif</string>
	<key>knDDHA</key>
	<string>knDDHA_.glif</string>
	<key>knDDHA.base</key>
	<string>knDDHA_.base.glif</string>
	<key>knDDHAA</key>
	<string>knDDHAA_.glif</string>
	<key>knDDHAU</key>
	<string>knDDHAU_.glif</string>
	<key>knDDHAc2</key>
	<string>knDDHAc2_.glif</string>
	<key>knDDHAc2.following</key>
	<string>knDDHAc2_.following.glif</string>
	<key>knDDHE</key>
	<string>knDDHE_.glif</string>
	<key>knDDHI</key>
	<string>knDDHI_.glif</string>
	<key>knDDHO</key>
	<string>knDDHO_.glif</string>
	<key>knDDHU</key>
	<string>knDDHU_.glif</string>
	<key>knDDHUU</key>
	<string>knDDHUU_.glif</string>
	<key>knDDI</key>
	<string>knDDI_.glif</string>
	<key>knDDO</key>
	<string>knDDO_.glif</string>
	<key>knDDU</key>
	<string>knDDU_.glif</string>
	<key>knDDUU</key>
	<string>knDDUU_.glif</string>
	<key>knDE</key>
	<string>knDE_.glif</string>
	<key>knDH</key>
	<string>knDH_.glif</string>
	<key>knDHA</key>
	<string>knDHA_.glif</string>
	<key>knDHA.base</key>
	<string>knDHA_.base.glif</string>
	<key>knDHAA</key>
	<string>knDHAA_.glif</string>
	<key>knDHAU</key>
	<string>knDHAU_.glif</string>
	<key>knDHAc2</key>
	<string>knDHAc2_.glif</string>
	<key>knDHAc2.following</key>
	<string>knDHAc2_.following.glif</string>
	<key>knDHE</key>
	<string>knDHE_.glif</string>
	<key>knDHI</key>
	<string>knDHI_.glif</string>
	<key>knDHO</key>
	<string>knDHO_.glif</string>
	<key>knDHU</key>
	<string>knDHU_.glif</string>
	<key>knDHUU</key>
	<string>knDHUU_.glif</string>
	<key>knDI</key>
	<string>knDI_.glif</string>
	<key>knDO</key>
	<string>knDO_.glif</string>
	<key>knDU</key>
	<string>knDU_.glif</string>
	<key>knDUU</key>
	<string>knDUU_.glif</string>
	<key>knE</key>
	<string>knE_.glif</string>
	<key>knEE</key>
	<string>knEE_.glif</string>
	<key>knEight</key>
	<string>knEight_.glif</string>
	<key>knFive</key>
	<string>knFive_.glif</string>
	<key>knFour</key>
	<string>knFour_.glif</string>
	<key>knG</key>
	<string>knG_.glif</string>
	<key>knGA</key>
	<string>knGA_.glif</string>
	<key>knGA.base</key>
	<string>knGA_.base.glif</string>
	<key>knGAA</key>
	<string>knGAA_.glif</string>
	<key>knGAU</key>
	<string>knGAU_.glif</string>
	<key>knGAc2</key>
	<string>knGAc2_.glif</string>
	<key>knGAc2.following</key>
	<string>knGAc2_.following.glif</string>
	<key>knGE</key>
	<string>knGE_.glif</string>
	<key>knGH</key>
	<string>knGH_.glif</string>
	<key>knGHA</key>
	<string>knGHA_.glif</string>
	<key>knGHA.base</key>
	<string>knGHA_.base.glif</string>
	<key>knGHAA</key>
	<string>knGHAA_.glif</string>
	<key>knGHAU</key>
	<string>knGHAU_.glif</string>
	<key>knGHAc2</key>
	<string>knGHAc2_.glif</string>
	<key>knGHAc2.following</key>
	<string>knGHAc2_.following.glif</string>
	<key>knGHE</key>
	<string>knGHE_.glif</string>
	<key>knGHI</key>
	<string>knGHI_.glif</string>
	<key>knGHO</key>
	<string>knGHO_.glif</string>
	<key>knGHU</key>
	<string>knGHU_.glif</string>
	<key>knGHUU</key>
	<string>knGHUU_.glif</string>
	<key>knGI</key>
	<string>knGI_.glif</string>
	<key>knGO</key>
	<string>knGO_.glif</string>
	<key>knGU</key>
	<string>knGU_.glif</string>
	<key>knGUU</key>
	<string>knGUU_.glif</string>
	<key>knH</key>
	<string>knH_.glif</string>
	<key>knHA</key>
	<string>knHA_.glif</string>
	<key>knHA.base</key>
	<string>knHA_.base.glif</string>
	<key>knHAA</key>
	<string>knHAA_.glif</string>
	<key>knHAU</key>
	<string>knHAU_.glif</string>
	<key>knHAc2</key>
	<string>knHAc2_.glif</string>
	<key>knHAc2.following</key>
	<string>knHAc2_.following.glif</string>
	<key>knHE</key>
	<string>knHE_.glif</string>
	<key>knHI</key>
	<string>knHI_.glif</string>
	<key>knHO</key>
	<string>knHO_.glif</string>
	<key>knHU</key>
	<string>knHU_.glif</string>
	<key>knHUU</key>
	<string>knHUU_.glif</string>
	<key>knI</key>
	<string>knI_.glif</string>
	<key>knII</key>
	<string>knII_.glif</string>
	<key>knJ</key>
	<string>knJ_.glif</string>
	<key>knJA</key>
	<string>knJA_.glif</string>
	<key>knJA.base</key>
	<string>knJA_.base.glif</string>
	<key>knJAA</key>
	<string>knJAA_.glif</string>
	<key>knJAU</key>
	<string>knJAU_.glif</string>
	<key>knJAc2</key>
	<string>knJAc2_.glif</string>
	<key>knJAc2.following</key>
	<string>knJAc2_.following.glif</string>
	<key>knJE</key>
	<string>knJE_.glif</string>
	<key>knJH</key>
	<string>knJH_.glif</string>
	<key>knJHA</key>
	<string>knJHA_.glif</string>
	<key>knJHA.base</key>
	<string>knJHA_.base.glif</string>
	<key>knJHAA</key>
	<string>knJHAA_.glif</string>
	<key>knJHAU</key>
	<string>knJHAU_.glif</string>
	<key>knJHAc2</key>
	<string>knJHAc2_.glif</string>
	<key>knJHAc2.following</key>
	<string>knJHAc2_.following.glif</string>
	<key>knJHE</key>
	<string>knJHE_.glif</string>
	<key>knJHI</key>
	<string>knJHI_.glif</string>
	<key>knJHO</key>
	<string>knJHO_.glif</string>
	<key>knJHU</key>
	<string>knJHU_.glif</string>
	<key>knJHUU</key>
	<string>knJHUU_.glif</string>
	<key>knJI</key>
	<string>knJI_.glif</string>
	<key>knJO</key>
	<string>knJO_.glif</string>
	<key>knJU</key>
	<string>knJU_.glif</string>
	<key>knJUU</key>
	<string>knJUU_.glif</string>
	<key>knJihvamuliya</key>
	<string>knJihvamuliya_.glif</string>
	<key>knK</key>
	<string>knK_.glif</string>
	<key>knKA</key>
	<string>knKA_.glif</string>
	<key>knKA.base</key>
	<string>knKA_.base.glif</string>
	<key>knKAA</key>
	<string>knKAA_.glif</string>
	<key>knKAU</key>
	<string>knKAU_.glif</string>
	<key>knKAc2</key>
	<string>knKAc2_.glif</string>
	<key>knKAc2.following</key>
	<string>knKAc2_.following.glif</string>
	<key>knKE</key>
	<string>knKE_.glif</string>
	<key>knKH</key>
	<string>knKH_.glif</string>
	<key>knKHA</key>
	<string>knKHA_.glif</string>
	<key>knKHA.base</key>
	<string>knKHA_.base.glif</string>
	<key>knKHAA</key>
	<string>knKHAA_.glif</string>
	<key>knKHAU</key>
	<string>knKHAU_.glif</string>
	<key>knKHAc2</key>
	<string>knKHAc2_.glif</string>
	<key>knKHAc2.following</key>
	<string>knKHAc2_.following.glif</string>
	<key>knKHE</key>
	<string>knKHE_.glif</string>
	<key>knKHI</key>
	<string>knKHI_.glif</string>
	<key>knKHO</key>
	<string>knKHO_.glif</string>
	<key>knKHU</key>
	<string>knKHU_.glif</string>
	<key>knKHUU</key>
	<string>knKHUU_.glif</string>
	<key>knKI</key>
	<string>knKI_.glif</string>
	<key>knKO</key>
	<string>knKO_.glif</string>
	<key>knKSSAc2</key>
	<string>knKSSAc2_.glif</string>
	<key>knKSSAc2.following</key>
	<string>knKSSAc2_.following.glif</string>
	<key>knKU</key>
	<string>knKU_.glif</string>
	<key>knKUU</key>
	<string>knKUU_.glif</string>
	<key>knL</key>
	<string>knL_.glif</string>
	<key>knLA</key>
	<string>knLA_.glif</string>
	<key>knLA.base</key>
	<string>knLA_.base.glif</string>
	<key>knLAA</key>
	<string>knLAA_.glif</string>
	<key>knLAU</key>
	<string>knLAU_.glif</string>
	<key>knLAc2</key>
	<string>knLAc2_.glif</string>
	<key>knLAc2.following</key>
	<string>knLAc2_.following.glif</string>
	<key>knLE</key>
	<string>knLE_.glif</string>
	<key>knLI</key>
	<string>knLI_.glif</string>
	<key>knLL</key>
	<string>knLL_.glif</string>
	<key>knLLA</key>
	<string>knLLA_.glif</string>
	<key>knLLA.base</key>
	<string>knLLA_.base.glif</string>
	<key>knLLAA</key>
	<string>knLLAA_.glif</string>
	<key>knLLAU</key>
	<string>knLLAU_.glif</string>
	<key>knLLAc2</key>
	<string>knLLAc2_.glif</string>
	<key>knLLAc2.following</key>
	<string>knLLAc2_.following.glif</string>
	<key>knLLE</key>
	<string>knLLE_.glif</string>
	<key>knLLI</key>
	<string>knLLI_.glif</string>
	<key>knLLL</key>
	<string>knLLL_.glif</string>
	<key>knLLLA</key>
	<string>knLLLA_.glif</string>
	<key>knLLLA.base</key>
	<string>knLLLA_.base.glif</string>
	<key>knLLLAA</key>
	<string>knLLLAA_.glif</string>
	<key>knLLLAU</key>
	<string>knLLLAU_.glif</string>
	<key>knLLLAc2</key>
	<string>knLLLAc2_.glif</string>
	<key>knLLLAc2.following</key>
	<string>knLLLAc2_.following.glif</string>
	<key>knLLLE</key>
	<string>knLLLE_.glif</string>
	<key>knLLLI</key>
	<string>knLLLI_.glif</string>
	<key>knLLLO</key>
	<string>knLLLO_.glif</string>
	<key>knLLLU</key>
	<string>knLLLU_.glif</string>
	<key>knLLLUU</key>
	<string>knLLLUU_.glif</string>
	<key>knLLO</key>
	<string>knLLO_.glif</string>
	<key>knLLU</key>
	<string>knLLU_.glif</string>
	<key>knLLUU</key>
	<string>knLLUU_.glif</string>
	<key>knLO</key>
	<string>knLO_.glif</string>
	<key>knLU</key>
	<string>knLU_.glif</string>
	<key>knLUU</key>
	<string>knLUU_.glif</string>
	<key>knLengthmark</key>
	<string>knLengthmark_.glif</string>
	<key>knM</key>
	<string>knM_.glif</string>
	<key>knMA</key>
	<string>knMA_.glif</string>
	<key>knMA.base</key>
	<string>knMA_.base.glif</string>
	<key>knMAA</key>
	<string>knMAA_.glif</string>
	<key>knMAU</key>
	<string>knMAU_.glif</string>
	<key>knMAc2</key>
	<string>knMAc2_.glif</string>
	<key>knMAc2.following</key>
	<string>knMAc2_.following.glif</string>
	<key>knME</key>
	<string>knME_.glif</string>
	<key>knMI</key>
	<string>knMI_.glif</string>
	<key>knMO</key>
	<string>knMO_.glif</string>
	<key>knMU</key>
	<string>knMU_.glif</string>
	<key>knMUU</key>
	<string>knMUU_.glif</string>
	<key>knN</key>
	<string>knN_.glif</string>
	<key>knNA</key>
	<string>knNA_.glif</string>
	<key>knNA.base</key>
	<string>knNA_.base.glif</string>
	<key>knNAA</key>
	<string>knNAA_.glif</string>
	<key>knNAU</key>
	<string>knNAU_.glif</string>
	<key>knNAc2</key>
	<string>knNAc2_.glif</string>
	<key>knNAc2.following</key>
	<string>knNAc2_.following.glif</string>
	<key>knNE</key>
	<string>knNE_.glif</string>
	<key>knNG</key>
	<string>knNG_.glif</string>
	<key>knNGA</key>
	<string>knNGA_.glif</string>
	<key>knNGA.base</key>
	<string>knNGA_.base.glif</string>
	<key>knNGAA</key>
	<string>knNGAA_.glif</string>
	<key>knNGAU</key>
	<string>knNGAU_.glif</string>
	<key>knNGAc2</key>
	<string>knNGAc2_.glif</string>
	<key>knNGAc2.following</key>
	<string>knNGAc2_.following.glif</string>
	<key>knNGE</key>
	<string>knNGE_.glif</string>
	<key>knNGI</key>
	<string>knNGI_.glif</string>
	<key>knNGO</key>
	<string>knNGO_.glif</string>
	<key>knNGU</key>
	<string>knNGU_.glif</string>
	<key>knNGUU</key>
	<string>knNGUU_.glif</string>
	<key>knNI</key>
	<string>knNI_.glif</string>
	<key>knNN</key>
	<string>knNN_.glif</string>
	<key>knNNA</key>
	<string>knNNA_.glif</string>
	<key>knNNA.base</key>
	<string>knNNA_.base.glif</string>
	<key>knNNAA</key>
	<string>knNNAA_.glif</string>
	<key>knNNAU</key>
	<string>knNNAU_.glif</string>
	<key>knNNAc2</key>
	<string>knNNAc2_.glif</string>
	<key>knNNAc2.following</key>
	<string>knNNAc2_.following.glif</string>
	<key>knNNE</key>
	<string>knNNE_.glif</string>
	<key>knNNI</key>
	<string>knNNI_.glif</string>
	<key>knNNO</key>
	<string>knNNO_.glif</string>
	<key>knNNU</key>
	<string>knNNU_.glif</string>
	<key>knNNUU</key>
	<string>knNNUU_.glif</string>
	<key>knNO</key>
	<string>knNO_.glif</string>
	<key>knNU</key>
	<string>knNU_.glif</string>
	<key>knNUU</key>
	<string>knNUU_.glif</string>
	<key>knNY</key>
	<string>knNY_.glif</string>
	<key>knNYA</key>
	<string>knNYA_.glif</string>
	<key>knNYA.base</key>
	<string>knNYA_.base.glif</string>
	<key>knNYAA</key>
	<string>knNYAA_.glif</string>
	<key>knNYAU</key>
	<string>knNYAU_.glif</string>
	<key>knNYAc2</key>
	<string>knNYAc2_.glif</string>
	<key>knNYAc2.following</key>
	<string>knNYAc2_.following.glif</string>
	<key>knNYE</key>
	<string>knNYE_.glif</string>
	<key>knNYI</key>
	<string>knNYI_.glif</string>
	<key>knNYO</key>
	<string>knNYO_.glif</string>
	<key>knNYU</key>
	<string>knNYU_.glif</string>
	<key>knNYUU</key>
	<string>knNYUU_.glif</string>
	<key>knNine</key>
	<string>knNine_.glif</string>
	<key>knNukta</key>
	<string>knNukta_.glif</string>
	<key>knO</key>
	<string>knO_.glif</string>
	<key>knOO</key>
	<string>knOO_.glif</string>
	<key>knOne</key>
	<string>knOne_.glif</string>
	<key>knP</key>
	<string>knP_.glif</string>
	<key>knPA</key>
	<string>knPA_.glif</string>
	<key>knPA.base</key>
	<string>knPA_.base.glif</string>
	<key>knPAA</key>
	<string>knPAA_.glif</string>
	<key>knPAU</key>
	<string>knPAU_.glif</string>
	<key>knPAc2</key>
	<string>knPAc2_.glif</string>
	<key>knPAc2.following</key>
	<string>knPAc2_.following.glif</string>
	<key>knPE</key>
	<string>knPE_.glif</string>
	<key>knPH</key>
	<string>knPH_.glif</string>
	<key>knPHA</key>
	<string>knPHA_.glif</string>
	<key>knPHA.base</key>
	<string>knPHA_.base.glif</string>
	<key>knPHAA</key>
	<string>knPHAA_.glif</string>
	<key>knPHAU</key>
	<string>knPHAU_.glif</string>
	<key>knPHAc2</key>
	<string>knPHAc2_.glif</string>
	<key>knPHAc2.following</key>
	<string>knPHAc2_.following.glif</string>
	<key>knPHE</key>
	<string>knPHE_.glif</string>
	<key>knPHI</key>
	<string>knPHI_.glif</string>
	<key>knPHO</key>
	<string>knPHO_.glif</string>
	<key>knPHU</key>
	<string>knPHU_.glif</string>
	<key>knPHUU</key>
	<string>knPHUU_.glif</string>
	<key>knPI</key>
	<string>knPI_.glif</string>
	<key>knPO</key>
	<string>knPO_.glif</string>
	<key>knPU</key>
	<string>knPU_.glif</string>
	<key>knPUU</key>
	<string>knPUU_.glif</string>
	<key>knR</key>
	<string>knR_.glif</string>
	<key>knRA</key>
	<string>knRA_.glif</string>
	<key>knRA.base</key>
	<string>knRA_.base.glif</string>
	<key>knRAA</key>
	<string>knRAA_.glif</string>
	<key>knRAU</key>
	<string>knRAU_.glif</string>
	<key>knRAc2</key>
	<string>knRAc2_.glif</string>
	<key>knRAc2.following</key>
	<string>knRAc2_.following.glif</string>
	<key>knRE</key>
	<string>knRE_.glif</string>
	<key>knRI</key>
	<string>knRI_.glif</string>
	<key>knRO</key>
	<string>knRO_.glif</string>
	<key>knRR</key>
	<string>knRR_.glif</string>
	<key>knRRA</key>
	<string>knRRA_.glif</string>
	<key>knRRA.base</key>
	<string>knRRA_.base.glif</string>
	<key>knRRAA</key>
	<string>knRRAA_.glif</string>
	<key>knRRAU</key>
	<string>knRRAU_.glif</string>
	<key>knRRAc2</key>
	<string>knRRAc2_.glif</string>
	<key>knRRAc2.following</key>
	<string>knRRAc2_.following.glif</string>
	<key>knRRE</key>
	<string>knRRE_.glif</string>
	<key>knRRI</key>
	<string>knRRI_.glif</string>
	<key>knRRO</key>
	<string>knRRO_.glif</string>
	<key>knRRU</key>
	<string>knRRU_.glif</string>
	<key>knRRUU</key>
	<string>knRRUU_.glif</string>
	<key>knRU</key>
	<string>knRU_.glif</string>
	<key>knRUU</key>
	<string>knRUU_.glif</string>
	<key>knReph</key>
	<string>knReph_.glif</string>
	<key>knS</key>
	<string>knS_.glif</string>
	<key>knSA</key>
	<string>knSA_.glif</string>
	<key>knSA.base</key>
	<string>knSA_.base.glif</string>
	<key>knSAA</key>
	<string>knSAA_.glif</string>
	<key>knSAU</key>
	<string>knSAU_.glif</string>
	<key>knSAc2</key>
	<string>knSAc2_.glif</string>
	<key>knSAc2.following</key>
	<string>knSAc2_.following.glif</string>
	<key>knSE</key>
	<string>knSE_.glif</string>
	<key>knSH</key>
	<string>knSH_.glif</string>
	<key>knSHA</key>
	<string>knSHA_.glif</string>
	<key>knSHA.base</key>
	<string>knSHA_.base.glif</string>
	<key>knSHAA</key>
	<string>knSHAA_.glif</string>
	<key>knSHAU</key>
	<string>knSHAU_.glif</string>
	<key>knSHAc2</key>
	<string>knSHAc2_.glif</string>
	<key>knSHAc2.following</key>
	<string>knSHAc2_.following.glif</string>
	<key>knSHE</key>
	<string>knSHE_.glif</string>
	<key>knSHI</key>
	<string>knSHI_.glif</string>
	<key>knSHO</key>
	<string>knSHO_.glif</string>
	<key>knSHU</key>
	<string>knSHU_.glif</string>
	<key>knSHUU</key>
	<string>knSHUU_.glif</string>
	<key>knSI</key>
	<string>knSI_.glif</string>
	<key>knSO</key>
	<string>knSO_.glif</string>
	<key>knSS</key>
	<string>knSS_.glif</string>
	<key>knSSA</key>
	<string>knSSA_.glif</string>
	<key>knSSA.base</key>
	<string>knSSA_.base.glif</string>
	<key>knSSAA</key>
	<string>knSSAA_.glif</string>
	<key>knSSAU</key>
	<string>knSSAU_.glif</string>
	<key>knSSAc2</key>
	<string>knSSAc2_.glif</string>
	<key>knSSAc2.following</key>
	<string>knSSAc2_.following.glif</string>
	<key>knSSAc2.kssa</key>
	<string>knSSAc2_.kssa.glif</string>
	<key>knSSE</key>
	<string>knSSE_.glif</string>
	<key>knSSI</key>
	<string>knSSI_.glif</string>
	<key>knSSO</key>
	<string>knSSO_.glif</string>
	<key>knSSU</key>
	<string>knSSU_.glif</string>
	<key>knSSUU</key>
	<string>knSSUU_.glif</string>
	<key>knSU</key>
	<string>knSU_.glif</string>
	<key>knSUU</key>
	<string>knSUU_.glif</string>
	<key>knSeven</key>
	<string>knSeven_.glif</string>
	<key>knSix</key>
	<string>knSix_.glif</string>
	<key>knT</key>
	<string>knT_.glif</string>
	<key>knTA</key>
	<string>knTA_.glif</string>
	<key>knTA.base</key>
	<string>knTA_.base.glif</string>
	<key>knTAA</key>
	<string>knTAA_.glif</string>
	<key>knTAU</key>
	<string>knTAU_.glif</string>
	<key>knTAc2</key>
	<string>knTAc2_.glif</string>
	<key>knTAc2.following</key>
	<string>knTAc2_.following.glif</string>
	<key>knTAc2_RAc2</key>
	<string>knTAc2__RAc2_.glif</string>
	<key>knTAc2_RAc2.following</key>
	<string>knTAc2__RAc2_.following.glif</string>
	<key>knTE</key>
	<string>knTE_.glif</string>
	<key>knTH</key>
	<string>knTH_.glif</string>
	<key>knTHA</key>
	<string>knTHA_.glif</string>
	<key>knTHA.base</key>
	<string>knTHA_.base.glif</string>
	<key>knTHAA</key>
	<string>knTHAA_.glif</string>
	<key>knTHAU</key>
	<string>knTHAU_.glif</string>
	<key>knTHAc2</key>
	<string>knTHAc2_.glif</string>
	<key>knTHAc2.following</key>
	<string>knTHAc2_.following.glif</string>
	<key>knTHE</key>
	<string>knTHE_.glif</string>
	<key>knTHI</key>
	<string>knTHI_.glif</string>
	<key>knTHO</key>
	<string>knTHO_.glif</string>
	<key>knTHU</key>
	<string>knTHU_.glif</string>
	<key>knTHUU</key>
	<string>knTHUU_.glif</string>
	<key>knTI</key>
	<string>knTI_.glif</string>
	<key>knTO</key>
	<string>knTO_.glif</string>
	<key>knTT</key>
	<string>knTT_.glif</string>
	<key>knTTA</key>
	<string>knTTA_.glif</string>
	<key>knTTA.base</key>
	<string>knTTA_.base.glif</string>
	<key>knTTAA</key>
	<string>knTTAA_.glif</string>
	<key>knTTAU</key>
	<string>knTTAU_.glif</string>
	<key>knTTAc2</key>
	<string>knTTAc2_.glif</string>
	<key>knTTAc2.following</key>
	<string>knTTAc2_.following.glif</string>
	<key>knTTE</key>
	<string>knTTE_.glif</string>
	<key>knTTH</key>
	<string>knTTH_.glif</string>
	<key>knTTHA</key>
	<string>knTTHA_.glif</string>
	<key>knTTHA.base</key>
	<string>knTTHA_.base.glif</string>
	<key>knTTHAA</key>
	<string>knTTHAA_.glif</string>
	<key>knTTHAU</key>
	<string>knTTHAU_.glif</string>
	<key>knTTHAc2</key>
	<string>knTTHAc2_.glif</string>
	<key>knTTHAc2.following</key>
	<string>knTTHAc2_.following.glif</string>
	<key>knTTHE</key>
	<string>knTTHE_.glif</string>
	<key>knTTHI</key>
	<string>knTTHI_.glif</string>
	<key>knTTHO</key>
	<string>knTTHO_.glif</string>
	<key>knTTHU</key>
	<string>knTTHU_.glif</string>
	<key>knTTHUU</key>
	<string>knTTHUU_.glif</string>
	<key>knTTI</key>
	<string>knTTI_.glif</string>
	<key>knTTO</key>
	<string>knTTO_.glif</string>
	<key>knTTU</key>
	<string>knTTU_.glif</string>
	<key>knTTUU</key>
	<string>knTTUU_.glif</string>
	<key>knTU</key>
	<string>knTU_.glif</string>
	<key>knTUU</key>
	<string>knTUU_.glif</string>
	<key>knThree</key>
	<string>knThree_.glif</string>
	<key>knTwo</key>
	<string>knTwo_.glif</string>
	<key>knU</key>
	<string>knU_.glif</string>
	<key>knUU</key>
	<string>knUU_.glif</string>
	<key>knUpadhmaniya</key>
	<string>knUpadhmaniya_.glif</string>
	<key>knV</key>
	<string>knV_.glif</string>
	<key>knVA</key>
	<string>knVA_.glif</string>
	<key>knVA.base</key>
	<string>knVA_.base.glif</string>
	<key>knVAA</key>
	<string>knVAA_.glif</string>
	<key>knVAU</key>
	<string>knVAU_.glif</string>
	<key>knVAc2</key>
	<string>knVAc2_.glif</string>
	<key>knVAc2.following</key>
	<string>knVAc2_.following.glif</string>
	<key>knVE</key>
	<string>knVE_.glif</string>
	<key>knVI</key>
	<string>knVI_.glif</string>
	<key>knVO</key>
	<string>knVO_.glif</string>
	<key>knVU</key>
	<string>knVU_.glif</string>
	<key>knVUU</key>
	<string>knVUU_.glif</string>
	<key>knVirama</key>
	<string>knVirama_.glif</string>
	<key>knVisarga</key>
	<string>knVisarga_.glif</string>
	<key>knY</key>
	<string>knY_.glif</string>
	<key>knYA</key>
	<string>knYA_.glif</string>
	<key>knYA.base</key>
	<string>knYA_.base.glif</string>
	<key>knYAA</key>
	<string>knYAA_.glif</string>
	<key>knYAU</key>
	<string>knYAU_.glif</string>
	<key>knYAc2</key>
	<string>knYAc2_.glif</string>
	<key>knYAc2.following</key>
	<string>knYAc2_.following.glif</string>
	<key>knYE</key>
	<string>knYE_.glif</string>
	<key>knYI</key>
	<string>knYI_.glif</string>
	<key>knYO</key>
	<string>knYO_.glif</string>
	<key>knYU</key>
	<string>knYU_.glif</string>
	<key>knYUU</key>
	<string>knYUU_.glif</string>
	<key>knZero</key>
	<string>knZero_.glif</string>
	<key>knsignAA</key>
	<string>knsignAA_.glif</string>
	<key>knsignAI</key>
	<string>knsignAI_.glif</string>
	<key>knsignAU</key>
	<string>knsignAU_.glif</string>
	<key>knsignE</key>
	<string>knsignE_.glif</string>
	<key>knsignEE</key>
	<string>knsignEE_.glif</string>
	<key>knsignI</key>
	<string>knsignI_.glif</string>
	<key>knsignII</key>
	<string>knsignII_.glif</string>
	<key>knsignO</key>
	<string>knsignO_.glif</string>
	<key>knsignOO</key>
	<string>knsignOO_.glif</string>
	<key>knsignU</key>
	<string>knsignU_.glif</string>
	<key>knsignUU</key>
	<string>knsignUU_.glif</string>
	<key>knsignvL</key>
	<string>knsignvL_.glif</string>
	<key>knsignvLL</key>
	<string>knsignvLL_.glif</string>
	<key>knsignvR</key>
	<string>knsignvR_.glif</string>
	<key>knsignvR.following</key>
	<string>knsignvR_.following.glif</string>
	<key>knsignvRR</key>
	<string>knsignvRR_.glif</string>
	<key>knsignvRR.following</key>
	<string>knsignvRR_.following.glif</string>
	<key>knvL</key>
	<string>knvL_.glif</string>
	<key>knvLL</key>
	<string>knvLL_.glif</string>
	<key>knvR</key>
	<string>knvR_.glif</string>
	<key>knvRR</key>
	<string>knvRR_.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncmb</key>
	<string>macroncmb.glif</string>
	<key>macroncmb.cap</key>
	<string>macroncmb.cap.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcmb</key>
	<string>ogonekcmb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcmb</key>
	<string>ringcmb.glif</string>
	<key>ringcmb.cap</key>
	<string>ringcmb.cap.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecmb</key>
	<string>tildecmb.glif</string>
	<key>tildecmb.cap</key>
	<string>tildecmb.cap.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni00AD</key>
	<string>uni00AD_.glif</string>
	<key>uni00B5</key>
	<string>uni00B5_.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni013B</key>
	<string>uni013B_.glif</string>
	<key>uni013C</key>
	<string>uni013C_.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni015E</key>
	<string>uni015E_.glif</string>
	<key>uni015F</key>
	<string>uni015F_.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni02C9</key>
	<string>uni02C9_.glif</string>
	<key>uni20BA</key>
	<string>uni20BA_.glif</string>
	<key>uni20BD</key>
	<string>uni20BD_.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
