<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Oslash</string>
		<string>D</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>oslash</string>
		<string>egrave</string>
		<string>b</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>o</string>
		<string>edieresis</string>
		<string>p</string>
		<string>eacute</string>
		<string>e</string>
		<string>thorn</string>
		<string>oacute</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Oslash</string>
		<string>C</string>
		<string>Odieresis</string>
		<string>G</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>oslash</string>
		<string>q</string>
		<string>c</string>
		<string>ecircumflex</string>
		<string>d</string>
		<string>g</string>
		<string>otilde</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>egrave</string>
		<string>o</string>
		<string>odieresis</string>
		<string>edieresis</string>
		<string>eacute</string>
		<string>eth</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>oacute</string>
	</array>
</dict>
</plist>
