<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L__dash</key>
	<array>
	</array>
	<key>@MMK_L__period</key>
	<array>
	</array>
	<key>@MMK_L__quoteleft</key>
	<array>
	</array>
	<key>@MMK_L_knAasign</key>
	<array>
	</array>
	<key>@MMK_L_knAi</key>
	<array>
	</array>
	<key>@MMK_L_knAisign</key>
	<array>
	</array>
	<key>@MMK_L_knAu</key>
	<array>
	</array>
	<key>@MMK_L_knCa</key>
	<array>
	</array>
	<key>@MMK_L_knCh</key>
	<array>
	</array>
	<key>@MMK_L_knD</key>
	<array>
	</array>
	<key>@MMK_L_knDI</key>
	<array>
	</array>
	<key>@MMK_L_knDa</key>
	<array>
	</array>
	<key>@MMK_L_knDaC2</key>
	<array>
	</array>
	<key>@MMK_L_knE</key>
	<array>
	</array>
	<key>@MMK_L_knGa</key>
	<array>
	</array>
	<key>@MMK_L_knGha</key>
	<array>
	</array>
	<key>@MMK_L_knHa</key>
	<array>
	</array>
	<key>@MMK_L_knI2</key>
	<array>
	</array>
	<key>@MMK_L_knJh</key>
	<array>
	</array>
	<key>@MMK_L_knKSsa</key>
	<array>
	</array>
	<key>@MMK_L_knKa</key>
	<array>
	</array>
	<key>@MMK_L_knKa.a</key>
	<array>
	</array>
	<key>@MMK_L_knKaC2</key>
	<array>
	</array>
	<key>@MMK_L_knLa</key>
	<array>
	</array>
	<key>@MMK_L_knLla</key>
	<array>
	</array>
	<key>@MMK_L_knNa</key>
	<array>
	</array>
	<key>@MMK_L_knNgaC2</key>
	<array>
	</array>
	<key>@MMK_L_knO</key>
	<array>
	</array>
	<key>@MMK_L_knOne</key>
	<array>
	</array>
	<key>@MMK_L_knP</key>
	<array>
	</array>
	<key>@MMK_L_knPI</key>
	<array>
	</array>
	<key>@MMK_L_knPU</key>
	<array>
	</array>
	<key>@MMK_L_knPaC2</key>
	<array>
	</array>
	<key>@MMK_L_knR</key>
	<array>
	</array>
	<key>@MMK_L_knRI</key>
	<array>
	</array>
	<key>@MMK_L_knRa</key>
	<array>
	</array>
	<key>@MMK_L_knRaC2</key>
	<array>
	</array>
	<key>@MMK_L_knSha</key>
	<array>
	</array>
	<key>@MMK_L_knSsa</key>
	<array>
	</array>
	<key>@MMK_L_knTa</key>
	<array>
	</array>
	<key>@MMK_L_knTta</key>
	<array>
	</array>
	<key>@MMK_L_knU</key>
	<array>
	</array>
	<key>@MMK_L_knUu</key>
	<array>
	</array>
	<key>@MMK_L_knYaC2</key>
	<array>
	</array>
	<key>@MMK_R__braceright</key>
	<array>
	</array>
	<key>@MMK_R__colon</key>
	<array>
	</array>
	<key>@MMK_R__dash</key>
	<array>
	</array>
	<key>@MMK_R__quoteright</key>
	<array>
	</array>
	<key>@MMK_R_knA</key>
	<array>
	</array>
	<key>@MMK_R_knAi</key>
	<array>
	</array>
	<key>@MMK_R_knAilength</key>
	<array>
	</array>
	<key>@MMK_R_knDI</key>
	<array>
	</array>
	<key>@MMK_R_knDa</key>
	<array>
	</array>
	<key>@MMK_R_knDaC2</key>
	<array>
	</array>
	<key>@MMK_R_knE</key>
	<array>
	</array>
	<key>@MMK_R_knGa</key>
	<array>
	</array>
	<key>@MMK_R_knI</key>
	<array>
	</array>
	<key>@MMK_R_knKSsa</key>
	<array>
	</array>
	<key>@MMK_R_knKa</key>
	<array>
	</array>
	<key>@MMK_R_knKaC2</key>
	<array>
	</array>
	<key>@MMK_R_knKha</key>
	<array>
	</array>
	<key>@MMK_R_knLla</key>
	<array>
	</array>
	<key>@MMK_R_knLvocalsign</key>
	<array>
	</array>
	<key>@MMK_R_knNgaC2</key>
	<array>
	</array>
	<key>@MMK_R_knNnligs</key>
	<array>
	</array>
	<key>@MMK_R_knO</key>
	<array>
	</array>
	<key>@MMK_R_knPaC2</key>
	<array>
	</array>
	<key>@MMK_R_knRI</key>
	<array>
	</array>
	<key>@MMK_R_knRa</key>
	<array>
	</array>
	<key>@MMK_R_knRaC2</key>
	<array>
	</array>
	<key>@MMK_R_knRvocal</key>
	<array>
	</array>
	<key>@MMK_R_knRvocalsign</key>
	<array>
	</array>
	<key>@MMK_R_knSa</key>
	<array>
	</array>
	<key>@MMK_R_knSaC2</key>
	<array>
	</array>
	<key>@MMK_R_knShI</key>
	<array>
	</array>
	<key>@MMK_R_knSha</key>
	<array>
	</array>
	<key>@MMK_R_knTa</key>
	<array>
	</array>
	<key>@MMK_R_knTaC2</key>
	<array>
	</array>
	<key>@MMK_R_knThree</key>
	<array>
	</array>
	<key>@MMK_R_knTtaC2</key>
	<array>
	</array>
	<key>@MMK_R_knUsign</key>
	<array>
	</array>
	<key>@MMK_R_knZero</key>
	<array>
	</array>
	<key>CONSONANTS</key>
	<array>
	</array>
	<key>CONSONANTS_ALT</key>
	<array>
		<string>knNga.a</string>
		<string>knJa.a</string>
		<string>knNya.a</string>
		<string>knNna.a</string>
	</array>
	<key>FIGURES_LINING_PROPORTIONAL</key>
	<array>
		<string>knZero.pnum</string>
		<string>knOne.pnum</string>
		<string>knTwo.pnum</string>
		<string>knThree.pnum</string>
		<string>knFour.pnum</string>
		<string>knFive.pnum</string>
		<string>knSix.pnum</string>
		<string>knSeven.pnum</string>
		<string>knEight.pnum</string>
		<string>knNine.pnum</string>
		<string>knRupee</string>
		<string>knSix.pa</string>
	</array>
	<key>FIGURES_LINING_TABULAR</key>
	<array>
		<string>knRupee.t</string>
		<string>knSix.a</string>
	</array>
	<key>LETTERS_MAJUSCULE_LATIN</key>
	<array>
	</array>
	<key>MARKS_CMB_LAT</key>
	<array>
	</array>
	<key>MARKS_CMB_LAT_CASE</key>
	<array>
	</array>
	<key>SORTS_DFLT</key>
	<array>
	</array>
	<key>SORTS_LATN</key>
	<array>
	</array>
</dict>
</plist>
