<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L__dash</key>
	<dict>
		<key>@MMK_R_knA</key>
		<integer>-14</integer>
		<key>@MMK_R_knAi</key>
		<integer>-20</integer>
		<key>@MMK_R_knDI</key>
		<integer>-35</integer>
		<key>@MMK_R_knDa</key>
		<integer>-30</integer>
		<key>@MMK_R_knE</key>
		<integer>-30</integer>
		<key>@MMK_R_knGa</key>
		<integer>-60</integer>
		<key>@MMK_R_knI</key>
		<integer>-20</integer>
		<key>@MMK_R_knKa</key>
		<integer>-5</integer>
		<key>@MMK_R_knKha</key>
		<integer>-30</integer>
		<key>@MMK_R_knLla</key>
		<integer>-20</integer>
		<key>@MMK_R_knNnligs</key>
		<integer>-30</integer>
		<key>@MMK_R_knO</key>
		<integer>-40</integer>
		<key>@MMK_R_knRI</key>
		<integer>-55</integer>
		<key>@MMK_R_knRa</key>
		<integer>-25</integer>
		<key>@MMK_R_knRvocal</key>
		<integer>-20</integer>
		<key>@MMK_R_knSa</key>
		<integer>-40</integer>
		<key>@MMK_R_knSha</key>
		<integer>-55</integer>
		<key>@MMK_R_knTa</key>
		<integer>-30</integer>
		<key>@MMK_R_knThree</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L__period</key>
	<dict>
		<key>@MMK_R_knA</key>
		<integer>-60</integer>
		<key>@MMK_R_knLla</key>
		<integer>-85</integer>
		<key>@MMK_R_knThree</key>
		<integer>-10</integer>
		<key>@MMK_R_knZero</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L__quoteleft</key>
	<dict>
		<key>@MMK_R_knA</key>
		<integer>-60</integer>
		<key>@MMK_R_knAi</key>
		<integer>-50</integer>
		<key>@MMK_R_knDI</key>
		<integer>-10</integer>
		<key>@MMK_R_knDa</key>
		<integer>-30</integer>
		<key>@MMK_R_knE</key>
		<integer>-60</integer>
		<key>@MMK_R_knI</key>
		<integer>-15</integer>
		<key>@MMK_R_knKSsa</key>
		<integer>0</integer>
		<key>@MMK_R_knKa</key>
		<integer>0</integer>
		<key>@MMK_R_knKha</key>
		<integer>-85</integer>
		<key>@MMK_R_knLla</key>
		<integer>-30</integer>
		<key>@MMK_R_knO</key>
		<integer>-35</integer>
		<key>@MMK_R_knThree</key>
		<integer>-40</integer>
		<key>@MMK_R_knZero</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_knAasign</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_knI</key>
		<integer>-5</integer>
		<key>@MMK_R_knO</key>
		<integer>-10</integer>
		<key>@MMK_R_knRI</key>
		<integer>-30</integer>
		<key>@MMK_R_knShI</key>
		<integer>-45</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_knAi</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-30</integer>
		<key>@MMK_R__colon</key>
		<integer>-10</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-70</integer>
		<key>@MMK_R_knDI</key>
		<integer>-5</integer>
		<key>@MMK_R_knE</key>
		<integer>-5</integer>
		<key>@MMK_R_knGa</key>
		<integer>-5</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-5</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-10</integer>
		<key>@MMK_R_knRI</key>
		<integer>-20</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>-20</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>-10</integer>
		<key>@MMK_R_knShI</key>
		<integer>-40</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_knAisign</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>60</integer>
		<key>@MMK_R__colon</key>
		<integer>80</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_knA</key>
		<integer>-20</integer>
		<key>@MMK_R_knAilength</key>
		<integer>255</integer>
		<key>@MMK_R_knDaC2</key>
		<integer>310</integer>
		<key>@MMK_R_knI</key>
		<integer>-80</integer>
		<key>@MMK_R_knKSsa</key>
		<integer>-20</integer>
		<key>@MMK_R_knKa</key>
		<integer>-40</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>150</integer>
		<key>@MMK_R_knKha</key>
		<integer>20</integer>
		<key>@MMK_R_knLla</key>
		<integer>-80</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>300</integer>
		<key>@MMK_R_knNgaC2</key>
		<integer>340</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>320</integer>
		<key>@MMK_R_knRI</key>
		<integer>-30</integer>
		<key>@MMK_R_knRa</key>
		<integer>-20</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>550</integer>
		<key>@MMK_R_knRvocal</key>
		<integer>30</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>200</integer>
		<key>@MMK_R_knSa</key>
		<integer>20</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>300</integer>
		<key>@MMK_R_knShI</key>
		<integer>-40</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>520</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>360</integer>
	</dict>
	<key>@MMK_L_knAu</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-30</integer>
		<key>@MMK_R__dash</key>
		<integer>-5</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-90</integer>
		<key>@MMK_R_knI</key>
		<integer>-20</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>15</integer>
		<key>@MMK_R_knLla</key>
		<integer>-5</integer>
		<key>@MMK_R_knO</key>
		<integer>-20</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>15</integer>
		<key>@MMK_R_knRI</key>
		<integer>-20</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>15</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>10</integer>
		<key>@MMK_R_knShI</key>
		<integer>-40</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>5</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_knCa</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>0</integer>
		<key>@MMK_R_knO</key>
		<integer>5</integer>
		<key>@MMK_R_knShI</key>
		<integer>0</integer>
		<key>@MMK_R_knUsign</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_knDI</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-20</integer>
		<key>@MMK_R__colon</key>
		<integer>-20</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_knI</key>
		<integer>-25</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-5</integer>
		<key>@MMK_R_knLla</key>
		<integer>-10</integer>
		<key>@MMK_R_knO</key>
		<integer>-20</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-5</integer>
		<key>@MMK_R_knRI</key>
		<integer>-30</integer>
		<key>@MMK_R_knShI</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_knDa</key>
	<dict>
		<key>@MMK_R__dash</key>
		<integer>10</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-30</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>0</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>0</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>0</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>0</integer>
		<key>@MMK_R_knShI</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_knDaC2</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>200</integer>
		<key>@MMK_R__colon</key>
		<integer>80</integer>
		<key>@MMK_R_knAilength</key>
		<integer>370</integer>
		<key>@MMK_R_knDaC2</key>
		<integer>440</integer>
		<key>@MMK_R_knKSsa</key>
		<integer>115</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>280</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>430</integer>
		<key>@MMK_R_knNgaC2</key>
		<integer>460</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>435</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>660</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>320</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>410</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>640</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>480</integer>
	</dict>
	<key>@MMK_L_knE</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-30</integer>
		<key>@MMK_R__colon</key>
		<integer>-10</integer>
		<key>@MMK_R__dash</key>
		<integer>10</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-90</integer>
		<key>@MMK_R_knI</key>
		<integer>-10</integer>
		<key>@MMK_R_knLla</key>
		<integer>-10</integer>
		<key>@MMK_R_knO</key>
		<integer>-10</integer>
		<key>@MMK_R_knRI</key>
		<integer>-30</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>15</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>20</integer>
		<key>@MMK_R_knShI</key>
		<integer>-30</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_knGa</key>
	<dict>
		<key>@MMK_R__dash</key>
		<integer>-40</integer>
		<key>@MMK_R_knA</key>
		<integer>-10</integer>
		<key>@MMK_R_knDI</key>
		<integer>-10</integer>
		<key>@MMK_R_knE</key>
		<integer>-15</integer>
		<key>@MMK_R_knI</key>
		<integer>-5</integer>
		<key>@MMK_R_knLla</key>
		<integer>-10</integer>
		<key>@MMK_R_knO</key>
		<integer>-5</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-10</integer>
		<key>@MMK_R_knShI</key>
		<integer>15</integer>
		<key>@MMK_R_knUsign</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_knGha</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-40</integer>
		<key>@MMK_R__dash</key>
		<integer>5</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-45</integer>
		<key>@MMK_R_knAilength</key>
		<integer>120</integer>
		<key>@MMK_R_knE</key>
		<integer>-20</integer>
		<key>@MMK_R_knKha</key>
		<integer>-30</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-160</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>-70</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>-70</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>-80</integer>
		<key>@MMK_R_knShI</key>
		<integer>-35</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>-85</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>-75</integer>
		<key>@MMK_R_knUsign</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_knHa</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>-35</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-10</integer>
		<key>@MMK_R_knShI</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_knI2</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-30</integer>
		<key>@MMK_R__colon</key>
		<integer>-10</integer>
		<key>@MMK_R__dash</key>
		<integer>10</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-50</integer>
		<key>@MMK_R_knI</key>
		<integer>-10</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>10</integer>
		<key>@MMK_R_knRI</key>
		<integer>-30</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>10</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>10</integer>
		<key>@MMK_R_knShI</key>
		<integer>-40</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_knKSsa</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>0</integer>
		<key>@MMK_R_knAilength</key>
		<integer>590</integer>
		<key>@MMK_R_knDaC2</key>
		<integer>290</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>125</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>280</integer>
		<key>@MMK_R_knNgaC2</key>
		<integer>315</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>295</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>515</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>185</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>290</integer>
		<key>@MMK_R_knShI</key>
		<integer>25</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>500</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>340</integer>
		<key>@MMK_R_knUsign</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_knKa</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>0</integer>
		<key>@MMK_R__quoteright</key>
		<integer>0</integer>
		<key>@MMK_R_knE</key>
		<integer>-20</integer>
		<key>@MMK_R_knGa</key>
		<integer>0</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-80</integer>
		<key>@MMK_R_knKha</key>
		<integer>-35</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-70</integer>
		<key>@MMK_R_knRI</key>
		<integer>0</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>-40</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>-80</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>-70</integer>
		<key>@MMK_R_knShI</key>
		<integer>20</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>-90</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>-60</integer>
		<key>@MMK_R_knUsign</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_knKaC2</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>180</integer>
		<key>@MMK_R__colon</key>
		<integer>130</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_knA</key>
		<integer>-30</integer>
		<key>@MMK_R_knAilength</key>
		<integer>340</integer>
		<key>@MMK_R_knDaC2</key>
		<integer>410</integer>
		<key>@MMK_R_knI</key>
		<integer>-80</integer>
		<key>@MMK_R_knKSsa</key>
		<integer>95</integer>
		<key>@MMK_R_knKa</key>
		<integer>-40</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>260</integer>
		<key>@MMK_R_knKha</key>
		<integer>10</integer>
		<key>@MMK_R_knLla</key>
		<integer>-50</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>410</integer>
		<key>@MMK_R_knNgaC2</key>
		<integer>450</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>420</integer>
		<key>@MMK_R_knRI</key>
		<integer>-30</integer>
		<key>@MMK_R_knRa</key>
		<integer>-15</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>590</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>295</integer>
		<key>@MMK_R_knSa</key>
		<integer>20</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>380</integer>
		<key>@MMK_R_knShI</key>
		<integer>-30</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>610</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>450</integer>
	</dict>
	<key>@MMK_L_knLa</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>-40</integer>
		<key>@MMK_R_knGa</key>
		<integer>-15</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-40</integer>
		<key>@MMK_R_knKha</key>
		<integer>-15</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>-280</integer>
		<key>@MMK_R_knRI</key>
		<integer>-20</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>-40</integer>
		<key>@MMK_R_knSa</key>
		<integer>-5</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>-30</integer>
		<key>@MMK_R_knShI</key>
		<integer>-45</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>-45</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_knLla</key>
	<dict>
		<key>@MMK_R__colon</key>
		<integer>-20</integer>
		<key>@MMK_R__dash</key>
		<integer>20</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-30</integer>
		<key>@MMK_R_knE</key>
		<integer>-50</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-90</integer>
		<key>@MMK_R_knKha</key>
		<integer>-45</integer>
		<key>@MMK_R_knLla</key>
		<integer>-10</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-90</integer>
		<key>@MMK_R_knRI</key>
		<integer>5</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>-40</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>-80</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>-100</integer>
		<key>@MMK_R_knShI</key>
		<integer>5</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>-100</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_knNa</key>
	<dict>
		<key>@MMK_R__dash</key>
		<integer>-5</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_knNgaC2</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>160</integer>
		<key>@MMK_R__colon</key>
		<integer>120</integer>
		<key>@MMK_R_knAilength</key>
		<integer>340</integer>
		<key>@MMK_R_knDaC2</key>
		<integer>405</integer>
		<key>@MMK_R_knKSsa</key>
		<integer>80</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>240</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>390</integer>
		<key>@MMK_R_knNgaC2</key>
		<integer>420</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>410</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>650</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>290</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>400</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>620</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>450</integer>
	</dict>
	<key>@MMK_L_knO</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-25</integer>
		<key>@MMK_R__dash</key>
		<integer>-5</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_knA</key>
		<integer>-10</integer>
		<key>@MMK_R_knAi</key>
		<integer>-10</integer>
		<key>@MMK_R_knGa</key>
		<integer>-20</integer>
		<key>@MMK_R_knI</key>
		<integer>-20</integer>
		<key>@MMK_R_knKa</key>
		<integer>-20</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>20</integer>
		<key>@MMK_R_knKha</key>
		<integer>5</integer>
		<key>@MMK_R_knLla</key>
		<integer>-10</integer>
		<key>@MMK_R_knO</key>
		<integer>-20</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>10</integer>
		<key>@MMK_R_knRI</key>
		<integer>-30</integer>
		<key>@MMK_R_knRa</key>
		<integer>-20</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>10</integer>
		<key>@MMK_R_knRvocal</key>
		<integer>5</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>10</integer>
		<key>@MMK_R_knSa</key>
		<integer>-10</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>10</integer>
		<key>@MMK_R_knShI</key>
		<integer>-30</integer>
		<key>@MMK_R_knTa</key>
		<integer>5</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_knOne</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>-80</integer>
		<key>@MMK_R_knLla</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_knPI</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-20</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-55</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>5</integer>
		<key>@MMK_R_knRI</key>
		<integer>-5</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>-5</integer>
		<key>@MMK_R_knShI</key>
		<integer>-40</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_knPU</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>-60</integer>
		<key>@MMK_R_knAilength</key>
		<integer>45</integer>
		<key>@MMK_R_knDaC2</key>
		<integer>140</integer>
		<key>@MMK_R_knI</key>
		<integer>-10</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>15</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>130</integer>
		<key>@MMK_R_knNgaC2</key>
		<integer>190</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>120</integer>
		<key>@MMK_R_knRI</key>
		<integer>-20</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>40</integer>
		<key>@MMK_R_knShI</key>
		<integer>-40</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>80</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>170</integer>
	</dict>
	<key>@MMK_L_knPaC2</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>110</integer>
		<key>@MMK_R__colon</key>
		<integer>100</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_knA</key>
		<integer>-40</integer>
		<key>@MMK_R_knAilength</key>
		<integer>280</integer>
		<key>@MMK_R_knDa</key>
		<integer>-10</integer>
		<key>@MMK_R_knDaC2</key>
		<integer>340</integer>
		<key>@MMK_R_knE</key>
		<integer>-5</integer>
		<key>@MMK_R_knGa</key>
		<integer>10</integer>
		<key>@MMK_R_knI</key>
		<integer>-90</integer>
		<key>@MMK_R_knKSsa</key>
		<integer>20</integer>
		<key>@MMK_R_knKa</key>
		<integer>-70</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>200</integer>
		<key>@MMK_R_knKha</key>
		<integer>15</integer>
		<key>@MMK_R_knLla</key>
		<integer>-70</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>335</integer>
		<key>@MMK_R_knNgaC2</key>
		<integer>370</integer>
		<key>@MMK_R_knO</key>
		<integer>-35</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>345</integer>
		<key>@MMK_R_knRI</key>
		<integer>-60</integer>
		<key>@MMK_R_knRa</key>
		<integer>-45</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>580</integer>
		<key>@MMK_R_knRvocal</key>
		<integer>20</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>230</integer>
		<key>@MMK_R_knSa</key>
		<integer>20</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>325</integer>
		<key>@MMK_R_knShI</key>
		<integer>-30</integer>
		<key>@MMK_R_knSha</key>
		<integer>-10</integer>
		<key>@MMK_R_knTa</key>
		<integer>-20</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>550</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>385</integer>
	</dict>
	<key>@MMK_L_knRI</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-20</integer>
		<key>@MMK_R__dash</key>
		<integer>10</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-60</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-10</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-20</integer>
		<key>@MMK_R_knRI</key>
		<integer>-30</integer>
		<key>@MMK_R_knRvocal</key>
		<integer>5</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>-10</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>-10</integer>
		<key>@MMK_R_knShI</key>
		<integer>-35</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>-20</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_knRa</key>
	<dict>
		<key>@MMK_R__dash</key>
		<integer>-15</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-40</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-40</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>-30</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>-40</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>-40</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>-50</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>-30</integer>
		<key>@MMK_R_knUsign</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_knRaC2</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>30</integer>
		<key>@MMK_R__colon</key>
		<integer>50</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-120</integer>
		<key>@MMK_R_knA</key>
		<integer>-20</integer>
		<key>@MMK_R_knAi</key>
		<integer>15</integer>
		<key>@MMK_R_knAilength</key>
		<integer>-30</integer>
		<key>@MMK_R_knDa</key>
		<integer>10</integer>
		<key>@MMK_R_knDaC2</key>
		<integer>240</integer>
		<key>@MMK_R_knE</key>
		<integer>10</integer>
		<key>@MMK_R_knGa</key>
		<integer>10</integer>
		<key>@MMK_R_knI</key>
		<integer>-60</integer>
		<key>@MMK_R_knKSsa</key>
		<integer>-30</integer>
		<key>@MMK_R_knKa</key>
		<integer>-40</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>110</integer>
		<key>@MMK_R_knKha</key>
		<integer>20</integer>
		<key>@MMK_R_knLla</key>
		<integer>-60</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>250</integer>
		<key>@MMK_R_knNgaC2</key>
		<integer>300</integer>
		<key>@MMK_R_knNnligs</key>
		<integer>10</integer>
		<key>@MMK_R_knO</key>
		<integer>-20</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>250</integer>
		<key>@MMK_R_knRI</key>
		<integer>-55</integer>
		<key>@MMK_R_knRa</key>
		<integer>-30</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>400</integer>
		<key>@MMK_R_knRvocal</key>
		<integer>20</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>130</integer>
		<key>@MMK_R_knSa</key>
		<integer>20</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>200</integer>
		<key>@MMK_R_knShI</key>
		<integer>-35</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>440</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>290</integer>
	</dict>
	<key>@MMK_L_knSha</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>-10</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-30</integer>
		<key>@MMK_R_knLla</key>
		<integer>10</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-30</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>-20</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>-40</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>-30</integer>
		<key>@MMK_R_knShI</key>
		<integer>15</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>-40</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_knSsa</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>-60</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>20</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>10</integer>
		<key>@MMK_R_knRI</key>
		<integer>-10</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>30</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>20</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>20</integer>
		<key>@MMK_R_knSha</key>
		<integer>25</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>0</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_knTa</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-20</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-10</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>-20</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>-20</integer>
		<key>@MMK_R_knRI</key>
		<integer>-5</integer>
		<key>@MMK_R_knRvocal</key>
		<integer>10</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>-20</integer>
		<key>@MMK_R_knShI</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_knTta</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_knU</key>
	<dict>
		<key>@MMK_R__braceright</key>
		<integer>-30</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-90</integer>
		<key>@MMK_R_knA</key>
		<integer>10</integer>
		<key>@MMK_R_knO</key>
		<integer>-10</integer>
		<key>@MMK_R_knRI</key>
		<integer>-15</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>5</integer>
		<key>@MMK_R_knRvocal</key>
		<integer>15</integer>
		<key>@MMK_R_knShI</key>
		<integer>-40</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_knUu</key>
	<dict>
		<key>@MMK_R__quoteright</key>
		<integer>-75</integer>
		<key>@MMK_R_knAilength</key>
		<integer>-30</integer>
		<key>@MMK_R_knE</key>
		<integer>-5</integer>
		<key>@MMK_R_knI</key>
		<integer>-5</integer>
		<key>@MMK_R_knRI</key>
		<integer>-35</integer>
		<key>@MMK_R_knShI</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_knYaC2</key>
	<dict>
		<key>@MMK_R__colon</key>
		<integer>40</integer>
		<key>@MMK_R__quoteright</key>
		<integer>-200</integer>
		<key>@MMK_R_knA</key>
		<integer>-40</integer>
		<key>@MMK_R_knAi</key>
		<integer>-30</integer>
		<key>@MMK_R_knAilength</key>
		<integer>195</integer>
		<key>@MMK_R_knDI</key>
		<integer>-10</integer>
		<key>@MMK_R_knDaC2</key>
		<integer>260</integer>
		<key>@MMK_R_knI</key>
		<integer>-90</integer>
		<key>@MMK_R_knKSsa</key>
		<integer>-40</integer>
		<key>@MMK_R_knKa</key>
		<integer>-45</integer>
		<key>@MMK_R_knKaC2</key>
		<integer>100</integer>
		<key>@MMK_R_knKha</key>
		<integer>20</integer>
		<key>@MMK_R_knLla</key>
		<integer>-85</integer>
		<key>@MMK_R_knLvocalsign</key>
		<integer>250</integer>
		<key>@MMK_R_knNgaC2</key>
		<integer>290</integer>
		<key>@MMK_R_knPaC2</key>
		<integer>260</integer>
		<key>@MMK_R_knRI</key>
		<integer>-40</integer>
		<key>@MMK_R_knRa</key>
		<integer>-20</integer>
		<key>@MMK_R_knRaC2</key>
		<integer>500</integer>
		<key>@MMK_R_knRvocal</key>
		<integer>30</integer>
		<key>@MMK_R_knRvocalsign</key>
		<integer>145</integer>
		<key>@MMK_R_knSa</key>
		<integer>10</integer>
		<key>@MMK_R_knSaC2</key>
		<integer>240</integer>
		<key>@MMK_R_knShI</key>
		<integer>-35</integer>
		<key>@MMK_R_knTaC2</key>
		<integer>480</integer>
		<key>@MMK_R_knTtaC2</key>
		<integer>305</integer>
	</dict>
</dict>
</plist>
