<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecmb</key>
	<string>acutecmb.glif</string>
	<key>acutecmb.cap</key>
	<string>acutecmb.cap.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecmb</key>
	<string>brevecmb.glif</string>
	<key>brevecmb.cap</key>
	<string>brevecmb.cap.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncmb</key>
	<string>caroncmb.glif</string>
	<key>caroncmb.cap</key>
	<string>caroncmb.cap.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacmb</key>
	<string>cedillacmb.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcmb</key>
	<string>circumflexcmb.glif</string>
	<key>circumflexcmb.cap</key>
	<string>circumflexcmb.cap.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaboverightcmb</key>
	<string>commaaboverightcmb.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresisbelowcmb</key>
	<string>dieresisbelowcmb.glif</string>
	<key>dieresiscmb</key>
	<string>dieresiscmb.glif</string>
	<key>dieresiscmb.cap</key>
	<string>dieresiscmb.cap.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcmb</key>
	<string>dotaccentcmb.glif</string>
	<key>dotaccentcmb.cap</key>
	<string>dotaccentcmb.cap.glif</string>
	<key>dotbelowcmb</key>
	<string>dotbelowcmb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecmb</key>
	<string>gravecmb.glif</string>
	<key>gravecmb.cap</key>
	<string>gravecmb.cap.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcmb</key>
	<string>hungarumlautcmb.glif</string>
	<key>hungarumlautcmb.cap</key>
	<string>hungarumlautcmb.cap.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>knA</key>
	<string>knA_.glif</string>
	<key>knAa</key>
	<string>knA_a.glif</string>
	<key>knAasign</key>
	<string>knA_asign.glif</string>
	<key>knAi</key>
	<string>knA_i.glif</string>
	<key>knAisign</key>
	<string>knA_isign.glif</string>
	<key>knAnusvara</key>
	<string>knA_nusvara.glif</string>
	<key>knAu</key>
	<string>knA_u.glif</string>
	<key>knAusign</key>
	<string>knA_usign.glif</string>
	<key>knBI</key>
	<string>knB_I_.glif</string>
	<key>knBa</key>
	<string>knB_a.glif</string>
	<key>knBha</key>
	<string>knB_ha.glif</string>
	<key>knCa</key>
	<string>knC_a.glif</string>
	<key>knCha</key>
	<string>knC_ha.glif</string>
	<key>knDa</key>
	<string>knD_a.glif</string>
	<key>knDa.a</key>
	<string>knD_a.a.glif</string>
	<key>knDa.c2</key>
	<string>knD_a.c2.glif</string>
	<key>knDda</key>
	<string>knD_da.glif</string>
	<key>knDdha</key>
	<string>knD_dha.glif</string>
	<key>knDha</key>
	<string>knD_ha.glif</string>
	<key>knE</key>
	<string>knE_.glif</string>
	<key>knEe</key>
	<string>knE_e.glif</string>
	<key>knEesign</key>
	<string>knE_esign.glif</string>
	<key>knEsign</key>
	<string>knE_sign.glif</string>
	<key>knGa</key>
	<string>knG_a.glif</string>
	<key>knGha</key>
	<string>knG_ha.glif</string>
	<key>knHa</key>
	<string>knH_a.glif</string>
	<key>knI</key>
	<string>knI_.glif</string>
	<key>knIi</key>
	<string>knI_i.glif</string>
	<key>knIisign</key>
	<string>knI_isign.glif</string>
	<key>knIsign</key>
	<string>knI_sign.glif</string>
	<key>knJa</key>
	<string>knJ_a.glif</string>
	<key>knJha</key>
	<string>knJ_ha.glif</string>
	<key>knKa</key>
	<string>knK_a.glif</string>
	<key>knKha</key>
	<string>knK_ha.glif</string>
	<key>knLa</key>
	<string>knL_a.glif</string>
	<key>knLength</key>
	<string>knL_ength.glif</string>
	<key>knLla</key>
	<string>knL_la.glif</string>
	<key>knLvocal</key>
	<string>knL_vocal.glif</string>
	<key>knMO</key>
	<string>knM_O_.glif</string>
	<key>knMa</key>
	<string>knM_a.glif</string>
	<key>knNa</key>
	<string>knN_a.glif</string>
	<key>knNa.a</key>
	<string>knN_a.a.glif</string>
	<key>knNa.c2</key>
	<string>knN_a.c2.glif</string>
	<key>knNga</key>
	<string>knN_ga.glif</string>
	<key>knNga.copy_1</key>
	<string>knN_ga.copy_1.glif</string>
	<key>knNna</key>
	<string>knN_na.glif</string>
	<key>knNya</key>
	<string>knN_ya.glif</string>
	<key>knO</key>
	<string>knO_.glif</string>
	<key>knOo</key>
	<string>knO_o.glif</string>
	<key>knOosign</key>
	<string>knO_osign.glif</string>
	<key>knOsign</key>
	<string>knO_sign.glif</string>
	<key>knPI</key>
	<string>knP_I_.glif</string>
	<key>knPa</key>
	<string>knP_a.glif</string>
	<key>knPha</key>
	<string>knP_ha.glif</string>
	<key>knRI</key>
	<string>knR_I_.glif</string>
	<key>knRa</key>
	<string>knR_a.glif</string>
	<key>knRrvocal</key>
	<string>knR_rvocal.glif</string>
	<key>knRrvocalsign</key>
	<string>knR_rvocalsign.glif</string>
	<key>knRvocal</key>
	<string>knR_vocal.glif</string>
	<key>knRvocalsign</key>
	<string>knR_vocalsign.glif</string>
	<key>knSa</key>
	<string>knS_a.glif</string>
	<key>knSha</key>
	<string>knS_ha.glif</string>
	<key>knSsa</key>
	<string>knS_sa.glif</string>
	<key>knTa</key>
	<string>knT_a.glif</string>
	<key>knTha</key>
	<string>knT_ha.glif</string>
	<key>knTta</key>
	<string>knT_ta.glif</string>
	<key>knTtha</key>
	<string>knT_tha.glif</string>
	<key>knTtha.copy_1</key>
	<string>knT_tha.copy_1.glif</string>
	<key>knU</key>
	<string>knU_.glif</string>
	<key>knUsign</key>
	<string>knU_sign.glif</string>
	<key>knUsign.b</key>
	<string>knU_sign.b.glif</string>
	<key>knUu</key>
	<string>knU_u.glif</string>
	<key>knUusign</key>
	<string>knU_usign.glif</string>
	<key>knUusign.b</key>
	<string>knU_usign.b.glif</string>
	<key>knVa</key>
	<string>knV_a.glif</string>
	<key>knVirama</key>
	<string>knV_irama.glif</string>
	<key>knVisarga</key>
	<string>knV_isarga.glif</string>
	<key>knYa</key>
	<string>knY_a.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macronbelowcmb</key>
	<string>macronbelowcmb.glif</string>
	<key>macroncmb</key>
	<string>macroncmb.glif</string>
	<key>macroncmb.cap</key>
	<string>macroncmb.cap.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcmb</key>
	<string>ogonekcmb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcmb</key>
	<string>ringcmb.glif</string>
	<key>ringcmb.cap</key>
	<string>ringcmb.cap.glif</string>
	<key>rupeeindian</key>
	<string>rupeeindian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecmb</key>
	<string>tildecmb.glif</string>
	<key>tildecmb.cap</key>
	<string>tildecmb.cap.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00B5</key>
	<string>uni00B_5.glif</string>
	<key>uni015E</key>
	<string>uni015E_.glif</string>
	<key>uni015F</key>
	<string>uni015F_.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni02C9</key>
	<string>uni02C_9.glif</string>
	<key>uni0326</key>
	<string>uni0326.glif</string>
	<key>uni20BA</key>
	<string>uni20B_A_.glif</string>
	<key>uni20BD</key>
	<string>uni20B_D_.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
