<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a-kannada</key>
	<string>a-kannada.glif</string>
	<key>aa-kannada</key>
	<string>aa-kannada.glif</string>
	<key>aaMatra-kannada</key>
	<string>aaMatra-kannada_.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecmb</key>
	<string>acutecmb.glif</string>
	<key>acutecmb.cap</key>
	<string>acutecmb.cap.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ai-kannada</key>
	<string>ai-kannada.glif</string>
	<key>aiMatra-kannada</key>
	<string>aiMatra-kannada_.glif</string>
	<key>ailength-kannada</key>
	<string>ailength-kannada.glif</string>
	<key>ailength-kannada.following</key>
	<string>ailength-kannada.following.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anusvara-kannada</key>
	<string>anusvara-kannada.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>au-kannada</key>
	<string>au-kannada.glif</string>
	<key>auMatra-kannada</key>
	<string>auMatra-kannada_.glif</string>
	<key>avagraha-kannada</key>
	<string>avagraha-kannada.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b-kannada</key>
	<string>b-kannada.glif</string>
	<key>ba-kannada</key>
	<string>ba-kannada.glif</string>
	<key>ba-kannada.base</key>
	<string>ba-kannada.base.glif</string>
	<key>ba-kannada.below</key>
	<string>ba-kannada.below.glif</string>
	<key>ba-kannada.below.following</key>
	<string>ba-kannada.below.following.glif</string>
	<key>baa-kannada</key>
	<string>baa-kannada.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bau-kannada</key>
	<string>bau-kannada.glif</string>
	<key>be-kannada</key>
	<string>be-kannada.glif</string>
	<key>bh-kannada</key>
	<string>bh-kannada.glif</string>
	<key>bha-kannada</key>
	<string>bha-kannada.glif</string>
	<key>bha-kannada.base</key>
	<string>bha-kannada.base.glif</string>
	<key>bha-kannada.below</key>
	<string>bha-kannada.below.glif</string>
	<key>bha-kannada.below.following</key>
	<string>bha-kannada.below.following.glif</string>
	<key>bhaa-kannada</key>
	<string>bhaa-kannada.glif</string>
	<key>bhau-kannada</key>
	<string>bhau-kannada.glif</string>
	<key>bhe-kannada</key>
	<string>bhe-kannada.glif</string>
	<key>bhi-kannada</key>
	<string>bhi-kannada.glif</string>
	<key>bho-kannada</key>
	<string>bho-kannada.glif</string>
	<key>bhu-kannada</key>
	<string>bhu-kannada.glif</string>
	<key>bhuu-kannada</key>
	<string>bhuu-kannada.glif</string>
	<key>bi-kannada</key>
	<string>bi-kannada.glif</string>
	<key>bo-kannada</key>
	<string>bo-kannada.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecmb</key>
	<string>brevecmb.glif</string>
	<key>brevecmb.cap</key>
	<string>brevecmb.cap.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bu-kannada</key>
	<string>bu-kannada.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>buu-kannada</key>
	<string>buu-kannada.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c-kannada</key>
	<string>c-kannada.glif</string>
	<key>ca-kannada</key>
	<string>ca-kannada.glif</string>
	<key>ca-kannada.base</key>
	<string>ca-kannada.base.glif</string>
	<key>ca-kannada.below</key>
	<string>ca-kannada.below.glif</string>
	<key>ca-kannada.below.following</key>
	<string>ca-kannada.below.following.glif</string>
	<key>caa-kannada</key>
	<string>caa-kannada.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>candrabindu-kannada</key>
	<string>candrabindu-kannada.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncmb</key>
	<string>caroncmb.glif</string>
	<key>caroncmb.cap</key>
	<string>caroncmb.cap.glif</string>
	<key>cau-kannada</key>
	<string>cau-kannada.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ce-kannada</key>
	<string>ce-kannada.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacmb</key>
	<string>cedillacmb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>ch-kannada</key>
	<string>ch-kannada.glif</string>
	<key>cha-kannada</key>
	<string>cha-kannada.glif</string>
	<key>cha-kannada.base</key>
	<string>cha-kannada.base.glif</string>
	<key>cha-kannada.below</key>
	<string>cha-kannada.below.glif</string>
	<key>cha-kannada.below.following</key>
	<string>cha-kannada.below.following.glif</string>
	<key>chaa-kannada</key>
	<string>chaa-kannada.glif</string>
	<key>chau-kannada</key>
	<string>chau-kannada.glif</string>
	<key>che-kannada</key>
	<string>che-kannada.glif</string>
	<key>chi-kannada</key>
	<string>chi-kannada.glif</string>
	<key>cho-kannada</key>
	<string>cho-kannada.glif</string>
	<key>chu-kannada</key>
	<string>chu-kannada.glif</string>
	<key>chuu-kannada</key>
	<string>chuu-kannada.glif</string>
	<key>ci-kannada</key>
	<string>ci-kannada.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcmb</key>
	<string>circumflexcmb.glif</string>
	<key>circumflexcmb.cap</key>
	<string>circumflexcmb.cap.glif</string>
	<key>co-kannada</key>
	<string>co-kannada.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>commaaccentcmb</key>
	<string>commaaccentcmb.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>cu-kannada</key>
	<string>cu-kannada.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>cuu-kannada</key>
	<string>cuu-kannada.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d-kannada</key>
	<string>d-kannada.glif</string>
	<key>da-kannada</key>
	<string>da-kannada.glif</string>
	<key>da-kannada.base</key>
	<string>da-kannada.base.glif</string>
	<key>da-kannada.below</key>
	<string>da-kannada.below.glif</string>
	<key>da-kannada.below.following</key>
	<string>da-kannada.below.following.glif</string>
	<key>daa-kannada</key>
	<string>daa-kannada.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dau-kannada</key>
	<string>dau-kannada.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dd-kannada</key>
	<string>dd-kannada.glif</string>
	<key>dda-kannada</key>
	<string>dda-kannada.glif</string>
	<key>dda-kannada.base</key>
	<string>dda-kannada.base.glif</string>
	<key>dda-kannada.below</key>
	<string>dda-kannada.below.glif</string>
	<key>dda-kannada.below.following</key>
	<string>dda-kannada.below.following.glif</string>
	<key>ddaa-kannada</key>
	<string>ddaa-kannada.glif</string>
	<key>ddau-kannada</key>
	<string>ddau-kannada.glif</string>
	<key>dde-kannada</key>
	<string>dde-kannada.glif</string>
	<key>ddh-kannada</key>
	<string>ddh-kannada.glif</string>
	<key>ddha-kannada</key>
	<string>ddha-kannada.glif</string>
	<key>ddha-kannada.base</key>
	<string>ddha-kannada.base.glif</string>
	<key>ddha-kannada.below</key>
	<string>ddha-kannada.below.glif</string>
	<key>ddha-kannada.below.following</key>
	<string>ddha-kannada.below.following.glif</string>
	<key>ddhaa-kannada</key>
	<string>ddhaa-kannada.glif</string>
	<key>ddhau-kannada</key>
	<string>ddhau-kannada.glif</string>
	<key>ddhe-kannada</key>
	<string>ddhe-kannada.glif</string>
	<key>ddhi-kannada</key>
	<string>ddhi-kannada.glif</string>
	<key>ddho-kannada</key>
	<string>ddho-kannada.glif</string>
	<key>ddhu-kannada</key>
	<string>ddhu-kannada.glif</string>
	<key>ddhuu-kannada</key>
	<string>ddhuu-kannada.glif</string>
	<key>ddi-kannada</key>
	<string>ddi-kannada.glif</string>
	<key>ddo-kannada</key>
	<string>ddo-kannada.glif</string>
	<key>ddu-kannada</key>
	<string>ddu-kannada.glif</string>
	<key>dduu-kannada</key>
	<string>dduu-kannada.glif</string>
	<key>de-kannada</key>
	<string>de-kannada.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dh-kannada</key>
	<string>dh-kannada.glif</string>
	<key>dha-kannada</key>
	<string>dha-kannada.glif</string>
	<key>dha-kannada.base</key>
	<string>dha-kannada.base.glif</string>
	<key>dha-kannada.below</key>
	<string>dha-kannada.below.glif</string>
	<key>dha-kannada.below.following</key>
	<string>dha-kannada.below.following.glif</string>
	<key>dhaa-kannada</key>
	<string>dhaa-kannada.glif</string>
	<key>dhau-kannada</key>
	<string>dhau-kannada.glif</string>
	<key>dhe-kannada</key>
	<string>dhe-kannada.glif</string>
	<key>dhi-kannada</key>
	<string>dhi-kannada.glif</string>
	<key>dho-kannada</key>
	<string>dho-kannada.glif</string>
	<key>dhu-kannada</key>
	<string>dhu-kannada.glif</string>
	<key>dhuu-kannada</key>
	<string>dhuu-kannada.glif</string>
	<key>di-kannada</key>
	<string>di-kannada.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscmb</key>
	<string>dieresiscmb.glif</string>
	<key>dieresiscmb.cap</key>
	<string>dieresiscmb.cap.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>do-kannada</key>
	<string>do-kannada.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcmb</key>
	<string>dotaccentcmb.glif</string>
	<key>dotaccentcmb.cap</key>
	<string>dotaccentcmb.cap.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>du-kannada</key>
	<string>du-kannada.glif</string>
	<key>duu-kannada</key>
	<string>duu-kannada.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e-kannada</key>
	<string>e-kannada.glif</string>
	<key>eMatra-kannada</key>
	<string>eMatra-kannada_.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>ee-kannada</key>
	<string>ee-kannada.glif</string>
	<key>eeMatra-kannada</key>
	<string>eeMatra-kannada_.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight-kannada</key>
	<string>eight-kannada.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>ethslash</key>
	<string>ethslash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f-kannada</key>
	<string>f-kannada.glif</string>
	<key>fa-kannada</key>
	<string>fa-kannada.glif</string>
	<key>fa-kannada.base</key>
	<string>fa-kannada.base.glif</string>
	<key>fa-kannada.below</key>
	<string>fa-kannada.below.glif</string>
	<key>fa-kannada.below.following</key>
	<string>fa-kannada.below.following.glif</string>
	<key>faa-kannada</key>
	<string>faa-kannada.glif</string>
	<key>fau-kannada</key>
	<string>fau-kannada.glif</string>
	<key>fe-kannada</key>
	<string>fe-kannada.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>fi-kannada</key>
	<string>fi-kannada.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five-kannada</key>
	<string>five-kannada.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>fo-kannada</key>
	<string>fo-kannada.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four-kannada</key>
	<string>four-kannada.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>fu-kannada</key>
	<string>fu-kannada.glif</string>
	<key>fuu-kannada</key>
	<string>fuu-kannada.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g-kannada</key>
	<string>g-kannada.glif</string>
	<key>ga-kannada</key>
	<string>ga-kannada.glif</string>
	<key>ga-kannada.base</key>
	<string>ga-kannada.base.glif</string>
	<key>ga-kannada.below</key>
	<string>ga-kannada.below.glif</string>
	<key>ga-kannada.below.following</key>
	<string>ga-kannada.below.following.glif</string>
	<key>gaa-kannada</key>
	<string>gaa-kannada.glif</string>
	<key>gau-kannada</key>
	<string>gau-kannada.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>ge-kannada</key>
	<string>ge-kannada.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gh-kannada</key>
	<string>gh-kannada.glif</string>
	<key>gha-kannada</key>
	<string>gha-kannada.glif</string>
	<key>gha-kannada.base</key>
	<string>gha-kannada.base.glif</string>
	<key>gha-kannada.below</key>
	<string>gha-kannada.below.glif</string>
	<key>gha-kannada.below.following</key>
	<string>gha-kannada.below.following.glif</string>
	<key>ghaa-kannada</key>
	<string>ghaa-kannada.glif</string>
	<key>ghau-kannada</key>
	<string>ghau-kannada.glif</string>
	<key>ghe-kannada</key>
	<string>ghe-kannada.glif</string>
	<key>ghi-kannada</key>
	<string>ghi-kannada.glif</string>
	<key>gho-kannada</key>
	<string>gho-kannada.glif</string>
	<key>ghu-kannada</key>
	<string>ghu-kannada.glif</string>
	<key>ghuu-kannada</key>
	<string>ghuu-kannada.glif</string>
	<key>gi-kannada</key>
	<string>gi-kannada.glif</string>
	<key>go-kannada</key>
	<string>go-kannada.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecmb</key>
	<string>gravecmb.glif</string>
	<key>gravecmb.cap</key>
	<string>gravecmb.cap.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>gu-kannada</key>
	<string>gu-kannada.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guu-kannada</key>
	<string>guu-kannada.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h-kannada</key>
	<string>h-kannada.glif</string>
	<key>ha-kannada</key>
	<string>ha-kannada.glif</string>
	<key>ha-kannada.base</key>
	<string>ha-kannada.base.glif</string>
	<key>ha-kannada.below</key>
	<string>ha-kannada.below.glif</string>
	<key>ha-kannada.below.following</key>
	<string>ha-kannada.below.following.glif</string>
	<key>haa-kannada</key>
	<string>haa-kannada.glif</string>
	<key>halant-kannada</key>
	<string>halant-kannada.glif</string>
	<key>hau-kannada</key>
	<string>hau-kannada.glif</string>
	<key>he-kannada</key>
	<string>he-kannada.glif</string>
	<key>hi-kannada</key>
	<string>hi-kannada.glif</string>
	<key>ho-kannada</key>
	<string>ho-kannada.glif</string>
	<key>hu-kannada</key>
	<string>hu-kannada.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcmb</key>
	<string>hungarumlautcmb.glif</string>
	<key>hungarumlautcmb.cap</key>
	<string>hungarumlautcmb.cap.glif</string>
	<key>huu-kannada</key>
	<string>huu-kannada.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i-kannada</key>
	<string>i-kannada.glif</string>
	<key>iMatra-kannada</key>
	<string>iMatra-kannada_.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ii-kannada</key>
	<string>ii-kannada.glif</string>
	<key>iiMatra-kannada</key>
	<string>iiMatra-kannada_.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>indianrupee</key>
	<string>indianrupee.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j-kannada</key>
	<string>j-kannada.glif</string>
	<key>ja-kannada</key>
	<string>ja-kannada.glif</string>
	<key>ja-kannada.base</key>
	<string>ja-kannada.base.glif</string>
	<key>ja-kannada.below</key>
	<string>ja-kannada.below.glif</string>
	<key>ja-kannada.below.following</key>
	<string>ja-kannada.below.following.glif</string>
	<key>jaa-kannada</key>
	<string>jaa-kannada.glif</string>
	<key>jau-kannada</key>
	<string>jau-kannada.glif</string>
	<key>je-kannada</key>
	<string>je-kannada.glif</string>
	<key>jh-kannada</key>
	<string>jh-kannada.glif</string>
	<key>jha-kannada</key>
	<string>jha-kannada.glif</string>
	<key>jha-kannada.base</key>
	<string>jha-kannada.base.glif</string>
	<key>jha-kannada.below</key>
	<string>jha-kannada.below.glif</string>
	<key>jha-kannada.below.following</key>
	<string>jha-kannada.below.following.glif</string>
	<key>jhaa-kannada</key>
	<string>jhaa-kannada.glif</string>
	<key>jhau-kannada</key>
	<string>jhau-kannada.glif</string>
	<key>jhe-kannada</key>
	<string>jhe-kannada.glif</string>
	<key>jhi-kannada</key>
	<string>jhi-kannada.glif</string>
	<key>jho-kannada</key>
	<string>jho-kannada.glif</string>
	<key>jhu-kannada</key>
	<string>jhu-kannada.glif</string>
	<key>jhuu-kannada</key>
	<string>jhuu-kannada.glif</string>
	<key>ji-kannada</key>
	<string>ji-kannada.glif</string>
	<key>jihvamuliya-kannada</key>
	<string>jihvamuliya-kannada.glif</string>
	<key>jo-kannada</key>
	<string>jo-kannada.glif</string>
	<key>ju-kannada</key>
	<string>ju-kannada.glif</string>
	<key>juu-kannada</key>
	<string>juu-kannada.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k-kannada</key>
	<string>k-kannada.glif</string>
	<key>ka-kannada</key>
	<string>ka-kannada.glif</string>
	<key>ka-kannada.base</key>
	<string>ka-kannada.base.glif</string>
	<key>ka-kannada.below</key>
	<string>ka-kannada.below.glif</string>
	<key>ka-kannada.below.following</key>
	<string>ka-kannada.below.following.glif</string>
	<key>ka_ssa-kannada.below</key>
	<string>ka_ssa-kannada.below.glif</string>
	<key>ka_ssa-kannada.below.following</key>
	<string>ka_ssa-kannada.below.following.glif</string>
	<key>kaa-kannada</key>
	<string>kaa-kannada.glif</string>
	<key>kau-kannada</key>
	<string>kau-kannada.glif</string>
	<key>ke-kannada</key>
	<string>ke-kannada.glif</string>
	<key>kh-kannada</key>
	<string>kh-kannada.glif</string>
	<key>kha-kannada</key>
	<string>kha-kannada.glif</string>
	<key>kha-kannada.base</key>
	<string>kha-kannada.base.glif</string>
	<key>kha-kannada.below</key>
	<string>kha-kannada.below.glif</string>
	<key>kha-kannada.below.following</key>
	<string>kha-kannada.below.following.glif</string>
	<key>khaa-kannada</key>
	<string>khaa-kannada.glif</string>
	<key>khau-kannada</key>
	<string>khau-kannada.glif</string>
	<key>khe-kannada</key>
	<string>khe-kannada.glif</string>
	<key>khi-kannada</key>
	<string>khi-kannada.glif</string>
	<key>kho-kannada</key>
	<string>kho-kannada.glif</string>
	<key>khu-kannada</key>
	<string>khu-kannada.glif</string>
	<key>khuu-kannada</key>
	<string>khuu-kannada.glif</string>
	<key>ki-kannada</key>
	<string>ki-kannada.glif</string>
	<key>ko-kannada</key>
	<string>ko-kannada.glif</string>
	<key>ku-kannada</key>
	<string>ku-kannada.glif</string>
	<key>kuu-kannada</key>
	<string>kuu-kannada.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l-kannada</key>
	<string>l-kannada.glif</string>
	<key>lVocalic-kannada</key>
	<string>lVocalic-kannada_.glif</string>
	<key>lVocalicMatra-kannada</key>
	<string>lVocalicMatra-kannada_.glif</string>
	<key>la-kannada</key>
	<string>la-kannada.glif</string>
	<key>la-kannada.base</key>
	<string>la-kannada.base.glif</string>
	<key>la-kannada.below</key>
	<string>la-kannada.below.glif</string>
	<key>la-kannada.below.following</key>
	<string>la-kannada.below.following.glif</string>
	<key>laa-kannada</key>
	<string>laa-kannada.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lau-kannada</key>
	<string>lau-kannada.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>le-kannada</key>
	<string>le-kannada.glif</string>
	<key>length-kannada</key>
	<string>length-kannada.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>li-kannada</key>
	<string>li-kannada.glif</string>
	<key>ll-kannada</key>
	<string>ll-kannada.glif</string>
	<key>llVocalic-kannada</key>
	<string>llVocalic-kannada_.glif</string>
	<key>llVocalicMatra-kannada</key>
	<string>llVocalicMatra-kannada_.glif</string>
	<key>lla-kannada</key>
	<string>lla-kannada.glif</string>
	<key>lla-kannada.base</key>
	<string>lla-kannada.base.glif</string>
	<key>lla-kannada.below</key>
	<string>lla-kannada.below.glif</string>
	<key>lla-kannada.below.following</key>
	<string>lla-kannada.below.following.glif</string>
	<key>llaa-kannada</key>
	<string>llaa-kannada.glif</string>
	<key>llau-kannada</key>
	<string>llau-kannada.glif</string>
	<key>lle-kannada</key>
	<string>lle-kannada.glif</string>
	<key>lli-kannada</key>
	<string>lli-kannada.glif</string>
	<key>llo-kannada</key>
	<string>llo-kannada.glif</string>
	<key>llu-kannada</key>
	<string>llu-kannada.glif</string>
	<key>lluu-kannada</key>
	<string>lluu-kannada.glif</string>
	<key>lo-kannada</key>
	<string>lo-kannada.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lu-kannada</key>
	<string>lu-kannada.glif</string>
	<key>luu-kannada</key>
	<string>luu-kannada.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m-kannada</key>
	<string>m-kannada.glif</string>
	<key>ma-kannada</key>
	<string>ma-kannada.glif</string>
	<key>ma-kannada.base</key>
	<string>ma-kannada.base.glif</string>
	<key>ma-kannada.below</key>
	<string>ma-kannada.below.glif</string>
	<key>ma-kannada.below.following</key>
	<string>ma-kannada.below.following.glif</string>
	<key>maa-kannada</key>
	<string>maa-kannada.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncmb</key>
	<string>macroncmb.glif</string>
	<key>macroncmb.cap</key>
	<string>macroncmb.cap.glif</string>
	<key>mau-kannada</key>
	<string>mau-kannada.glif</string>
	<key>me-kannada</key>
	<string>me-kannada.glif</string>
	<key>mi-kannada</key>
	<string>mi-kannada.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mo-kannada</key>
	<string>mo-kannada.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>mu-kannada</key>
	<string>mu-kannada.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>muu-kannada</key>
	<string>muu-kannada.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n-kannada</key>
	<string>n-kannada.glif</string>
	<key>na-kannada</key>
	<string>na-kannada.glif</string>
	<key>na-kannada.base</key>
	<string>na-kannada.base.glif</string>
	<key>na-kannada.below</key>
	<string>na-kannada.below.glif</string>
	<key>na-kannada.below.following</key>
	<string>na-kannada.below.following.glif</string>
	<key>naa-kannada</key>
	<string>naa-kannada.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nau-kannada</key>
	<string>nau-kannada.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ne-kannada</key>
	<string>ne-kannada.glif</string>
	<key>ng-kannada</key>
	<string>ng-kannada.glif</string>
	<key>nga-kannada</key>
	<string>nga-kannada.glif</string>
	<key>nga-kannada.base</key>
	<string>nga-kannada.base.glif</string>
	<key>nga-kannada.below</key>
	<string>nga-kannada.below.glif</string>
	<key>nga-kannada.below.following</key>
	<string>nga-kannada.below.following.glif</string>
	<key>ngaa-kannada</key>
	<string>ngaa-kannada.glif</string>
	<key>ngau-kannada</key>
	<string>ngau-kannada.glif</string>
	<key>nge-kannada</key>
	<string>nge-kannada.glif</string>
	<key>ngi-kannada</key>
	<string>ngi-kannada.glif</string>
	<key>ngo-kannada</key>
	<string>ngo-kannada.glif</string>
	<key>ngu-kannada</key>
	<string>ngu-kannada.glif</string>
	<key>nguu-kannada</key>
	<string>nguu-kannada.glif</string>
	<key>ni-kannada</key>
	<string>ni-kannada.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine-kannada</key>
	<string>nine-kannada.glif</string>
	<key>nn-kannada</key>
	<string>nn-kannada.glif</string>
	<key>nna-kannada</key>
	<string>nna-kannada.glif</string>
	<key>nna-kannada.base</key>
	<string>nna-kannada.base.glif</string>
	<key>nna-kannada.below</key>
	<string>nna-kannada.below.glif</string>
	<key>nna-kannada.below.following</key>
	<string>nna-kannada.below.following.glif</string>
	<key>nnaa-kannada</key>
	<string>nnaa-kannada.glif</string>
	<key>nnau-kannada</key>
	<string>nnau-kannada.glif</string>
	<key>nne-kannada</key>
	<string>nne-kannada.glif</string>
	<key>nni-kannada</key>
	<string>nni-kannada.glif</string>
	<key>nno-kannada</key>
	<string>nno-kannada.glif</string>
	<key>nnu-kannada</key>
	<string>nnu-kannada.glif</string>
	<key>nnuu-kannada</key>
	<string>nnuu-kannada.glif</string>
	<key>no-kannada</key>
	<string>no-kannada.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nu-kannada</key>
	<string>nu-kannada.glif</string>
	<key>nukta-kannada</key>
	<string>nukta-kannada.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>nuu-kannada</key>
	<string>nuu-kannada.glif</string>
	<key>ny-kannada</key>
	<string>ny-kannada.glif</string>
	<key>nya-kannada</key>
	<string>nya-kannada.glif</string>
	<key>nya-kannada.base</key>
	<string>nya-kannada.base.glif</string>
	<key>nya-kannada.below</key>
	<string>nya-kannada.below.glif</string>
	<key>nya-kannada.below.following</key>
	<string>nya-kannada.below.following.glif</string>
	<key>nyaa-kannada</key>
	<string>nyaa-kannada.glif</string>
	<key>nyau-kannada</key>
	<string>nyau-kannada.glif</string>
	<key>nye-kannada</key>
	<string>nye-kannada.glif</string>
	<key>nyi-kannada</key>
	<string>nyi-kannada.glif</string>
	<key>nyo-kannada</key>
	<string>nyo-kannada.glif</string>
	<key>nyu-kannada</key>
	<string>nyu-kannada.glif</string>
	<key>nyuu-kannada</key>
	<string>nyuu-kannada.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o-kannada</key>
	<string>o-kannada.glif</string>
	<key>oMatra-kannada</key>
	<string>oMatra-kannada_.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcmb</key>
	<string>ogonekcmb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one-kannada</key>
	<string>one-kannada.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>oo-kannada</key>
	<string>oo-kannada.glif</string>
	<key>ooMatra-kannada</key>
	<string>ooMatra-kannada_.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p-kannada</key>
	<string>p-kannada.glif</string>
	<key>pa-kannada</key>
	<string>pa-kannada.glif</string>
	<key>pa-kannada.base</key>
	<string>pa-kannada.base.glif</string>
	<key>pa-kannada.below</key>
	<string>pa-kannada.below.glif</string>
	<key>pa-kannada.below.following</key>
	<string>pa-kannada.below.following.glif</string>
	<key>paa-kannada</key>
	<string>paa-kannada.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>pau-kannada</key>
	<string>pau-kannada.glif</string>
	<key>pe-kannada</key>
	<string>pe-kannada.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>ph-kannada</key>
	<string>ph-kannada.glif</string>
	<key>pha-kannada</key>
	<string>pha-kannada.glif</string>
	<key>pha-kannada.base</key>
	<string>pha-kannada.base.glif</string>
	<key>pha-kannada.below</key>
	<string>pha-kannada.below.glif</string>
	<key>pha-kannada.below.following</key>
	<string>pha-kannada.below.following.glif</string>
	<key>phaa-kannada</key>
	<string>phaa-kannada.glif</string>
	<key>phau-kannada</key>
	<string>phau-kannada.glif</string>
	<key>phe-kannada</key>
	<string>phe-kannada.glif</string>
	<key>phi-kannada</key>
	<string>phi-kannada.glif</string>
	<key>pho-kannada</key>
	<string>pho-kannada.glif</string>
	<key>phu-kannada</key>
	<string>phu-kannada.glif</string>
	<key>phuu-kannada</key>
	<string>phuu-kannada.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>pi-kannada</key>
	<string>pi-kannada.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>po-kannada</key>
	<string>po-kannada.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>pu-kannada</key>
	<string>pu-kannada.glif</string>
	<key>puu-kannada</key>
	<string>puu-kannada.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r-kannada</key>
	<string>r-kannada.glif</string>
	<key>rVocalic-kannada</key>
	<string>rVocalic-kannada_.glif</string>
	<key>rVocalic-kannada.following</key>
	<string>rVocalic-kannada_.following.glif</string>
	<key>rVocalicMatra-kannada</key>
	<string>rVocalicMatra-kannada_.glif</string>
	<key>ra-kannada</key>
	<string>ra-kannada.glif</string>
	<key>ra-kannada.base</key>
	<string>ra-kannada.base.glif</string>
	<key>ra-kannada.below</key>
	<string>ra-kannada.below.glif</string>
	<key>ra-kannada.below.following</key>
	<string>ra-kannada.below.following.glif</string>
	<key>raa-kannada</key>
	<string>raa-kannada.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rau-kannada</key>
	<string>rau-kannada.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>re-kannada</key>
	<string>re-kannada.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>reph-kannada</key>
	<string>reph-kannada.glif</string>
	<key>ri-kannada</key>
	<string>ri-kannada.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcmb</key>
	<string>ringcmb.glif</string>
	<key>ringcmb.cap</key>
	<string>ringcmb.cap.glif</string>
	<key>ro-kannada</key>
	<string>ro-kannada.glif</string>
	<key>rrVocalic-kannada</key>
	<string>rrVocalic-kannada_.glif</string>
	<key>rrVocalic-kannada.following</key>
	<string>rrVocalic-kannada_.following.glif</string>
	<key>rrVocalicMatra-kannada</key>
	<string>rrVocalicMatra-kannada_.glif</string>
	<key>ru-kannada</key>
	<string>ru-kannada.glif</string>
	<key>ruu-kannada</key>
	<string>ruu-kannada.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s-kannada</key>
	<string>s-kannada.glif</string>
	<key>sa-kannada</key>
	<string>sa-kannada.glif</string>
	<key>sa-kannada.base</key>
	<string>sa-kannada.base.glif</string>
	<key>sa-kannada.below</key>
	<string>sa-kannada.below.glif</string>
	<key>sa-kannada.below.following</key>
	<string>sa-kannada.below.following.glif</string>
	<key>saa-kannada</key>
	<string>saa-kannada.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>sau-kannada</key>
	<string>sau-kannada.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>se-kannada</key>
	<string>se-kannada.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven-kannada</key>
	<string>seven-kannada.glif</string>
	<key>sh-kannada</key>
	<string>sh-kannada.glif</string>
	<key>sha-kannada</key>
	<string>sha-kannada.glif</string>
	<key>sha-kannada.base</key>
	<string>sha-kannada.base.glif</string>
	<key>sha-kannada.below</key>
	<string>sha-kannada.below.glif</string>
	<key>sha-kannada.below.following</key>
	<string>sha-kannada.below.following.glif</string>
	<key>shaa-kannada</key>
	<string>shaa-kannada.glif</string>
	<key>shau-kannada</key>
	<string>shau-kannada.glif</string>
	<key>she-kannada</key>
	<string>she-kannada.glif</string>
	<key>shi-kannada</key>
	<string>shi-kannada.glif</string>
	<key>sho-kannada</key>
	<string>sho-kannada.glif</string>
	<key>shu-kannada</key>
	<string>shu-kannada.glif</string>
	<key>shuu-kannada</key>
	<string>shuu-kannada.glif</string>
	<key>si-kannada</key>
	<string>si-kannada.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six-kannada</key>
	<string>six-kannada.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>so-kannada</key>
	<string>so-kannada.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ss-kannada</key>
	<string>ss-kannada.glif</string>
	<key>ssa-kannada</key>
	<string>ssa-kannada.glif</string>
	<key>ssa-kannada.base</key>
	<string>ssa-kannada.base.glif</string>
	<key>ssa-kannada.below</key>
	<string>ssa-kannada.below.glif</string>
	<key>ssa-kannada.below.following</key>
	<string>ssa-kannada.below.following.glif</string>
	<key>ssa-kannada.below.kssa</key>
	<string>ssa-kannada.below.kssa.glif</string>
	<key>ssaa-kannada</key>
	<string>ssaa-kannada.glif</string>
	<key>ssau-kannada</key>
	<string>ssau-kannada.glif</string>
	<key>sse-kannada</key>
	<string>sse-kannada.glif</string>
	<key>ssi-kannada</key>
	<string>ssi-kannada.glif</string>
	<key>sso-kannada</key>
	<string>sso-kannada.glif</string>
	<key>ssu-kannada</key>
	<string>ssu-kannada.glif</string>
	<key>ssuu-kannada</key>
	<string>ssuu-kannada.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>su-kannada</key>
	<string>su-kannada.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>suu-kannada</key>
	<string>suu-kannada.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t-kannada</key>
	<string>t-kannada.glif</string>
	<key>ta-kannada</key>
	<string>ta-kannada.glif</string>
	<key>ta-kannada.base</key>
	<string>ta-kannada.base.glif</string>
	<key>ta-kannada.below</key>
	<string>ta-kannada.below.glif</string>
	<key>ta-kannada.below.following</key>
	<string>ta-kannada.below.following.glif</string>
	<key>ta_ra-kannada.below</key>
	<string>ta_ra-kannada.below.glif</string>
	<key>ta_ra-kannada.below.following</key>
	<string>ta_ra-kannada.below.following.glif</string>
	<key>taa-kannada</key>
	<string>taa-kannada.glif</string>
	<key>tau-kannada</key>
	<string>tau-kannada.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>te-kannada</key>
	<string>te-kannada.glif</string>
	<key>th-kannada</key>
	<string>th-kannada.glif</string>
	<key>tha-kannada</key>
	<string>tha-kannada.glif</string>
	<key>tha-kannada.base</key>
	<string>tha-kannada.base.glif</string>
	<key>tha-kannada.below</key>
	<string>tha-kannada.below.glif</string>
	<key>tha-kannada.below.following</key>
	<string>tha-kannada.below.following.glif</string>
	<key>thaa-kannada</key>
	<string>thaa-kannada.glif</string>
	<key>thau-kannada</key>
	<string>thau-kannada.glif</string>
	<key>the-kannada</key>
	<string>the-kannada.glif</string>
	<key>thi-kannada</key>
	<string>thi-kannada.glif</string>
	<key>tho-kannada</key>
	<string>tho-kannada.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three-kannada</key>
	<string>three-kannada.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>thu-kannada</key>
	<string>thu-kannada.glif</string>
	<key>thuu-kannada</key>
	<string>thuu-kannada.glif</string>
	<key>ti-kannada</key>
	<string>ti-kannada.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecmb</key>
	<string>tildecmb.glif</string>
	<key>tildecmb.cap</key>
	<string>tildecmb.cap.glif</string>
	<key>to-kannada</key>
	<string>to-kannada.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tt-kannada</key>
	<string>tt-kannada.glif</string>
	<key>tta-kannada</key>
	<string>tta-kannada.glif</string>
	<key>tta-kannada.base</key>
	<string>tta-kannada.base.glif</string>
	<key>tta-kannada.below</key>
	<string>tta-kannada.below.glif</string>
	<key>tta-kannada.below.following</key>
	<string>tta-kannada.below.following.glif</string>
	<key>ttaa-kannada</key>
	<string>ttaa-kannada.glif</string>
	<key>ttau-kannada</key>
	<string>ttau-kannada.glif</string>
	<key>tte-kannada</key>
	<string>tte-kannada.glif</string>
	<key>tth-kannada</key>
	<string>tth-kannada.glif</string>
	<key>ttha-kannada</key>
	<string>ttha-kannada.glif</string>
	<key>ttha-kannada.base</key>
	<string>ttha-kannada.base.glif</string>
	<key>ttha-kannada.below</key>
	<string>ttha-kannada.below.glif</string>
	<key>ttha-kannada.below.following</key>
	<string>ttha-kannada.below.following.glif</string>
	<key>tthaa-kannada</key>
	<string>tthaa-kannada.glif</string>
	<key>tthau-kannada</key>
	<string>tthau-kannada.glif</string>
	<key>tthe-kannada</key>
	<string>tthe-kannada.glif</string>
	<key>tthi-kannada</key>
	<string>tthi-kannada.glif</string>
	<key>ttho-kannada</key>
	<string>ttho-kannada.glif</string>
	<key>tthu-kannada</key>
	<string>tthu-kannada.glif</string>
	<key>tthuu-kannada</key>
	<string>tthuu-kannada.glif</string>
	<key>tti-kannada</key>
	<string>tti-kannada.glif</string>
	<key>tto-kannada</key>
	<string>tto-kannada.glif</string>
	<key>ttu-kannada</key>
	<string>ttu-kannada.glif</string>
	<key>ttuu-kannada</key>
	<string>ttuu-kannada.glif</string>
	<key>tu-kannada</key>
	<string>tu-kannada.glif</string>
	<key>tuu-kannada</key>
	<string>tuu-kannada.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two-kannada</key>
	<string>two-kannada.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u-kannada</key>
	<string>u-kannada.glif</string>
	<key>uMatra-kannada</key>
	<string>uMatra-kannada_.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni00AD</key>
	<string>uni00AD_.glif</string>
	<key>uni00B5</key>
	<string>uni00B5_.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni013B</key>
	<string>uni013B_.glif</string>
	<key>uni013C</key>
	<string>uni013C_.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni015E</key>
	<string>uni015E_.glif</string>
	<key>uni015F</key>
	<string>uni015F_.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni02C9</key>
	<string>uni02C9_.glif</string>
	<key>uni20BA</key>
	<string>uni20BA_.glif</string>
	<key>uni20BD</key>
	<string>uni20BD_.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>upadhmaniya-kannada</key>
	<string>upadhmaniya-kannada.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>uu-kannada</key>
	<string>uu-kannada.glif</string>
	<key>uuMatra-kannada</key>
	<string>uuMatra-kannada_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v-kannada</key>
	<string>v-kannada.glif</string>
	<key>va-kannada</key>
	<string>va-kannada.glif</string>
	<key>va-kannada.base</key>
	<string>va-kannada.base.glif</string>
	<key>va-kannada.below</key>
	<string>va-kannada.below.glif</string>
	<key>va-kannada.below.following</key>
	<string>va-kannada.below.following.glif</string>
	<key>vaa-kannada</key>
	<string>vaa-kannada.glif</string>
	<key>vau-kannada</key>
	<string>vau-kannada.glif</string>
	<key>ve-kannada</key>
	<string>ve-kannada.glif</string>
	<key>vi-kannada</key>
	<string>vi-kannada.glif</string>
	<key>visarga-kannada</key>
	<string>visarga-kannada.glif</string>
	<key>vo-kannada</key>
	<string>vo-kannada.glif</string>
	<key>vu-kannada</key>
	<string>vu-kannada.glif</string>
	<key>vuu-kannada</key>
	<string>vuu-kannada.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y-kannada</key>
	<string>y-kannada.glif</string>
	<key>ya-kannada</key>
	<string>ya-kannada.glif</string>
	<key>ya-kannada.base</key>
	<string>ya-kannada.base.glif</string>
	<key>ya-kannada.below</key>
	<string>ya-kannada.below.glif</string>
	<key>ya-kannada.below.following</key>
	<string>ya-kannada.below.following.glif</string>
	<key>yaa-kannada</key>
	<string>yaa-kannada.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yau-kannada</key>
	<string>yau-kannada.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ye-kannada</key>
	<string>ye-kannada.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yi-kannada</key>
	<string>yi-kannada.glif</string>
	<key>yo-kannada</key>
	<string>yo-kannada.glif</string>
	<key>yu-kannada</key>
	<string>yu-kannada.glif</string>
	<key>yuu-kannada</key>
	<string>yuu-kannada.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero-kannada</key>
	<string>zero-kannada.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
